{% extends 'carrefour/base.twig' %}

{# AVAILABLE VARIABLES #}
{#
- banners
	Each banner contains the following attributes:
	- langcode
	- title
	- status
	- created
	- changed
	- field_background_color
	- field_background_image
		- alt
		- title
		- width
		- height
		- url
	- field_banner_color_classes
	- field_banner_text
	- field_button_color
	- field_heading
	- field_heading_color
	- field_image_desktop
		- alt
		- title
		- width
		- height
		- url
	- field_image_front
		- alt
		- title
		- width
		- height
		- url
	- field_image_mobile
		- alt
		- title
		- width
		- height
		- url
	- field_link
		- uri
		- title
		- options
	- field_text_background_color
	- field_text_bg_transparency
	- field_text_color
	- field_text_position
- silos
	Each silo contains the following attributes:
	- langcode
	- title
	- status
	- created
	- changed
	- field_chapters
		Contains the chapters related to the current silo. Each chapter contains the following attributes:
		- langcode
		- status
		- created
		- changed
		- url
	- field_icon
- masonry_queue
	Contains all nodes in the Homepage masonry entity queue. See the detail page of each content type template for all
	available attributes.
- masonry_items
	Contains all masonry items automatically loaded per silo.
#}

{% block pageMain %}

	{# banners ----------------------------------------------------------- #}
	{% set bannerContentSingle = [{'bi':'bannerId-0', 'bbgc':'#fff', 'bbgo':'0.4', 'bhc':'#005aa9', 'btc':'#005aa9', 'blc':'#fff', 'blbc':'#005aa9', 'bh' : 'banner heading', 'ba' : '<p>banner abstract</p>','bll' : 'banner link','blu' : 'banner url','bim' : 'images/banner/banner1.jpg','bima' : 'main image alt','bimo' : 'images/banner/banner1-mobile.jpg','bif' : '','bifa' : "",'bib' : 'images/banner/banner1-bg.jpg','bcb' : '#ccc', 'bs':'style1'}] %}
	{% include 'carrefour/banner' with {'data':{'content':bannerContentSingle}} %}

	{% set bannerContentSingleVideo = [
		{'bi':'bannerId-10', 'bv' : 'bzy06Cp76hU', 'bim' : 'images/banner/banner1.jpg','bima' : 'main image alt','bimo' : 'images/banner/banner1-mobile.jpg','bif' : '','bifa' : "",'bib' : 'images/banner/banner1-bg.jpg','bcb' : '#ccc'},
		{'bi':'bannerId-11', 'bhc':'#444', 'btc':'#444',  'blc':'#000', 'blbc':'#0dd', 'bh' : 'Les produits Carrefour, d’abord parce que c’est bon...', 'ba' : '<p>banner abstract</p>','bll' : 'banner link','blu' : 'banner url','bim' : 'images/banner/banner2.jpg','bima' : 'main image alt','bimo' : 'images/banner/banner2-mobile.jpg','bif' : 'images/banner/banner2-front.png','bifa' : "front image alt",'bib' : 'images/banner/banner2-bg.jpg','bcb' : '#ccc', 'bs':'style2'}
	] %}
	{% include 'carrefour/banner' with {'data':{'content':bannerContentSingleVideo}} %}

	{% set bannerContentTriple = [
		{'bi':'bannerId-1', 'bbgc':'#fff', 'bbgo':'0.7', 'bhc':'#005aa9', 'btc':'#005aa9', 'bh' : 'banner heading 3', 'ba' : '<p>banner abstract</p>','bll' : 'banner link','blu' : 'banner url','bim' : '/images/banner/banner3.jpg','bima' : 'main image alt','bimo' : 'images/banner/banner3-mobile.jpg','bif' : '','bifa' : "",'bib' : 'images/banner/banner3-bg.jpg','bcb' : '#ccc', 'bs':'style2'},
		{'bi':'bannerId-2', 'bh' : 'Les produits Carrefour, d’abord parce que c’est bon...', 'ba' : '<p>banner abstract</p>','bll' : 'banner link','blu' : 'banner url','bim' : '/images/banner/banner2.jpg','bima' : 'main image alt','bimo' : 'images/banner/banner2-mobile.jpg','bif' : 'images/banner/banner2-front.png','bifa' : "front image alt",'bib' : 'images/banner/banner2-bg.jpg','bcb' : '#ccc', 'bs':'style1'},
		{'bi':'bannerId-3', 'bbgc':'#fff', 'bbgo':'0.7', 'bhc':'#005aa9', 'btc':'#005aa9', 'bh' : 'banner heading 3', 'ba' : '<p>banner abstract</p>','bll' : 'banner link','blu' : 'banner url','bim' : '/images/banner/banner3.jpg','bima' : 'main image alt','bimo' : 'images/banner/banner3-mobile.jpg','bif' : '','bifa' : "",'bib' : 'images/banner/banner3-bg.jpg','bcb' : '#ccc', 'bs':'style1'},
		{'bi':'bannerId-4', 'bhc':'#444', 'btc':'#444',  'blc':'#000', 'blbc':'#0dd', 'bh' : 'Les produits Carrefour, d’abord parce que c’est bon...', 'ba' : '<p>banner abstract</p>','bll' : 'banner link','blu' : 'banner url','bim' : 'images/banner/banner2.jpg','bima' : 'main image alt','bimo' : 'images/banner/banner2-mobile.jpg','bif' : 'images/banner/banner2-front.png','bifa' : "front image alt",'bib' : 'images/banner/banner2-bg.jpg','bcb' : '#ccc', 'bs':'style2'},
	] %}

	{% include 'carrefour/banner' with {'data':{'content':bannerContentTriple}} %}

	{# article ----------------------------------------------------------- #}
	{# content free #}
	{% set articleContentFree1 = {'type':'1', 'content':{'body':'<h2>a title</h2><p>a paragraph with text</p><ul><li>some list items</li><li>some more</li></ul><blockquote><p>a cool quote</p></blockquote>'}} %}

	{# content blocks #}
	{% set blocksBlock1 = {'style':'style1', 'heading':'', 'text':'<p>Pink Ribbon a décidé de soutenir plusieurs projets axés sur les soins psychosociaux aux patients et à leur entourage. Ces projets peuvent être soutenus soit par l’asbl Pink Ribbon et ses partenaires financiers, soit par le Fonds Pink Ribbon. Le Fonds permet de financer des projets concrets visant à améliorer les soins apportés aux patients et leur qualité de vie globale.</p>', 'linkLabel':'link label', 'linkURL':'#', 'imageSrc':'images/articles/contentblock-1.jpg', 'imageAlt':'content block image 1' } %}
	{% set blocksBlock2 = {'style':'style2', 'heading':'Family Hope', 'text':'<p>En matière d’oncofertilité, l’information des patientes et de leurs proches est essentielle. De récentes études montrent que les jeunes femmes touchées par le cancer du sein se sentent souvent dépourvues d’information concernant les possibilités de préserver leur fertilité avant, pendant  le traitement. </p>', 'linkLabel':'link label', 'linkURL':'#', 'imageSrc':'images/articles/contentblock-2.jpg', 'imageAlt':'content block image 2' } %}
	{% set blocks = [blocksBlock1, blocksBlock2] %}
	{% set articleContentBlock1 = {'type':'2', 'content':{'style':'style1', 'heading':'content block heading 1', 'blocks':blocks}} %}
	{% set articleContentBlock2 = {'type':'2', 'content':{'style':'style2', 'heading':'content block heading 2', 'blocks':blocks}} %}

	{# content slider #}
	{% set sliderArticle1 = {'ah':'article heading 1', 'imageSrc':'images/articles/article-figure-1.jpg'} %}
	{% set sliderArticle2 = {'ah':'article heading 2', 'imageSrc':'images/articles/article-figure-2.jpg'} %}
	{% set sliderArticle3 = {'ah':'article heading 3', 'imageSrc':'images/articles/article-figure-3.jpg'} %}
	{% set sliderArticle4 = {'ah':'article heading 4', 'imageSrc':'images/articles/article-figure-4.jpg'} %}
	{% set sliderArticles = [sliderArticle1, sliderArticle2, sliderArticle3, sliderArticle4] %}
	{% set articleContentSlider1 = {'type':'3', 'content':{'heading':'content slider heading', 'modules':sliderArticles}} %}

	{# content gallery #}
	{% set galleryImage1 = {'imageSrc':'images/articles/gallery-image-1.jpg'} %}
	{% set galleryImage2 = {'imageSrc':'images/articles/gallery-image-2.jpg'} %}
	{% set galleryImage3 = {'imageSrc':'images/articles/gallery-image-3.jpg'} %}
	{% set galleryImage4 = {'imageSrc':'images/articles/gallery-image-4.jpg'} %}
	{% set galleryImages = [galleryImage1, galleryImage2, galleryImage3, galleryImage4] %}
	{% set articleContentGallery1 = {'type':'4', 'content':{'heading':'content gallery heading', 'images':galleryImages}} %}

	{# content cta #}
	{% set articleContentCta = {'type':'5', 'content':{'heading':'Full highlighted line', 'byline':'For ex. newsletter subscribe', 'label':'Your CTA here', 'url':'#', 'imageSrc':'images/articles/content-cta-1.jpg'}} %}

	{# all article content blocks #}
	{% set articleBlocks = [articleContentFree1, articleContentBlock1, articleContentBlock2, articleContentSlider1, articleContentGallery1, articleContentCta] %}

	{# set article actions #}
	{% set articleAction1 = {'label':'facebook','url':'#', 'class':'facebook'} %}
	{% set articleAction2 = {'label':'twitter','url':'#', 'class':'twitter'} %}
	{% set articleAction3 = {'label':'pinterest','url':'#', 'class':'pinterest'} %}
	{% set articleAction4 = {'label':'email','url':'#', 'class':'email'} %}
	{% set articleAction5 = {'label':'print','url':'#', 'class':'print'} %}
	{% set articleAction6 = {'label':'download pdf','url':'#', 'class':'pdf'} %}
	{% set articleAction7 = {'label':'share','url':'#', 'class':'share'} %}
	{% set articleActions = {'items':[articleAction1, articleAction2, articleAction3, articleAction4, articleAction5, articleAction6, articleAction7]} %}

	{# set related campaign articles #}
	{% set rcArticle1 = {'ah':'article heading 1', 'imageSrc':'images/articles/article-figure-1.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rcArticle2 = {'ah':'article heading 2', 'imageSrc':'images/articles/article-figure-2.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rcArticle3 = {'ah':'article heading 3', 'imageSrc':'images/articles/article-figure-3.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rcArticle4 = {'ah':'article heading 4', 'imageSrc':'images/articles/article-figure-4.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rcArticles = [rcArticle1, rcArticle2, rcArticle3, rcArticle4] %}

	{# set related tagged articles #}
	{% set rtArticle1 = {'ah':'article heading 1', 'imageSrc':'images/articles/article-figure-1.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rtArticle2 = {'ah':'article heading 2', 'imageSrc':'images/articles/article-figure-2.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rtArticle3 = {'ah':'article heading 3', 'imageSrc':'images/articles/article-figure-3.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rtArticle4 = {'ah':'article heading 4', 'imageSrc':'images/articles/article-figure-4.jpg', 'abstract':'<p>short abstract for the article</p>'} %}
	{% set rtArticles = [rtArticle1, rtArticle2, rtArticle3, rtArticle4] %}

	{# combine all article content #}
	{% set articleContent = {'ah':'Article heading', 'blocks':articleBlocks, 'actions':articleActions, 'relatedCampaignArticles':rcArticles, 'relatedTaggedArticles':rtArticles} %}
	{% embed 'carrefour/article' with {'data':{'content':articleContent, 'view':'dView'}} %}
	{% endembed %}


	{# recipe ------------------------------------------------------------- #}
	{# set related recipes #}
	{% set rRecipe1 = {'rh':'recipe heading 1', 'imageSrc':'images/articles/recipe-figure-1.jpg'} %}
	{% set rRecipe2 = {'rh':'recipe heading 2', 'imageSrc':'images/articles/recipe-figure-2.jpg'} %}
	{% set rRecipe3 = {'rh':'recipe heading 3', 'imageSrc':'images/articles/recipe-figure-3.jpg'} %}
	{% set rRecipe4 = {'rh':'recipe heading 4', 'imageSrc':'images/articles/recipe-figure-4.jpg'} %}
	{% set rRecipes = [rRecipe1, rRecipe2, rRecipe3, rRecipe4] %}

	{# set ingredients #}
	{% set ingredient1 = {'name':'ingredient1', 'linkId':'90210', 'amount2p':'4', 'amount4p':'8', 'unit':'pc' } %}
	{% set ingredient2 = {'name':'ingredient2', 'linkId':'', 'amount2p':'100', 'amount4p':'200', 'unit':'gr' } %}
	{% set ingredient3 = {'name':'ingredient3', 'linkId':'', 'amount2p':'1', 'amount4p':'1', 'unit':'pack' } %}
	{% set ingredient4 = {'name':'ingredient4', 'linkId':'90211', 'amount2p':'0.5', 'amount4p':'0.75', 'unit':'kg' } %}
	{% set ingredientGroup1 = {'headingText':'dough', 'ingredients':[ingredient1, ingredient2, ingredient3, ingredient4]} %}
	{% set ingredientGroup2 = {'headingText':'crumble', 'ingredients':[ingredient1, ingredient2, ingredient3, ingredient4]} %}
	{% set ingredientGroups = [ingredientGroup1, ingredientGroup2] %}

	{# set instructions #}
	{% set rInstruction1 = {'type':'1', 'bodyText':'<p>Paragraph with instructions.</p> <p>Another paragraph with instructions</p>'} %}
	{% set rInstruction2 = {'type':'2', 'headingText':'tip', 'bodyText':'<p>tip goes here</p>'} %}
	{% set rInstruction3 = {'type':'3', 'headingText':'hint', 'bodyText':'<p>hint goes here</p>'} %}
	{% set rInstruction4 = {'type':'1', 'bodyText':'<p>Paragraph with instructions</p>'} %}
	{% set rInstruction5 = {'type':'3', 'headingText':'hint', 'bodyText':'<p>hint goes here</p>'} %}
	{% set rInstruction6 = {'type':'1', 'bodyText':'<p>Paragraph with instructions</p>'} %}
	{% set rInstruction7 = {'type':'2', 'headingText':'tip', 'bodyText':'<p>tip goes here</p>'} %}
	{% set rInstruction8 = {'type':'1', 'bodyText':'<p>Paragraph with instructions</p>'} %}
	{% set rInstruction9 = {'type':'1', 'bodyText':'<p>Paragraph with instructions</p>'} %}
	{% set rInstructions = [rInstruction1, rInstruction2, rInstruction3, rInstruction4, rInstruction5, rInstruction6, rInstruction7, rInstruction8, rInstruction9] %}

	{# set tags #}
	{% set rTags = [{'name':'tag1'}, {'name':'tag2 which is very long'}, {'name':'tag 3'}, {'name':'tag 4'}, {'name':'tag5 little longer'}, {'name':'tag6'}, {'name':'tag7'}] %}

	{# combine all recipe content #}
	{% set recipeContent = {'rh':'Recipe heading', 'imageSrc':'images/articles/recipe-figure-1.jpg', 'intro':'<p>recipe intro</p>', 'abstract':'<p>recipe abstract</p>', 'recipeYield':'4', 'prepTime':'15', 'cookTime':'40', 'difficulty':'easy', 'cost':'cheap', 'actions':articleActions, 'relatedRecipes':rRecipes, 'relatedTaggedArticles':rtArticles, 'instructions':rInstructions, 'ingredientGroups':ingredientGroups, 'tags':rTags} %}
	{% embed 'carrefour/recipe' with {'data':{'content':recipeContent, 'view':'dView'}} %}
	{% endembed %}
{% endblock %}
