.sctBanners {
	> .main {white-space:nowrap;}
	> .main > .bannerItem {display:inline-block; width:100%; vertical-align:top; white-space:normal;}

	.bannerItem {
		background-size:auto 100%; background-repeat:no-repeat; background-position:top center; position:relative; overflow:hidden;
		> .wrap {
			max-width:1024px; margin:0 auto; position:relative; overflow:hidden;
			&:before {content:""; display:block; padding-top:56%; width:0; float:left;}
		}
		article {
			position:absolute; z-index:2; width:100%; margin:0 auto; overflow:hidden; top:50%; transform:translateY(-50%);
			> * {padding-left:42%; padding-right:20px;}
			> header .heading {font-size:16px; margin-bottom:10px; @include fontCarrefour(); text-shadow:0px 2px 2px rgba(17,17,17,0.3);}
			.textblock {display:none; font-size:16px; @include fontRegular(); text-shadow:0px 2px 2px rgba(17,17,17,0.3);}
		}
		.footer {
			.image.main {
				position:absolute; left:0; right:0; top:0; bottom:0; z-index:1;
				* {height:100%;}
				picture {display:block;}
				img {display:block; margin:0 auto;}
			}
			.image.front {
				position:absolute; z-index:4; left:5%; top:0; bottom:0; width:35%; text-align:center;
				img {max-width:90%; position:relative; top:50%; left:50%; transform:translate(-50%, -50%);}
			}
		}
		&.left {
			article > * {padding-left:40px; padding-right:50%;}
			.footer .image.front {left:auto; right:5%;}
		}

		/* video mode in banners currently not supported
		&.hasVideo {
			&:before {@include icon($icon-music-play); display:block; color:#fff; opacity:0.75;  font-size:50px; text-shadow:0 0 8px rgba(0,0,0,0.3); margin-top:-25px; position:absolute; left:0; right:0; top:50%; z-index:6; text-align:center; cursor:pointer;}
			.wrap > .video {display:none;}
			&.jVideoPlaying {
				.wrap {
					position:static;
					article {display:none;}
					> .video {position:absolute; z-index:10; left:0; right:0; top:0; bottom:0; display:block;}
					> .video iframe {position:absolute; left:0; right:0; top:0; bottom:0; height:100%; width:100%;}
				}
			}
		}*/


		@media (min-width: 600px) {
			> .wrap:before {padding-top:45%;}
			article {
				> * {padding-left:50%;}
				> header .heading {font-size:22px;}
				.textblock {display:block;}
			}
			.footer {
				.image.front {width:40%;}
			}
			&.hasVideo:before {font-size:100px; margin-top:-50px;}
		}
		@media (min-width: 1024px) {
			padding-top:26px;
			> .wrap{
				height:434px; border-radius:10px 10px 0px 0px; border:1px solid rgba(255,255,255,0.3); border-bottom:0; overflow:hidden; box-sizing:border-box;
				&:before {display:none;}
			}
			article {
				position:relative;
				&:before {display:none;}
				> header .heading {margin-bottom:15px; font-size:30px;}
				> .textblock {margin-top:20px; margin-bottom:25px;}
			}
			.footer {
				.image.main {
					left:-1px; right:-1px; width:auto; top:-1px; overflow:hidden;
					* {height:auto;}
					picture {margin-top:-26px;}
				}
				.image.front {
					left:0; right:auto; width:512px;
				}
			}
		}
	}

	> .main.slick-slider {white-space:normal;}
	.slick-dots {
		position:absolute; left:0; right:0; bottom:10px; text-align:center;
		li {display:inline-block; margin:0 1px;}
		li button {display:block; width:0px; padding:0; padding-left:7px; height:7px; background:#9d9d9d; border:2px solid #fff; border-radius:50%; overflow:hidden; white-space:nowrap; box-sizing:content-box; cursor:pointer;}
		li.slick-active button {border-color:#9d9d9d; background:#fff;}
	}
	.slick-arrow {
		position:absolute; top:50%; z-index:3; margin-top:-25px; padding:0; padding-left:30px; width:0px; height:50px; background:rgba(255,255,255,0.7); border:none; overflow:hidden; cursor:pointer;
		&:before {@include icon($icon-arrow-right); display:block; position:absolute; left:0; right:0; top:50%; margin-top:-6px; text-align:center; font-size:12px;}
		&.slick-prev {
			border-radius:0px 5px 5px 0px; left:0;
			&:before {content:$icon-arrow-left;}
		}
		&.slick-next {border-radius:5px 0px 0px 5px; right:0;}
	}
	/* video mode in banners currently not supported
	.lnkCloseVideo {
		position:absolute; right:0; top:0; z-index:5; display:none;
		a {display:block; width:0px; height:50px; padding-left:50px; background:#fff; overflow:hidden; position:relative;}
		a:after {@include icon($icon-close); color:#000; position:absolute; left:0; right:0; text-align:center; top:50%; margin-top:-10px; font-size:20px;}
	}
	&.jVideoPlaying {
		.lnkCloseVideo {display:block;}
		.slick-dots, .slick-arrow {display:none;}
	}*/

	@media (min-width:1024px) {
		.slick-dots {
			bottom:20px;
			li button {padding-left:11px; height:11px; border-width:4px;}
		}
		.slick-arrow {margin-top:-45px; height:90px;}
	}
}