.sctBanners {
	.bannerItem {
		article {
			> header .heading {color:#005aa9;}
			> .main .textblock {color:#005aa9;}
		}
		.wrap:after {content:""; display:block; position:absolute; right:0; top:0; bottom:0; width:62%; z-index:1;}
		&.left .wrap:after {right:auto; left:0;}
		@media (min-width: 600px) {
			.wrap:after {width:54%;}
		}
	}
	.slick-dots {
		li button {background:#005aa9; border-color:#fff;}
		li.slick-active button {background:#fff; border-color:#005aa9;}
	}
	.slick-arrow:before {color:#005aa9;}
}
