.nav.social {
	overflow:hidden; margin:0 16px;
	li {float:left; width:25%;}
	li a {display:block; padding-left:100%; padding-top:100%; background:green; overflow:hidden; width:0; height:0; position:relative;}
	li a:after {@include icon($icon-facebook-2); color:#fff; font-size:30px; display:block; position:absolute; left:0; right:0; top:50%; margin-top:-15px; text-align:center;}
	li.facebook a {background-color:#325a8f;}
	li.twitter a {background-color:#38a9d0;}
	li.twitter a:after {content:$icon-twitter;}
	li.pinterest a {background-color:#a7282d;}
	li.pinterest a:after {content:$icon-pintrest;}
	li.youtube a {background-color:#E62117;}
	li.youtube a:after {content:$icon-youtube;}

}
