<div ng-class="getClass()" class="cfrcookiebar clearfix">
  <style>
    .cfrcookiebar,
    .cfrcookiebar--button:before,
    .cfrcookiebar--button:after { background-color: {{ color4 }}; }
    span.cfrcookiebar--linkwrap a,
    .cfrcookiebar--button { background-color: {{ color3 }}; }
    span.cfrcookiebar--linkwrap a:hover,
    .cfrcookiebar--button:hover { background-color: {{ color2 }}; }
  </style>
  <div class="cfrcookiebar--outerWrap">
      <div class="cfrbars--container cfrcookiebar--innerwrap">
        <div class="cfrcookiebar--content">
          <p class="clearfix">{{ message }}</p>
          <span class="cfrcookiebar--linkwrap" ng-bind-html="link"></span> <button ng-click="clickButton()" class="cfrcookiebar--button">{{ data.label }}</button>
        </div>
      </div>
  </div>
</div>
