.nav.action {
	overflow:hidden;
	li {float:left; width:(100% / 7);}
	li a {display:block; padding-left:100%; padding-top:100%; background:green; overflow:hidden; width:0; height:0;}
	li.facebook a {background-color:#325a8f;}
	li.twitter a {background-color:#38a9d0;}
	li.pinterest a {background-color:#a7282d;}
	li.email a {background-color:#c4c4c4;}
	li.print a {background-color:#9aa9a8;}
	li.pdf a {background-color:#748a8d;}
	li.share a {background-color:#566f72;}
}

