.teaserGrid {
	position:relative;

	> header {
		overflow:hidden;
		.nav.gridFilter {
			max-width:1024px; margin:0 auto; position:relative; @include band(#005aa9); position:relative; /*height:85px;*/
			> .heading {float:left; font-size:14px; @include fontCarrefour(); font-weight:400; text-transform:uppercase;}
			> ul {overflow:hidden;}
			> ul > li {float:left; width:33.33%; padding-top:54px; height:93px; line-height:24px; position:relative; cursor:pointer; box-sizing:border-box; vertical-align:middle;}
			> ul > li:nth-child(2n) {background:rgba(0,0,0,0.1);} // just temp for checking blocks
			> ul > li.jOpen {background:#198ecd;}
			> ul > li > a {color:#fff; text-decoration:none; display:inline-block; width:100%; text-align:center; @include fontCarrefour(); font-size:12px; box-sizing:border-box; padding:0px 12px; line-height:1.05em;}
			> ul > li:before {font-size:32px; position:absolute; left:0; top:16px; right:0; text-align:center; color:#fff;}
			> ul ul {@include hide;}
		}
		#subFilter {
			background:#198ecd; overflow:hidden;
			ul {padding:0px 12px; box-sizing:border-box; max-width:1024px; margin:0 auto;}
			li {margin:20px 0px;}
			li a {color:#fff; font-size:14px; display:block; padding-left:20px; position:relative; text-decoration:none;}
			li a:before {@include icon($icon-arrow-right); font-size:12px; position:absolute; left:0; top:3px;}
		}

	}
	> .main {
		max-width:1024px; margin:0 auto; overflow:hidden; padding:6px 6px; box-sizing:border-box;
		.teaserTab.jHide {@include hide();}
		.lnkLoadmore {
			clear:both; padding:20px 6px; max-width:1024px; margin:0 auto; box-sizing:border-box;
			&:before {content:""; clear:left; display:none; height:70px; background:url(img/spinner.gif) center center no-repeat; margin-bottom:10px;}
			a {@include greyButton;}
		}

		// preload
		html.noJS & .teaserTab {@include hide;}
		html.noJS & .teaserTab:first-of-type {@include unhide;}
	}
	> .main .jLoading .lnkLoadmore:before {display:block;}
	



	@media (max-width: 549px) {
		> header #subFilter {position:absolute; left:0; right:0;}
		> header .nav.gridFilter > ul > li:nth-child(3n + 4) {clear:left;}
	}
	@media (max-width: 767px) {
		> header .nav.gridFilter {
			> .heading {float:none; text-align:center; background:#fff; padding:12px;}
		}
	}
	@media (min-width: 550px) {
		> header .nav.gridFilter {
			> ul > li {width:16.66%; line-height:30px;}
			> ul > li > a {font-size:14px;}
			/*> ul > li > a:before {margin-top:4px; margin-bottom:4px;}*/
		}
	}
	@media (min-width: 768px) {
		> header .nav.gridFilter {
			> .heading {color:#fff; line-height:93px; padding:0px 20px;}
			> ul {display:flex; flex-direction:row;}
			> ul > li {flex:1; float:none; width:auto;}
		}
		> header #subFilter ul {padding:10px 20px; overflow:hidden;}
		> header #subFilter ul li {float:left; margin:10px 0px; margin-right:36px;}
		> .main {
			padding:10px;
			.lnkLoadmore {padding-left:10px; padding-right:10px;}
		}
	}

	.ctItem {
		/*float:left; width:25%;
		&.vaView {width:50%;}*/
		&.jHide {@include hide();}
		article {
			padding:6px;
			a {display:block; padding:20px; padding-top:100%; position:relative; background:#fff; color:#000; text-decoration:none; box-sizing:border-box;}
			a:hover {box-shadow:0px 0px 6px rgba(17,17,17,.4);}
			header {
				padding-top:15px; overflow:hidden;
				.heading {
					@include fontCarrefour(); font-weight:500; font-size:16px; line-height:1.35em; color:#282828;
					&:after {@include icon($icon-arrow-right); margin-left:4px; font-size:45%; vertical-align:middle;}
				}
				.textblock p {font-size:12px; margin:0; color:#656565;}
			}
			figure {
				position:absolute; left:0; top:0; right:0; padding-top:100%; overflow:hidden;
				picture, img {display:block; width:100%;}
				picture {position:absolute; left:0; top:0; right:0;}
			}
		}
		&.vaView article {
			header .heading {margin-bottom:4px;}
		}
		&.hasVideo {
			figure:before {@include icon($icon-music-play); display:block; color:#fff; opacity:0.75;  font-size:80px; text-shadow:0 0 8px rgba(0,0,0,0.3); margin-top:-35px; position:absolute; left:0; right:0; top:50%; z-index:1; text-align:center; cursor:pointer;}
		}

		&.clearRow {clear:both;}


		@media (min-width: 480px) {
			float:left; width:50%;
			article {
				header {
					height:57px;
				}
			}
		}
		@media (min-width: 768px) {
			width:25%;
			article {padding:10px;}
			&.newRow {clear:left;}
			&.vaView {
				width:50%;
				article {
					a, figure {padding-top:47.925%;}
				}
			}
		}
	}

	// special teasier view
	.ctItem.aView {
		@include fontCarrefour;

		article a {padding-bottom:77px;}
		article a header {position:absolute; left:20px; right:20px; top:50%; height:auto; transform:translate(0,-50%); padding:0;}
		article a header .heading {color:#fff; font-size:16px; font-weight:600;}
		article a header .heading:after {display:none;}
		article a header .abstract p {font-size:20px; margin-top:4px; color:#fff;}
		article a header .lnkFake {color:#fff; font-size:20px; font-weight:600; margin-top:8px; line-height:1.35em}
		article a header .lnkFake:after {@include icon($icon-arrow-right); font-size:8px; vertical-align:middle; margin-left:3px;}

		@media (min-width: 768px) and (max-width: 1024px) {
			article a header .heading {font-size:13px;}
			article a header .abstract p {font-size:16px;}
			article a header .lnkFake {font-size:16px;}
		}
	}

}
