.teaserGrid {
	> header .nav.gridFilter > .heading {color:$mainColor;}

	@media (min-width: 768px) {
		> header .nav.gridFilter > .heading {color:#fff;}
	}

	.ctItem.aView {
		a {background:$mainColor;}
	}
}
