
.cfr-icon-card:before { content: '\e800'; } /* '' */
.cfr-icon-award:before { content: '\e801'; } /* '' */
.cfr-icon-user:before { content: '\e802'; } /* '' */
.cfr-icon-question:before { content: '\e803'; } /* '' */
.cfr-icon-heart:before { content: '\e804'; } /* '' */
.cfr-icon-mail-closed:before { content: '\e805'; } /* '' */
.cfr-icon-terms:before { content: '\e806'; } /* '' */
.cfr-icon-down-open-mini:before { content: '\e807'; } /* '' */
.cfr-icon-left-open-mini:before { content: '\e808'; } /* '' */
.cfr-icon-right-open-mini:before { content: '\e809'; } /* '' */
.cfr-icon-up-open-mini:before { content: '\e80a'; } /* '' */
.cfr-icon-down-open-big:before { content: '\e80b'; } /* '' */
.cfr-icon-left-open-big:before { content: '\e80c'; } /* '' */
.cfr-icon-right-open-big:before { content: '\e80d'; } /* '' */
.cfr-icon-up-open-big:before { content: '\e80e'; } /* '' */
.cfr-icon-logo:before { content: '\e80f'; } /* '' */
.cfr-icon-camera:before { content: '\e810'; } /* '' */
.cfr-icon-mobile:before { content: '\e811'; } /* '' */
.cfr-icon-chat-2:before { content: '\e812'; } /* '' */
.cfr-icon-membercard:before { content: '\e813'; } /* '' */
.cfr-icon-apps:before { content: '\e814'; } /* '' */
.cfr-icon-other:before { content: '\e815'; } /* '' */
.cfr-icon-twitter-squared:before { content: '\e816'; } /* '' */
.cfr-icon-twitter:before { content: '\e817'; } /* '' */
.cfr-icon-facebook-squared:before { content: '\e818'; } /* '' */
.cfr-icon-facebook:before { content: '\e819'; } /* '' */
.cfr-icon-info-circled:before { content: '\e81a'; } /* '' */
.cfr-icon-help:before { content: '\e81b'; } /* '' */
.cfr-icon-transactions:before { content: '\e81c'; } /* '' */
.cfr-icon-menu:before { content: '\e81d'; } /* '' */
.cfr-icon-big-right-up:before { content: '\e81e'; } /* '' */
.cfr-icon-big-right-down:before { content: '\e81f'; } /* '' */
.cfr-icon-big-left-down:before { content: '\e820'; } /* '' */
.cfr-icon-big-right-down-1:before { content: '\e821'; } /* '' */
.cfr-icon-users:before { content: '\e822'; } /* '' */
.cfr-icon-personal-info:before { content: '\e823'; } /* '' */
.cfr-icon-family-members:before { content: '\e824'; } /* '' */
.cfr-icon-cards:before { content: '\e825'; } /* '' */
.cfr-icon-bonus-card:before { content: '\e826'; } /* '' */
.cfr-icon-delete:before { content: '\e827'; } /* '' */
.cfr-icon-visa-card:before { content: '\e828'; } /* '' */
.cfr-icon-coupons:before { content: '\e829'; } /* '' */
.cfr-icon-disable:before { content: '\e82a'; } /* '' */
.cfr-icon-like:before { content: '\e82b'; } /* '' */
.cfr-icon-euro:before { content: '\e82c'; } /* '' */
.cfr-icon-euro-empty:before { content: '\e82d'; } /* '' */
.cfr-icon-star:before { content: '\e82e'; } /* '' */
.cfr-icon-cart:before { content: '\e82f'; } /* '' */
.cfr-icon-all-day:before { content: '\e830'; } /* '' */
.cfr-icon-bonus:before { content: '\e831'; } /* '' */
.cfr-icon-documents:before { content: '\e832'; } /* '' */
.cfr-icon-file:before { content: '\e833'; } /* '' */
.cfr-icon-add-file:before { content: '\e834'; } /* '' */
.cfr-icon-building:before { content: '\e835'; } /* '' */
.cfr-icon-print:before { content: '\e836'; } /* '' */
.cfr-icon-cheques:before { content: '\e837'; } /* '' */
.cfr-icon-scissors:before { content: '\e838'; } /* '' */
.cfr-icon-delete-invert:before { content: '\e839'; } /* '' */
.cfr-icon-barcode:before { content: '\e83a'; } /* '' */
.cfr-icon-time:before { content: '\e83b'; } /* '' */
.cfr-icon-time-invert:before { content: '\e83c'; } /* '' */
.cfr-icon-checked:before { content: '\e83d'; } /* '' */
.cfr-icon-checked-thin:before { content: '\e83e'; } /* '' */
.cfr-icon-calendar:before { content: '\e83f'; } /* '' */
.cfr-icon-calendar-empty:before { content: '\e840'; } /* '' */
.cfr-icon-chat:before { content: '\e841'; } /* '' */
.cfr-icon-mail-open:before { content: '\e842'; } /* '' */
.cfr-icon-search:before { content: '\e843'; } /* '' */
.cfr-icon-sandwich:before { content: '\e844'; } /* '' */
.cfr-icon-sand-clock:before { content: '\e845'; } /* '' */
.cfr-icon-gbottle:before { content: '\e846'; } /* '' */
.cfr-icon-croissant:before { content: '\e847'; } /* '' */
.cfr-icon-light-bulb:before { content: '\e848'; } /* '' */
.cfr-icon-bone:before { content: '\e849'; } /* '' */
.cfr-icon-chef-circle:before { content: '\e84a'; } /* '' */
.cfr-icon-equal:before { content: '\e84b'; } /* '' */
.cfr-icon-pot:before { content: '\e84c'; } /* '' */
.cfr-icon-chef:before { content: '\e84d'; } /* '' */
.cfr-icon-share:before { content: '\e84e'; } /* '' */
.cfr-icon-leaf:before { content: '\e84f'; } /* '' */
.cfr-icon-truck:before { content: '\e850'; } /* '' */
.cfr-icon-coffee-plate:before { content: '\e851'; } /* '' */
.cfr-icon-fork-knife:before { content: '\e852'; } /* '' */
.cfr-icon-shirt:before { content: '\e853'; } /* '' */
.cfr-icon-book:before { content: '\e854'; } /* '' */
.cfr-icon-soap-liquid:before { content: '\e855'; } /* '' */
.cfr-icon-bottle-glass:before { content: '\e856'; } /* '' */
.cfr-icon-bear:before { content: '\e857'; } /* '' */
.cfr-icon-handshake:before { content: '\e859'; } /* '' */
.cfr-icon-fork-knife-cross:before { content: '\e85a'; } /* '' */
.cfr-icon-book-open:before { content: '\e85b'; } /* '' */
.cfr-icon-sticks:before { content: '\e85d'; } /* '' */
.cfr-icon-cloud:before { content: '\e85e'; } /* '' */
.cfr-icon-ham:before { content: '\e85f'; } /* '' */
.cfr-icon-liquid:before { content: '\e860'; } /* '' */
.cfr-icon-dish:before { content: '\e861'; } /* '' */
.cfr-icon-salame:before { content: '\e862'; } /* '' */
.cfr-icon-salame-cheese:before { content: '\e863'; } /* '' */
.cfr-icon-cheese:before { content: '\e864'; } /* '' */
.cfr-icon-bottle-2:before { content: '\e865'; } /* '' */
.cfr-icon-fish:before { content: '\e866'; } /* '' */
.cfr-icon-apple:before { content: '\e867'; } /* '' */
.cfr-icon-soap:before { content: '\e868'; } /* '' */
.cfr-icon-muffin:before { content: '\e86a'; } /* '' */
.cfr-icon-snowflake:before { content: '\e86b'; } /* '' */
.cfr-icon-bottles:before { content: '\e86c'; } /* '' */
.cfr-icon-salt:before { content: '\e86d'; } /* '' */
.cfr-icon-carrot:before { content: '\e86e'; } /* '' */
.cfr-icon-pool:before { content: '\e86f'; } /* '' */
.cfr-icon-vegetables:before { content: '\e870'; } /* '' */
.cfr-icon-gas-pump:before { content: '\e871'; } /* '' */
.cfr-icon-flower-1:before { content: '\e873'; } /* '' */
.cfr-icon-print-black:before { content: '\e875'; } /* '' */
.cfr-icon-hanger:before { content: '\e876'; } /* '' */
.cfr-icon-money-box:before { content: '\e878'; } /* '' */
.cfr-icon-search-group:before { content: '\e879'; } /* '' */
.cfr-icon-plus:before { content: '\e87b'; } /* '' */
.cfr-icon-add-item:before { content: '\e87c'; } /* '' */
.cfr-icon-location:before { content: '\e87d'; } /* '' */
.cfr-icon-mail-letter:before { content: '\e87e'; } /* '' */
.cfr-icon-note:before { content: '\e87f'; } /* '' */
.cfr-icon-close:before { content: '\e880'; } /* '' */
.cfr-icon-delete-iten:before { content: '\e881'; } /* '' */
.cfr-icon-minus:before { content: '\e882'; } /* '' */
.cfr-icon-disabled-sign:before { content: '\e883'; } /* '' */
.cfr-icon-park-garage:before { content: '\e884'; } /* '' */
.cfr-icon-park:before { content: '\e886'; } /* '' */
.cfr-icon-dishes:before { content: '\e887'; } /* '' */
.cfr-icon-film:before { content: '\e888'; } /* '' */
.cfr-icon-cart-5:before { content: '\e889'; } /* '' */
.cfr-icon-delivery:before { content: '\e88a'; } /* '' */
.cfr-icon-post:before { content: '\e88b'; } /* '' */
.cfr-icon-mail-box:before { content: '\e88c'; } /* '' */
.cfr-icon-flower:before { content: '\e88d'; } /* '' */
.cfr-icon-key-copy:before { content: '\e88e'; } /* '' */
.cfr-icon-sushi:before { content: '\e88f'; } /* '' */
.cfr-icon-tea:before { content: '\e890'; } /* '' */
.cfr-icon-phone:before { content: '\e891'; } /* '' */
.cfr-icon-plane:before { content: '\e892'; } /* '' */
.cfr-icon-sun:before { content: '\e893'; } /* '' */
.cfr-icon-chef-hat:before { content: '\e894'; } /* '' */
.cfr-icon-meal:before { content: '\e895'; } /* '' */
.cfr-icon-star-full:before { content: '\e896'; } /* '' */
.cfr-icon-star-empty:before { content: '\e897'; } /* '' */
.cfr-icon-rss-feed:before { content: '\e898'; } /* '' */
.cfr-icon-cart-1:before { content: '\e899'; } /* '' */
.cfr-icon-cart-2:before { content: '\e89a'; } /* '' */
.cfr-icon-cart-3:before { content: '\e89b'; } /* '' */
.cfr-icon-cart-4:before { content: '\e89c'; } /* '' */