@charset "UTF-8";

@font-face {
    font-family: "carrefour-sav";
    src:url("../fonts/icons/font/carrefour-sav.eot");
    src:url("../fonts/icons/font/carrefour-sav.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons/font/carrefour-sav.woff") format("woff"),
    url("../fonts/icons/font/carrefour-sav.ttf") format("truetype"),
    url("../fonts/icons/font/carrefour-sav.svg#carrefour-sav") format("svg");
    font-weight: normal;
    font-style: normal;

}

[data-icon]:before {
    font-family: "carrefour-sav" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "carrefour-sav" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
    content: "\61";
}
.icon-home:before {
    content: "\62";
}
.icon-arrow-down:before {
    content: "\63";
}
.icon-arrow-left:before {
    content: "\64";
}
.icon-arrow-right:before {
    content: "\65";
}
.icon-arrow-up:before {
    content: "\66";
}
.icon-arrow-handdrawn-left:before {
    content: "\67";
}
.icon-arrow-handdrawn-right:before {
    content: "\68";
}
.icon-alert:before {
    content: "\69";
}
.icon-faq:before {
    content: "\6a";
}
.icon-favorites:before {
    content: "\6b";
}
.icon-tooltip:before {
    content: "\6c";
}
.icon-folder:before {
    content: "\6d";
}
.icon-hamburger:before {
    content: "\6e";
}
.icon-help:before {
    content: "\6f";
}
.icon-min:before {
    content: "\70";
}
.icon-min-circle:before {
    content: "\71";
}
.icon-bin:before {
    content: "\72";
}
.icon-carrefour:before {
    content: "\73";
}
.icon-plus:before {
    content: "\74";
}
.icon-plus-circle:before {
    content: "\75";
}
.icon-close:before {
    content: "\76";
}
.icon-close-circle:before {
    content: "\77";
}
.icon-recette-chef:before {
    content: "\78";
}
.icon-recette-chef-circle:before {
    content: "\79";
}
.icon-equal:before {
    content: "\7a";
}
.icon-search:before {
    content: "\41";
}
.icon-more:before {
    content: "\42";
}
.icon-compte-carrefour:before {
    content: "\43";
}
.icon-enregistrer:before {
    content: "\44";
}
.icon-basket:before {
    content: "\46";
}
.icon-list:before {
    content: "\47";
}
.icon-select:before {
    content: "\48";
}
.icon-horaires:before {
    content: "\49";
}
.icon-contact:before {
    content: "\4a";
}
.icon-desactiver:before {
    content: "\4b";
}
.icon-loader:before {
    content: "\4c";
}
.icon-star-empty:before {
    content: "\4d";
}
.icon-select-2:before {
    content: "\4e";
}
.icon-star-full:before {
    content: "\4f";
}
.icon-login:before {
    content: "\50";
}
.icon-download:before {
    content: "\51";
}
.icon-logout:before {
    content: "\52";
}
.icon-star-half:before {
    content: "\53";
}
.icon-tip:before {
    content: "\54";
}
.icon-check-circle:before {
    content: "\55";
}
.icon-check:before {
    content: "\56";
}
.icon-calendrier:before {
    content: "\57";
}
.icon-activer:before {
    content: "\58";
}
.icon-activer-desactiver:before {
    content: "\59";
}
.icon-applications:before {
    content: "\5a";
}
.icon-comparator:before {
    content: "\30";
}
.icon-ajouter-personne:before {
    content: "\45";
}
.icon-actualites:before {
    content: "\31";
}
.icon-actualiser:before {
    content: "\32";
}
.icon-assurances-garanties:before {
    content: "\34";
}
.icon-order-history:before {
    content: "\35";
}
.icon-outiles:before {
    content: "\36";
}
.icon-partner:before {
    content: "\37";
}
.icon-smartscan:before {
    content: "\38";
}
.icon-settings:before {
    content: "\39";
}
.icon-wishlist:before {
    content: "\21";
}
.icon-wishlist-add:before {
    content: "\22";
}
.icon-confirme:before {
    content: "\23";
}
.icon-jobs:before {
    content: "\24";
}
.icon-cadeau:before {
    content: "\25";
}
.icon-carrefour-finance:before {
    content: "\26";
}
.icon-sun:before {
    content: "\27";
}
.icon-touch:before {
    content: "\28";
}
.icon-safety:before {
    content: "\29";
}
.icon-return:before {
    content: "\2a";
}
.icon-scissors:before {
    content: "\2b";
}
.icon-validated:before {
    content: "\2c";
}
.icon-view:before {
    content: "\2d";
}
.icon-view-emotional:before {
    content: "\2e";
}
.icon-wait:before {
    content: "\2f";
}
.icon-new:before {
    content: "\3a";
}
.icon-fqc-light:before {
    content: "\3b";
}
.icon-fqc:before {
    content: "\3c";
}
.icon-edit:before {
    content: "\3d";
}
.icon-go-trough:before {
    content: "\3e";
}
.icon-turn-right:before {
    content: "\3f";
}
.icon-turn-left:before {
    content: "\40";
}
.icon-rond-point:before {
    content: "\5b";
}
.icon-filter:before {
    content: "\5d";
}
.icon-dislike:before {
    content: "\5e";
}
.icon-skype:before {
    content: "\5f";
}
.icon-share:before {
    content: "\60";
}
.icon-twitter:before {
    content: "\7b";
}
.icon-pintrest:before {
    content: "\7c";
}
.icon-like:before {
    content: "\7d";
}
.icon-subscribe-newsletter:before {
    content: "\7e";
}
.icon-youtube:before {
    content: "\5c";
}
.icon-youtube-2:before {
    content: "\e000";
}
.icon-imprimer:before {
    content: "\e001";
}
.icon-indesign:before {
    content: "\e002";
}
.icon-facebook-2:before {
    content: "\e003";
}
.icon-instagram:before {
    content: "\e004";
}
.icon-send-by-mail:before {
    content: "\e005";
}
.icon-mail:before {
    content: "\e006";
}
.icon-vacances-soleil:before {
    content: "\e007";
}
.icon-surgeles:before {
    content: "\e008";
}
.icon-tableau:before {
    content: "\e009";
}
.icon-tableau-noir:before {
    content: "\e00a";
}
.icon-tablier:before {
    content: "\e00b";
}
.icon-tacos:before {
    content: "\e00c";
}
.icon-tarte:before {
    content: "\e00d";
}
.icon-yaourt:before {
    content: "\e00e";
}
.icon-tortue:before {
    content: "\e00f";
}
.icon-soupe:before {
    content: "\e010";
}
.icon-sonnerie:before {
    content: "\e011";
}
.icon-sauces:before {
    content: "\e012";
}
.icon-raclette-fondue:before {
    content: "\e013";
}
.icon-poele:before {
    content: "\e014";
}
.icon-ramasette:before {
    content: "\e015";
}
.icon-se-laver:before {
    content: "\e016";
}
.icon-parfum:before {
    content: "\e017";
}
.icon-noel-ball:before {
    content: "\e018";
}
.icon-fromage-2:before {
    content: "\e019";
}
.icon-gant-cuisine:before {
    content: "\e01a";
}
.icon-mouton:before {
    content: "\e01c";
}
.icon-mobilier-jardin:before {
    content: "\e01d";
}
.icon-oeufs-de-paques:before {
    content: "\e01e";
}
.icon-plats-prepares:before {
    content: "\e01f";
}
.icon-produits-locaux:before {
    content: "\e020";
}
.icon-sac-poubelle:before {
    content: "\e021";
}
.icon-prokbord:before {
    content: "\e022";
}
.icon-plume:before {
    content: "\e023";
}
.icon-mirroir-beaute:before {
    content: "\e024";
}
.icon-notebook:before {
    content: "\e025";
}
.icon-plats:before {
    content: "\e026";
}
.icon-produit-vaiselle:before {
    content: "\e027";
}
.icon-sac-a-dos:before {
    content: "\e028";
}
.icon-rouleau-patisserie:before {
    content: "\e029";
}
.icon-produit-locaux:before {
    content: "\e02a";
}
.icon-pizza:before {
    content: "\e02b";
}
.icon-noel-plant:before {
    content: "\e02c";
}
.icon-noel-noeud:before {
    content: "\e02d";
}
.icon-rouge-a-levres:before {
    content: "\e02f";
}
.icon-poussin-paques:before {
    content: "\e030";
}
.icon-pinceau-maquillage:before {
    content: "\e031";
}
.icon-noel-easter-clock:before {
    content: "\e032";
}
.icon-mastercook:before {
    content: "\e033";
}
.icon-lave-vaiselle:before {
    content: "\e034";
}
.icon-lessive:before {
    content: "\e035";
}
.icon-health-care:before {
    content: "\e036";
}
.icon-dinde:before {
    content: "\e037";
}
.icon-dinde-2:before {
    content: "\e038";
}
.icon-diplome:before {
    content: "\e039";
}
.icon-escargot:before {
    content: "\e03a";
}
.icon-essuie-tout:before {
    content: "\e03b";
}
.icon-frites:before {
    content: "\e03c";
}
.icon-frigo:before {
    content: "\e03d";
}
.icon-frites-sauces:before {
    content: "\e03e";
}
.icon-hot-dog:before {
    content: "\e03f";
}
.icon-livre:before {
    content: "\e040";
}
.icon-fromage:before {
    content: "\e041";
}
.icon-faire-le-menage:before {
    content: "\e042";
}
.icon-ecaire:before {
    content: "\e043";
}
.icon-ecole:before {
    content: "\e044";
}
.icon-ecureuil:before {
    content: "\e045";
}
.icon-mappe-monde:before {
    content: "\e047";
}
.icon-manger:before {
    content: "\e048";
}
.icon-manager:before {
    content: "\e049";
}
.icon-noel-ball-2:before {
    content: "\e04a";
}
.icon-noel-ball-3:before {
    content: "\e04b";
}
.icon-noel-couronne:before {
    content: "\e04c";
}
.icon-noel-chaussette:before {
    content: "\e04d";
}
.icon-picnic:before {
    content: "\e04e";
}
.icon-pince-a-linge:before {
    content: "\e04f";
}
.icon-poule:before {
    content: "\e050";
}
.icon-porc:before {
    content: "\e051";
}
.icon-repassage:before {
    content: "\e052";
}
.icon-sel:before {
    content: "\e053";
}
.icon-poivre-sel:before {
    content: "\e054";
}
.icon-pates:before {
    content: "\e055";
}
.icon-passoire:before {
    content: "\e056";
}
.icon-poivre:before {
    content: "\e057";
}
.icon-ketchup-moutarde:before {
    content: "\e058";
}
.icon-goutte:before {
    content: "\e059";
}
.icon-grille-pain:before {
    content: "\e05a";
}
.icon-lampe-de-bureau:before {
    content: "\e05b";
}
.icon-lapin:before {
    content: "\e05c";
}
.icon-lapin-paques:before {
    content: "\e05d";
}
.icon-hamburger-1:before {
    content: "\e05e";
}
.icon-fourniture-bureau:before {
    content: "\e05f";
}
.icon-fluo-surligneur:before {
    content: "\e060";
}
.icon-edit-1:before {
    content: "\e061";
}
.icon-couverts:before {
    content: "\e062";
}
.icon-cuisine:before {
    content: "\e063";
}
.icon-cuisine-du-monde:before {
    content: "\e064";
}
.icon-entretien-vitres:before {
    content: "\e065";
}
.icon-epices:before {
    content: "\e066";
}
.icon-eprouvette:before {
    content: "\e067";
}
.icon-coffee-at-work:before {
    content: "\e068";
}
.icon-cochon:before {
    content: "\e069";
}
.icon-chaise-de-bureau-directeur:before {
    content: "\e06a";
}
.icon-chaise-de-bureau:before {
    content: "\e06b";
}
.icon-casserole:before {
    content: "\e06c";
}
.icon-bonbon:before {
    content: "\e06d";
}
.icon-bonhomme-de-neige:before {
    content: "\e06e";
}
.icon-brush-maquillage:before {
    content: "\e06f";
}
.icon-bus-scolaire:before {
    content: "\e070";
}
.icon-chat:before {
    content: "\e071";
}
.icon-beaute:before {
    content: "\e072";
}
.icon-beaute-2:before {
    content: "\e073";
}
.icon-cafetiere:before {
    content: "\e074";
}
.icon-compas:before {
    content: "\e075";
}
.icon-cheval:before {
    content: "\e076";
}
.icon-cahier:before {
    content: "\e077";
}
.icon-calculatrice:before {
    content: "\e078";
}
.icon-chien:before {
    content: "\e079";
}
.icon-concours-gagnant:before {
    content: "\e07a";
}
.icon-concours-medaille:before {
    content: "\e07b";
}
.icon-chips:before {
    content: "\e07c";
}
.icon-chocolat:before {
    content: "\e07d";
}
.icon-canari:before {
    content: "\e07e";
}
.icon-biscuits:before {
    content: "\e07f";
}
.icon-bio:before {
    content: "\e080";
}
.icon-blush-maquillage:before {
    content: "\e081";
}
.icon-carafe:before {
    content: "\e082";
}
.icon-chronometre:before {
    content: "\e083";
}
.icon-conserve:before {
    content: "\e084";
}
.icon-ciseaux:before {
    content: "\e085";
}
.icon-classeurs:before {
    content: "\e086";
}
.icon-couteau-boucher:before {
    content: "\e087";
}
.icon-bol:before {
    content: "\e088";
}
.icon-boeuf:before {
    content: "\e089";
}
.icon-assiette-tasse:before {
    content: "\e08a";
}
.icon-aspirateur:before {
    content: "\e08b";
}
.icon-ange:before {
    content: "\e08c";
}
.icon-alerte:before {
    content: "\e08d";
}
.icon-agrafeuse:before {
    content: "\e08e";
}
.icon-agneau-2:before {
    content: "\e08f";
}
.icon-agneau:before {
    content: "\e090";
}
.icon-bapteme:before {
    content: "\e091";
}
.icon-annuaire:before {
    content: "\e092";
}
.icon-animal-os:before {
    content: "\e093";
}
.icon-balance:before {
    content: "\e094";
}
.icon-back-to-school:before {
    content: "\e095";
}
.icon-animal-generale:before {
    content: "\e096";
}
.icon-abri-animaux:before {
    content: "\e098";
}
.icon-cigarette:before {
    content: "\e046";
}
.icon-cigarette-pack:before {
    content: "\e099";
}
.icon-cloud-sun:before {
    content: "\e09a";
}
.icon-cloud-rain:before {
    content: "\e09b";
}
.icon-cloud-lightning:before {
    content: "\e09c";
}
.icon-cloud:before {
    content: "\e09d";
}
.icon-cloud-moon:before {
    content: "\e09e";
}
.icon-clock:before {
    content: "\e09f";
}
.icon-clock-2:before {
    content: "\e0a0";
}
.icon-min-16:before {
    content: "\e0a1";
}
.icon-min-18:before {
    content: "\e0a2";
}
.icon-ibeacon:before {
    content: "\e0a3";
}
.icon-faire-ces-courses:before {
    content: "\e0a4";
}
.icon-loterie:before {
    content: "\e0a5";
}
.icon-lotto:before {
    content: "\e0a6";
}
.icon-rss:before {
    content: "\e0a7";
}
.icon-store-carreffour:before {
    content: "\e0a8";
}
.icon-store:before {
    content: "\e0a9";
}
.icon-shopping-cart:before {
    content: "\e0aa";
}
.icon-shopping-cart-empty:before {
    content: "\e0ab";
}
.icon-sac-recyclable:before {
    content: "\e0ac";
}
.icon-shopping-cart-selected:before {
    content: "\e0ad";
}
.icon-wifi:before {
    content: "\e0ae";
}
.icon-tag-open:before {
    content: "\e0af";
}
.icon-tag-closed:before {
    content: "\e0b0";
}
.icon-tag-24-7:before {
    content: "\e0b1";
}
.icon-signal:before {
    content: "\e0b2";
}
.icon-acces-personnes-mobilite-reduite:before {
    content: "\e0b3";
}
.icon-barcode:before {
    content: "\e0b4";
}
.icon-barcode-search:before {
    content: "\e0b5";
}
.icon-call-center:before {
    content: "\e0b6";
}
.icon-contact-telephonic:before {
    content: "\e0b7";
}
.icon-h24:before {
    content: "\e0b8";
}
.icon-economie:before {
    content: "\e0b9";
}
.icon-economic-2:before {
    content: "\e0ba";
}
.icon-economic:before {
    content: "\e0bb";
}
.icon-coupon:before {
    content: "\e0bc";
}
.icon-imprimante:before {
    content: "\e0bd";
}
.icon-fax:before {
    content: "\e0be";
}
.icon-parking:before {
    content: "\e0bf";
}
.icon-poucentage:before {
    content: "\e0c0";
}
.icon-promo-2:before {
    content: "\e0c1";
}
.icon-promo:before {
    content: "\e0c2";
}
.icon-point-postes:before {
    content: "\e0c3";
}
.icon-petites-annonces:before {
    content: "\e0c4";
}
.icon-photonation:before {
    content: "\e0c5";
}
.icon-pompes:before {
    content: "\e0c6";
}
.icon-parking-couvert:before {
    content: "\e0c7";
}
.icon-parking-maman:before {
    content: "\e0c8";
}
.icon-parking-velo:before {
    content: "\e0c9";
}
.icon-soldes:before {
    content: "\e0ca";
}
.icon-reductions:before {
    content: "\e0cb";
}
.icon-telephone:before {
    content: "\e0cc";
}
.icon-telephone-24h:before {
    content: "\e0cd";
}
.icon-tembre:before {
    content: "\e0ce";
}
.icon-toilettes:before {
    content: "\e0cf";
}
.icon-avion:before {
    content: "\e0d0";
}
.icon-bateau:before {
    content: "\e0d1";
}
.icon-big-truck:before {
    content: "\e0d2";
}
.icon-colis-retrait:before {
    content: "\e0d3";
}
.icon-colis-pret:before {
    content: "\e0d4";
}
.icon-colis-ouvert:before {
    content: "\e0d5";
}
.icon-colis-ferme:before {
    content: "\e0d6";
}
.icon-colis:before {
    content: "\e0d7";
}
.icon-film-tournage:before {
    content: "\e0d8";
}
.icon-film-camera:before {
    content: "\e0d9";
}
.icon-film:before {
    content: "\e0da";
}
.icon-helicopter:before {
    content: "\e0db";
}
.icon-depot:before {
    content: "\e0dc";
}
.icon-mute:before {
    content: "\e0dd";
}
.icon-music-stop:before {
    content: "\e0de";
}
.icon-music-prev:before {
    content: "\e0df";
}
.icon-music-play-2:before {
    content: "\e0e0";
}
.icon-music-play:before {
    content: "\e0e1";
}
.icon-music-pause:before {
    content: "\e0e2";
}
.icon-music-note:before {
    content: "\e0e3";
}
.icon-music-next:before {
    content: "\e0e4";
}
.icon-montgolfiere:before {
    content: "\e0e5";
}
.icon-lift:before {
    content: "\e0e6";
}
.icon-micro:before {
    content: "\e0e7";
}
.icon-livraison:before {
    content: "\e0e8";
}
.icon-metro:before {
    content: "\e0e9";
}
.icon-haut-parleur:before {
    content: "\e0ea";
}
.icon-poids-colis:before {
    content: "\e0eb";
}
.icon-poids-bagage:before {
    content: "\e0ec";
}
.icon-retour-colis:before {
    content: "\e0ed";
}
.icon-retrait:before {
    content: "\e0ee";
}
.icon-services-apres-vente:before {
    content: "\e0ef";
}
.icon-transporteur:before {
    content: "\e0f0";
}
.icon-transport-lourd:before {
    content: "\e0f1";
}
.icon-train:before {
    content: "\e0f2";
}
.icon-tracteur:before {
    content: "\e0f3";
}
.icon-voilier:before {
    content: "\e0f4";
}
.icon-velomoteur:before {
    content: "\e0f5";
}
.icon-velo:before {
    content: "\e0f6";
}
.icon-bus:before {
    content: "\e0f7";
}
.icon-carte-bancaire:before {
    content: "\e0f8";
}
.icon-carrefour-finance-1:before {
    content: "\e0f9";
}
.icon-carte-bancaires:before {
    content: "\e0fa";
}
.icon-caisse-store:before {
    content: "\e0fb";
}
.icon-arrow-directionnel:before {
    content: "\e0fc";
}
.icon-cheques-bonus:before {
    content: "\e0fd";
}
.icon-billets:before {
    content: "\e0fe";
}
.icon-distributeur-billets:before {
    content: "\e0ff";
}
.icon-directions:before {
    content: "\e100";
}
.icon-geo:before {
    content: "\e101";
}
.icon-grosse-economie:before {
    content: "\e102";
}
.icon-facture:before {
    content: "\e103";
}
.icon-localisation-store:before {
    content: "\e104";
}
.icon-localisation:before {
    content: "\e105";
}
.icon-itiniraire:before {
    content: "\e106";
}
.icon-nfc:before {
    content: "\e107";
}
.icon-location-carte:before {
    content: "\e108";
}
.icon-payment-securise:before {
    content: "\e109";
}
.icon-terminal-bancaire:before {
    content: "\e10a";
}
.icon-ticket:before {
    content: "\e10b";
}
.icon-ticket-impression:before {
    content: "\e10c";
}
.icon-web:before {
    content: "\e10d";
}
.icon-payment-carte:before {
    content: "\e10e";
}
.icon-attach:before {
    content: "\e10f";
}
.icon-badge:before {
    content: "\e110";
}
.icon-doc-edit:before {
    content: "\e111";
}
.icon-doc-facture:before {
    content: "\e112";
}
.icon-doc-repport:before {
    content: "\e113";
}
.icon-doc-wishlist:before {
    content: "\e114";
}
.icon-dossier:before {
    content: "\e115";
}
.icon-drive-5min:before {
    content: "\e116";
}
.icon-drive-car-open:before {
    content: "\e117";
}
.icon-drive-car-ready:before {
    content: "\e118";
}
.icon-drive-online-order:before {
    content: "\e119";
}
.icon-drive-online-order-2:before {
    content: "\e11a";
}
.icon-drive-order-bag:before {
    content: "\e11b";
}
.icon-drive-preparator:before {
    content: "\e11c";
}
.icon-express-aperitief:before {
    content: "\e11d";
}
.icon-express-croissant:before {
    content: "\e11e";
}
.icon-express-sandwish:before {
    content: "\e11f";
}
.icon-express-shopping:before {
    content: "\e120";
}
.icon-express-snack:before {
    content: "\e121";
}
.icon-express-timing:before {
    content: "\e122";
}
.icon-file-pdf:before {
    content: "\e123";
}
.icon-file-jpg:before {
    content: "\e124";
}
.icon-file-html:before {
    content: "\e125";
}
.icon-file-doc:before {
    content: "\e126";
}
.icon-file-attach:before {
    content: "\e127";
}
.icon-graphic:before {
    content: "\e128";
}
.icon-graphic-2:before {
    content: "\e129";
}
.icon-graphic-positive:before {
    content: "\e12a";
}
.icon-graphic-positive-tab:before {
    content: "\e12b";
}
.icon-hr-evaluation-personel:before {
    content: "\e12c";
}
.icon-ghr-bonus-personel:before {
    content: "\e12d";
}
.icon-id:before {
    content: "\e12e";
}
.icon-hyper-hip:before {
    content: "\e12f";
}
.icon-hr-taleo:before {
    content: "\e130";
}
.icon-hr-recherge-personel:before {
    content: "\e131";
}
.icon-hr-hiarchy:before {
    content: "\e132";
}
.icon-file-png:before {
    content: "\e133";
}
.icon-file-xls:before {
    content: "\e134";
}
.icon-file-zip:before {
    content: "\e135";
}
.icon-organigram:before {
    content: "\e136";
}
.icon-process-2:before {
    content: "\e137";
}
.icon-sap:before {
    content: "\e138";
}
.icon-store-receipt:before {
    content: "\e139";
}
.icon-sous-de-document:before {
    content: "\e13a";
}
.icon-process:before {
    content: "\e13b";
}
.icon-humeur-triste:before {
    content: "\e13c";
}
.icon-humeur-smile:before {
    content: "\e13d";
}
.icon-humeur-rien-dire:before {
    content: "\e13e";
}
.icon-humeur-pas-content:before {
    content: "\e13f";
}
.icon-humeur-neutre:before {
    content: "\e140";
}
.icon-humeur-blink:before {
    content: "\e141";
}
.icon-humeur-devient-triste:before {
    content: "\e142";
}
.icon-humeur-dificile:before {
    content: "\e143";
}
.icon-humeur-dificile-2:before {
    content: "\e144";
}
.icon-humeur-fache:before {
    content: "\e145";
}
.icon-humeur-happy:before {
    content: "\e146";
}
.icon-humeur-j-adore:before {
    content: "\e147";
}
.icon-humeur-langue:before {
    content: "\e148";
}
.icon-humeur-langue-drole:before {
    content: "\e149";
}
.icon-humeur-marrant:before {
    content: "\e14a";
}
.icon-allergene-gluten:before {
    content: "\e097";
}
.icon-alteres:before {
    content: "\e14b";
}
.icon-alcool-2:before {
    content: "\e14c";
}
.icon-3d:before {
    content: "\e14d";
}
.icon-abeille:before {
    content: "\e14e";
}
.icon-baby-biberon-2:before {
    content: "\e14f";
}
.icon-baby-toys:before {
    content: "\e150";
}
.icon-baby-toys-sleep:before {
    content: "\e151";
}
.icon-baby-car:before {
    content: "\e152";
}
.icon-baby-toys-2:before {
    content: "\e153";
}
.icon-baby-toys-3:before {
    content: "\e154";
}
.icon-baby-toys-4:before {
    content: "\e155";
}
.icon-baby-toys-5:before {
    content: "\e156";
}
.icon-baby-toys-6:before {
    content: "\e157";
}
.icon-baby-toys-7:before {
    content: "\e158";
}
.icon-badminton:before {
    content: "\e159";
}
.icon-barbecue:before {
    content: "\e15a";
}
.icon-bar:before {
    content: "\e15b";
}
.icon-beurre:before {
    content: "\e15c";
}
.icon-bidet:before {
    content: "\e15d";
}
.icon-biere:before {
    content: "\e15e";
}
.icon-biere-2:before {
    content: "\e15f";
}
.icon-biere-3:before {
    content: "\e160";
}
.icon-baseball:before {
    content: "\e161";
}
.icon-baseball-2:before {
    content: "\e162";
}
.icon-barriere:before {
    content: "\e163";
}
.icon-bagage-avion:before {
    content: "\e164";
}
.icon-bagage:before {
    content: "\e165";
}
.icon-badpak:before {
    content: "\e166";
}
.icon-baby-toys-8:before {
    content: "\e167";
}
.icon-baby-toys-9:before {
    content: "\e168";
}
.icon-baby-toys-10:before {
    content: "\e169";
}
.icon-baby-toys-11:before {
    content: "\e16a";
}
.icon-bagage-transport:before {
    content: "\e16b";
}
.icon-bague:before {
    content: "\e16c";
}
.icon-baguette:before {
    content: "\e16d";
}
.icon-baby-toys-13:before {
    content: "\e16e";
}
.icon-baby-toys-12:before {
    content: "\e16f";
}
.icon-baby-sleep-2:before {
    content: "\e170";
}
.icon-baby-bath:before {
    content: "\e171";
}
.icon-arrosoir:before {
    content: "\e172";
}
.icon-arbre:before {
    content: "\e173";
}
.icon-alcool:before {
    content: "\e174";
}
.icon-baby-tetine:before {
    content: "\e175";
}
.icon-baby-biberon:before {
    content: "\e176";
}
.icon-baby-sleep:before {
    content: "\e177";
}
.icon-baby-mange:before {
    content: "\e178";
}
.icon-baby-maman:before {
    content: "\e179";
}
.icon-baby-garcon:before {
    content: "\e17a";
}
.icon-baby-fille:before {
    content: "\e17b";
}
.icon-baby-est-ne:before {
    content: "\e17c";
}
.icon-baby-clothes:before {
    content: "\e17d";
}
.icon-baby-clothes-2:before {
    content: "\e17e";
}
.icon-baby-chaussettes:before {
    content: "\e17f";
}
.icon-baby-velo:before {
    content: "\e180";
}
.icon-babyphone:before {
    content: "\e181";
}
.icon-babyphones:before {
    content: "\e182";
}
.icon-ballon:before {
    content: "\e183";
}
.icon-bain-2:before {
    content: "\e184";
}
.icon-bain:before {
    content: "\e185";
}
.icon-basket-1:before {
    content: "\e186";
}
.icon-bavoir:before {
    content: "\e187";
}
.icon-body:before {
    content: "\e188";
}
.icon-bowling:before {
    content: "\e189";
}
.icon-bouteille-vin:before {
    content: "\e18a";
}
.icon-boulangerie-patisserie:before {
    content: "\e18b";
}
.icon-bougie:before {
    content: "\e18c";
}
.icon-boucles-doreilles:before {
    content: "\e18d";
}
.icon-bottines-homme:before {
    content: "\e18e";
}
.icon-cadeau-1:before {
    content: "\e18f";
}
.icon-cafe:before {
    content: "\e190";
}
.icon-bracelet:before {
    content: "\e191";
}
.icon-carte-recharge-telephone:before {
    content: "\e192";
}
.icon-carte-sim:before {
    content: "\e193";
}
.icon-casquette:before {
    content: "\e194";
}
.icon-brosse-a-dents:before {
    content: "\e195";
}
.icon-bricolage:before {
    content: "\e196";
}
.icon-brouette:before {
    content: "\e197";
}
.icon-camera:before {
    content: "\e198";
}
.icon-cannette:before {
    content: "\e199";
}
.icon-bonnet:before {
    content: "\e19a";
}
.icon-bonhomme-neige-2:before {
    content: "\e19b";
}
.icon-bottines-femme:before {
    content: "\e19c";
}
.icon-billard:before {
    content: "\e19d";
}
.icon-capsule:before {
    content: "\e19e";
}
.icon-chaise:before {
    content: "\e19f";
}
.icon-chaussure:before {
    content: "\e1a0";
}
.icon-chaussettes-courtes:before {
    content: "\e1a1";
}
.icon-cereales:before {
    content: "\e1a2";
}
.icon-ceinture:before {
    content: "\e1a3";
}
.icon-chaussettes:before {
    content: "\e1a4";
}
.icon-chocolat-chaud:before {
    content: "\e1a5";
}
.icon-chaussette-2:before {
    content: "\e1a6";
}
.icon-chaussette:before {
    content: "\e1a7";
}
.icon-chauffe-serviettes:before {
    content: "\e1a8";
}
.icon-chevalet:before {
    content: "\e1a9";
}
.icon-charbon:before {
    content: "\e1aa";
}
.icon-chapeau:before {
    content: "\e1ab";
}
.icon-champagne-fetes:before {
    content: "\e1ac";
}
.icon-champagne:before {
    content: "\e1ad";
}
.icon-chemise:before {
    content: "\e1ae";
}
.icon-chaussure-femme:before {
    content: "\e1af";
}
.icon-cirque:before {
    content: "\e1b0";
}
.icon-cocktail:before {
    content: "\e1b1";
}
.icon-cocktail-coco:before {
    content: "\e1b2";
}
.icon-cle:before {
    content: "\e1b3";
}
.icon-cookies:before {
    content: "\e1b4";
}
.icon-cordonnier:before {
    content: "\e1b5";
}
.icon-costume:before {
    content: "\e1b6";
}
.icon-couleurs:before {
    content: "\e1b7";
}
.icon-collier:before {
    content: "\e1b8";
}
.icon-couronne:before {
    content: "\e1b9";
}
.icon-digestif:before {
    content: "\e1ba";
}
.icon-donut:before {
    content: "\e1bc";
}
.icon-domino:before {
    content: "\e1bd";
}
.icon-crepes:before {
    content: "\e1be";
}
.icon-cravate:before {
    content: "\e1bf";
}
.icon-cuisine-2:before {
    content: "\e1c0";
}
.icon-eclairage:before {
    content: "\e1c1";
}
.icon-echelle:before {
    content: "\e1c2";
}
.icon-echarpe-2:before {
    content: "\e1c3";
}
.icon-echarpe:before {
    content: "\e1c4";
}
.icon-epilateur:before {
    content: "\e1c5";
}
.icon-exterieur:before {
    content: "\e1c6";
}
.icon-extincteur:before {
    content: "\e1c7";
}
.icon-essuis:before {
    content: "\e1c8";
}
.icon-evier:before {
    content: "\e1c9";
}
.icon-dvd-logo:before {
    content: "\e1ca";
}
.icon-dvd:before {
    content: "\e1cb";
}
.icon-eau:before {
    content: "\e1cc";
}
.icon-eau-2:before {
    content: "\e1cd";
}
.icon-eau-petillante:before {
    content: "\e1ce";
}
.icon-enceinte:before {
    content: "\e1cf";
}
.icon-douche:before {
    content: "\e1d0";
}
.icon-farine:before {
    content: "\e1d1";
}
.icon-fauteuil:before {
    content: "\e1d2";
}
.icon-fles:before {
    content: "\e1d3";
}
.icon-feu:before {
    content: "\e1d4";
}
.icon-fles-14:before {
    content: "\e1d5";
}
.icon-fles-13:before {
    content: "\e1d6";
}
.icon-fles-15:before {
    content: "\e1d7";
}
.icon-fles-16:before {
    content: "\e1d8";
}
.icon-fles-2:before {
    content: "\e1d9";
}
.icon-fles-4:before {
    content: "\e1da";
}
.icon-fles-5:before {
    content: "\e1db";
}
.icon-fles-6:before {
    content: "\e1dc";
}
.icon-fles-7:before {
    content: "\e1dd";
}
.icon-fles-8:before {
    content: "\e1de";
}
.icon-fles-9:before {
    content: "\e1df";
}
.icon-fles-10:before {
    content: "\e1e0";
}
.icon-fles-11:before {
    content: "\e1e1";
}
.icon-golf-2:before {
    content: "\e1e2";
}
.icon-gourde:before {
    content: "\e1e3";
}
.icon-fles-12:before {
    content: "\e1e4";
}
.icon-golf:before {
    content: "\e1e5";
}
.icon-guitare:before {
    content: "\e1e6";
}
.icon-gros-pinceau:before {
    content: "\e1e7";
}
.icon-glaces-2:before {
    content: "\e1e8";
}
.icon-glaces:before {
    content: "\e1e9";
}
.icon-foodball:before {
    content: "\e1ea";
}
.icon-hockey:before {
    content: "\e1eb";
}
.icon-health-watch:before {
    content: "\e1ec";
}
.icon-headset:before {
    content: "\e1ed";
}
.icon-gps:before {
    content: "\e1ee";
}
.icon-gourde-2:before {
    content: "\e1ef";
}
.icon-gant:before {
    content: "\e1f0";
}
.icon-fleur:before {
    content: "\e1f1";
}
.icon-fles-3:before {
    content: "\e1f2";
}
.icon-jardinage:before {
    content: "\e1f3";
}
.icon-jurk:before {
    content: "\e1f4";
}
.icon-jurk-2:before {
    content: "\e1f5";
}
.icon-jas:before {
    content: "\e1f6";
}
.icon-jas-2:before {
    content: "\e1f7";
}
.icon-jurk-3:before {
    content: "\e1f8";
}
.icon-lecteur-dvd:before {
    content: "\e1f9";
}
.icon-jus-de-fruits:before {
    content: "\e1fa";
}
.icon-jas-3:before {
    content: "\e1fb";
}
.icon-jeans:before {
    content: "\e1fc";
}
.icon-jet-ski:before {
    content: "\e1fd";
}
.icon-lait:before {
    content: "\e1fe";
}
.icon-lait-vegetal:before {
    content: "\e1ff";
}
.icon-jeu-de-cartes:before {
    content: "\e200";
}
.icon-jeu-de-cartes-2:before {
    content: "\e201";
}
.icon-lampe:before {
    content: "\e202";
}
.icon-jeu-de-des:before {
    content: "\e203";
}
.icon-jeu-de-societe:before {
    content: "\e204";
}
.icon-lampe-de-poche:before {
    content: "\e205";
}
.icon-landeau:before {
    content: "\e206";
}
.icon-jeu-video:before {
    content: "\e207";
}
.icon-ipod:before {
    content: "\e208";
}
.icon-jeu-video-2:before {
    content: "\e209";
}
.icon-lange:before {
    content: "\e20a";
}
.icon-literie:before {
    content: "\e20b";
}
.icon-internet-explorer:before {
    content: "\e20c";
}
.icon-magie:before {
    content: "\e20d";
}
.icon-machien-a-laver:before {
    content: "\e20e";
}
.icon-lunettes:before {
    content: "\e20f";
}
.icon-limonade:before {
    content: "\e210";
}
.icon-masker:before {
    content: "\e211";
}
.icon-mirroir:before {
    content: "\e212";
}
.icon-martini:before {
    content: "\e213";
}
.icon-marteau:before {
    content: "\e214";
}
.icon-margarine:before {
    content: "\e215";
}
.icon-moufles:before {
    content: "\e216";
}
.icon-moufle:before {
    content: "\e217";
}
.icon-miel-2:before {
    content: "\e218";
}
.icon-miel:before {
    content: "\e219";
}
.icon-montre-classique:before {
    content: "\e21a";
}
.icon-muffin:before {
    content: "\e21b";
}
.icon-mer-du-nord-brand:before {
    content: "\e21c";
}
.icon-mobilier-salle-de-bain:before {
    content: "\e21d";
}
.icon-montagne:before {
    content: "\e21e";
}
.icon-maillot-de-bain:before {
    content: "\e21f";
}
.icon-maison-oiseaux:before {
    content: "\e220";
}
.icon-micro-1:before {
    content: "\e221";
}
.icon-montre:before {
    content: "\e222";
}
.icon-mercerie:before {
    content: "\e223";
}
.icon-ordinateur-tour:before {
    content: "\e224";
}
.icon-parapluie:before {
    content: "\e225";
}
.icon-parents-bebe:before {
    content: "\e226";
}
.icon-pelle-rateau:before {
    content: "\e227";
}
.icon-pellet:before {
    content: "\e228";
}
.icon-popcorn:before {
    content: "\e229";
}
.icon-pressing:before {
    content: "\e22a";
}
.icon-prise-electrique:before {
    content: "\e22b";
}
.icon-quincaillerie:before {
    content: "\e22c";
}
.icon-poussette-2:before {
    content: "\e22d";
}
.icon-poussette:before {
    content: "\e22e";
}
.icon-pieds-empreinte:before {
    content: "\e22f";
}
.icon-ordinateur:before {
    content: "\e230";
}
.icon-ordi-portable:before {
    content: "\e231";
}
.icon-pantoufles:before {
    content: "\e232";
}
.icon-pantalon-stretch:before {
    content: "\e233";
}
.icon-pantalon:before {
    content: "\e234";
}
.icon-or:before {
    content: "\e235";
}
.icon-oeuf-3:before {
    content: "\e236";
}
.icon-pain-danton-2:before {
    content: "\e237";
}
.icon-pain-pour-four:before {
    content: "\e238";
}
.icon-patinage:before {
    content: "\e239";
}
.icon-panty:before {
    content: "\e23a";
}
.icon-ping-pong:before {
    content: "\e23b";
}
.icon-pas:before {
    content: "\e23c";
}
.icon-projecteur:before {
    content: "\e23d";
}
.icon-pot-de-peinture-2:before {
    content: "\e23e";
}
.icon-pot-de-peinture:before {
    content: "\e23f";
}
.icon-petits-pain:before {
    content: "\e240";
}
.icon-photo:before {
    content: "\e241";
}
.icon-petite-pelle:before {
    content: "\e242";
}
.icon-porte-monnaie:before {
    content: "\e243";
}
.icon-portefeuille:before {
    content: "\e244";
}
.icon-pendentif:before {
    content: "\e245";
}
.icon-pain:before {
    content: "\e246";
}
.icon-nuisette:before {
    content: "\e247";
}
.icon-musique:before {
    content: "\e248";
}
.icon-oeu-sur-le-plat:before {
    content: "\e249";
}
.icon-oeuf:before {
    content: "\e24a";
}
.icon-oeuf-2:before {
    content: "\e24b";
}
.icon-pain-danton:before {
    content: "\e24c";
}
.icon-pain-couronne:before {
    content: "\e24d";
}
.icon-pain-2:before {
    content: "\e24e";
}
.icon-randonnee:before {
    content: "\e24f";
}
.icon-robinet:before {
    content: "\e250";
}
.icon-robinet-2:before {
    content: "\e251";
}
.icon-rasoir:before {
    content: "\e252";
}
.icon-rateau-petit:before {
    content: "\e253";
}
.icon-sapin:before {
    content: "\e254";
}
.icon-sangria:before {
    content: "\e255";
}
.icon-rouleau-peinture:before {
    content: "\e256";
}
.icon-soda-bouteille:before {
    content: "\e257";
}
.icon-soda:before {
    content: "\e258";
}
.icon-sms:before {
    content: "\e259";
}
.icon-smoothie:before {
    content: "\e25a";
}
.icon-smoking:before {
    content: "\e25b";
}
.icon-short:before {
    content: "\e25c";
}
.icon-secateur:before {
    content: "\e25d";
}
.icon-rugby-ball:before {
    content: "\e25e";
}
.icon-seche-cheveux:before {
    content: "\e25f";
}
.icon-sac-a-main:before {
    content: "\e260";
}
.icon-reveil:before {
    content: "\e261";
}
.icon-rideaux:before {
    content: "\e262";
}
.icon-robe:before {
    content: "\e263";
}
.icon-squash:before {
    content: "\e264";
}
.icon-spectacle:before {
    content: "\e265";
}
.icon-smartphone:before {
    content: "\e266";
}
.icon-soutien-gorge:before {
    content: "\e267";
}
.icon-ski:before {
    content: "\e268";
}
.icon-sirop:before {
    content: "\e269";
}
.icon-souris:before {
    content: "\e26a";
}
.icon-t-shirt:before {
    content: "\e26b";
}
.icon-table:before {
    content: "\e26c";
}
.icon-ticket-d-avion:before {
    content: "\e26d";
}
.icon-ticket-de-bus:before {
    content: "\e26e";
}
.icon-telepherique:before {
    content: "\e26f";
}
.icon-telecommande:before {
    content: "\e270";
}
.icon-tartine:before {
    content: "\e271";
}
.icon-tetrapack-milk:before {
    content: "\e272";
}
.icon-the:before {
    content: "\e273";
}
.icon-tetrapack:before {
    content: "\e274";
}
.icon-tonneau-robinet:before {
    content: "\e275";
}
.icon-tonneau:before {
    content: "\e276";
}
.icon-tongs:before {
    content: "\e277";
}
.icon-tennis-2:before {
    content: "\e278";
}
.icon-tennis:before {
    content: "\e279";
}
.icon-tondeuse:before {
    content: "\e27a";
}
.icon-trui:before {
    content: "\e27b";
}
.icon-tube-peinture:before {
    content: "\e27c";
}
.icon-tranzat:before {
    content: "\e27d";
}
.icon-temperature-froid:before {
    content: "\e27e";
}
.icon-temperature-chaud:before {
    content: "\e27f";
}
.icon-toilette:before {
    content: "\e280";
}
.icon-temperature:before {
    content: "\e281";
}
.icon-tablette:before {
    content: "\e282";
}
.icon-tv:before {
    content: "\e283";
}
.icon-vin:before {
    content: "\e284";
}
.icon-xxl:before {
    content: "\e285";
}
.icon-wisky:before {
    content: "\e286";
}
.icon-vin-bouteille:before {
    content: "\e287";
}
.icon-vin-fete:before {
    content: "\e288";
}
.icon-touchscreen:before {
    content: "\e289";
}
.icon-valise-roulettes:before {
    content: "\e28a";
}
.icon-volley:before {
    content: "\e28b";
}
.icon-viennoiserie:before {
    content: "\e28c";
}
.icon-veste:before {
    content: "\e28d";
}
.icon-windows-software:before {
    content: "\e28e";
}
.icon-windows:before {
    content: "\e28f";
}
.icon-verre:before {
    content: "\e290";
}
.icon-ventilateur:before {
    content: "\e291";
}
.icon-belgetarien:before {
    content: "\33";
}
.icon-diables-rouges:before {
    content: "\e01b";
}
.icon-marine:before {
    content: "\e02e";
}
.icon-puree:before {
    content: "\e1bb";
}
.icon-produit-laitier:before {
    content: "\e292";
}






.icon-activer:before {
    content: "\58";
}
.icon-activer-desactiver:before {
    content: "\59";
}
.icon-acocat:before {
    content: "\e293";
}
.icon-ananas:before {
    content: "\e294";
}
.icon-aubergine:before {
    content: "\e295";
}
.icon-artichaud:before {
    content: "\e296";
}
.icon-asiatique:before {
    content: "\e297";
}
.icon-asperges:before {
    content: "\e298";
}
.icon-ail:before {
    content: "\e299";
}
.icon-bananes:before {
    content: "\e29a";
}
.icon-banane:before {
    content: "\e29b";
}
.icon-carotte:before {
    content: "\e29c";
}
.icon-cerise:before {
    content: "\e29d";
}
.icon-brocoli:before {
    content: "\e29e";
}
.icon-brochettes:before {
    content: "\e29f";
}
.icon-champignon-1:before {
    content: "\e2a0";
}
.icon-champignon-2:before {
    content: "\e2a1";
}
.icon-citron:before {
    content: "\e2a2";
}
.icon-citrus:before {
    content: "\e2a3";
}
.icon-crabe-1:before {
    content: "\e2a4";
}
.icon-crabe-2:before {
    content: "\e2a5";
}
.icon-crustaces-1:before {
    content: "\e2a6";
}
.icon-coquillage:before {
    content: "\e2a7";
}
.icon-document-list:before {
    content: "\e2a8";
}
.icon-cucurbitace:before {
    content: "\e2a9";
}
.icon-crustaces-6:before {
    content: "\e2aa";
}
.icon-crustaces-5:before {
    content: "\e2ab";
}
.icon-crustaces-4:before {
    content: "\e2ac";
}
.icon-cotelette:before {
    content: "\e2ad";
}
.icon-crustaces-3:before {
    content: "\e2ae";
}
.icon-crustaces-2:before {
    content: "\e2af";
}
.icon-fruits-legumes:before {
    content: "\e2b0";
}
.icon-fraise:before {
    content: "\e2b1";
}
.icon-gibier-2:before {
    content: "\e2b2";
}
.icon-homard:before {
    content: "\e2b3";
}
.icon-huiledolive:before {
    content: "\e2b4";
}
.icon-gibier-1:before {
    content: "\e2b5";
}
.icon-jambon:before {
    content: "\e2b6";
}
.icon-mais:before {
    content: "\e2b7";
}
.icon-moules-2:before {
    content: "\e2b8";
}
.icon-moules-1:before {
    content: "\e2b9";
}
.icon-noix:before {
    content: "\e2ba";
}
.icon-pasteque:before {
    content: "\e2bb";
}
.icon-piment:before {
    content: "\e2bc";
}
.icon-poids:before {
    content: "\e2bd";
}
.icon-pommes:before {
    content: "\e2be";
}
.icon-poivron:before {
    content: "\e2bf";
}
.icon-pomme-de-terre:before {
    content: "\e2c0";
}
.icon-poulet:before {
    content: "\e2c1";
}
.icon-poissonerie-prepare:before {
    content: "\e2c2";
}
.icon-poissonerie:before {
    content: "\e2c3";
}
.icon-poisson-2:before {
    content: "\e2c4";
}
.icon-poisson-1:before {
    content: "\e2c5";
}
.icon-poire:before {
    content: "\e2c6";
}
.icon-raisins-1:before {
    content: "\e2c7";
}
.icon-raisins-2:before {
    content: "\e2c8";
}
.icon-raprot-list:before {
    content: "\e2c9";
}
.icon-saucisson-charcuterie:before {
    content: "\e2ca";
}
.icon-saucisse:before {
    content: "\e2cb";
}
.icon-saucisson-fromage:before {
    content: "\e2cc";
}
.icon-saurisserie:before {
    content: "\e2cd";
}
.icon-sushi-1:before {
    content: "\e2ce";
}
.icon-sushi-2:before {
    content: "\e2cf";
}
.icon-sushi-3:before {
    content: "\e2d0";
}
.icon-sushi-4:before {
    content: "\e2d1";
}
.icon-tomate:before {
    content: "\e2d2";
}
.icon-viande-1:before {
    content: "\e2d3";
}
.icon-viande-2:before {
    content: "\e2d4";
}
.icon-viande-3:before {
    content: "\e2d5";
}
.icon-viande-5:before {
    content: "\e2d6";
}
.icon-viande-4:before {
    content: "\e2d7";
}
.icon-viande-6:before {
    content: "\e2d8";
}
.icon-viande-7:before {
    content: "\e2d9";
}
.icon-viande-8:before {
    content: "\e2da";
}
.icon-viande-9:before {
    content: "\e2db";
}
.icon-blender:before {
    content: "\e2dc";
}
.icon-bouilloire:before {
    content: "\e2dd";
}
.icon-four:before {
    content: "\e2de";
}
.icon-fromage-vieux:before {
    content: "\e2df";
}
.icon-hotte:before {
    content: "\e2e0";
}
.icon-framage-jeune:before {
    content: "\e2e1";
}
.icon-frigo-1:before {
    content: "\e2e2";
}
.icon-grain-de-cafe:before {
    content: "\e2e3";
}
.icon-fromage-tartinable:before {
    content: "\e2e4";
}
.icon-microondes:before {
    content: "\e2e5";
}
.icon-mixeur:before {
    content: "\e2e6";
}
.icon-machine-a-cafe:before {
    content: "\e2e7";
}
.icon-plat-vapeur:before {
    content: "\e2e8";
}
.icon-produit-belges:before {
    content: "\e2e9";
}
.icon-rape-fromage:before {
    content: "\e2ea";
}
.icon-rice-cooker:before {
    content: "\e2eb";
}
.icon-taque-electrique:before {
    content: "\e2ec";
}
.icon-toaster:before {
    content: "\e2ed";
}
