<div class="cfrbars" ng-if="loaded" cfrbars-calculate-padding>
  <div class="cfr-topbar-container">
    <cfrcookiebar></cfrcookiebar>
    <cfrtopbar></cfrtopbar>
  </div>
  <cfrbottombar></cfrbottombar>
  <cfrfooter ng-if="data.footerbottom" data="data.footerbottom"></cfrfooter>

  <style>
    .cfr-topbar-container {top: {{paddingTop}}px;}
  </style>

</div>