{% extends 'carrefour/base.twig' %}

{# set page variables #}{#<?php#}
{% set pageTitle = __('page not found') %}
{% set bodyClass = 'pg404' %}

{% block pageMain %}
    {# 404 --------------------------------------------------------------------- #}
    <div class="sct404">
        {% set heading404 = {'text':__('<em>Oops,</em> This page could not be found...')} %}
        {% set text404 = {'body':__('What would you like to do?')} %}

        {% include 'generic/cntHeading' with {'data':{'content':heading404}} %}
        {% include 'generic/cntTextblock' with {'data':{'content':text404, 'pWrapped':true}} %}
        {% include 'carrefour/navEnseigne' %}
    </div>
{% endblock %}
