{% extends 'carrefour/base.twig' %}

{% block pageMain %}
    {# 500 --------------------------------------------------------------------- #}
    <div class="sct404">
        {% set heading500 = {'text':__('<em>Oops,</em> this page could not be found...')} %}
        {% set text500 = {'body':__('What would you like to do?')} %}

        {% include 'generic/cntHeading' with {'data':{'content':heading500}} %}
        {% include 'generic/cntTextblock' with {'data':{'content':text500, 'pWrapped':true}} %}
        {% include 'carrefour/navEnseigne' %}
    </div>
{% endblock %}
