.contentFree {
	padding:12px; font-size:14px; line-height:1.35em; @include clearfix;
	> .main > *:first-child {margin-top:0;}
	h2, h3, h4 {margin:16px 0; @include fontCarrefour(); font-weight:400; color:#005aa9; line-height:1.05em;}
	h2 {font-size:22px;}
	h3 {font-size:18px;}
	h4 {font-size:16px;}
	h2 + *, h3 + *, h4 + * {margin-top:0;}

	p, ul, ol, blockquote  {margin:14px 0;}
	strong {font-weight:600;}
	a {color:#005aa9;}
	a:hover {text-decoration:none;}
	blockquote {padding:8px 12px; background:#ecf1f5; border-radius:8px 0 8px 0px; color:#005aa9; font-style:italic; font-size:12px; overflow:hidden;}
	&:nth-child(2n+2) blockquote {background:#fff;}
	ol > li, ul > li {margin:8px 0px;}
	ol > li {list-style:decimal; margin-left:18px;}
	ul > li {padding-left:18px; position:relative;}
	ul > li:before {@include icon($icon-arrow-right); position:absolute; left:4px; top:6px; font-size:45%; color:#005aa9;}

	p:empty {display:none;}
	.figure-wrapper figure {position:relative; display:inline-block; max-width:100%;}
	.figure-wrapper, article.embedded-entity {
		margin-top:0; margin-bottom:14px; overflow:hidden; position:relative; margin-left:-12px; margin-right:-12px;
		figcaption {position:absolute; left:0; bottom:0; right:0; padding:8px 12px; background:rgba(255,255,255,0.75); color:#005aa9; font-style:italic; font-size:12px; line-height:1.25em; border-radius:4px 4px 0 0; text-align:left;}
		img {max-width:100%; display:block; height:auto;}
		&.align-center {text-align:center;}
		&.align-center img {margin:0 auto;}
		&.media-video figure {display:block; width:100%;}
		&.media-video figcaption {display:none;}
	}
	h2 + .figure-wrapper, h3 + .figure-wrapper, h4 + .figure-wrapper,
	h2 + article.embedded-entity, h3 + article.embedded-entity, h4 + article.embedded-entity {margin-top:14px;}

	.media-video {
		padding:0 12px;
		.media-video {padding:0;}
		.video-embed-field-responsive-video {padding-top:56.2%; position:relative;}
		.video-embed-field-responsive-video iframe {position:absolute; left:0; right:0; top:0; bottom:0; width:100%; height:100%;}

		@media (min-width:1024px) {
			padding:0 50px;
			.media-video {padding:0;}
		}
	}

	@media (min-width: 850px) {
		font-size:16px;
		h2 {font-size:32px;}
		h3 {font-size:26px;}
		h4 {font-size:20px;}

		p, ul, ol, blockquote {margin:18px 0;}
		h2, h3, h4 {margin:24px 0 -8px;}
		blockquote {font-size:14px; padding-left:26px; padding-right:20px;}

		ul > li:before {left:2px; top:7px;}

		.figure-wrapper, article.embedded-entity{
			margin-bottom:18px;
			&.align-right {float:right; max-width:50%; margin-left:20px; margin-right:0; border-radius:4px;}
			&.align-left {float:left; max-width:50%; margin-right:20px; margin-left:0; border-radius:4px;}
			figcaption {padding:14px 22px;}
		}

	}
	@media (min-width: 1024px) {
		padding:30px 50px;
		.figure-wrapper, article.embedded-entity {margin-left:-50px; margin-right:-50px;}
	}
}
