{% include 'helpers/teaserGridContent' with {'data':{
	'content': data.content.recipes,
	'index': data.index,
	'teaserOffset': data.teaserOffset,
	'emptyNotification': (data.offset == 0 ? {'title':__('zero result title'), 'description':__('zero result instruction')} : false),
	'printLimit': data.printLimit
}} %}
