{% set relatedArticleHeading = data.heading %}
{% set relatedArticles = data.content %}
{% embed 'generic/sctList' with{'data':{'variant': data.variant}} %}
	{% block header %}{#<?php#}
		{% set cRelatedCampaignArticlesHeading = {'text': relatedArticleHeading } %}
		{% include 'generic/cntHeading' with {'data':{'content':cRelatedCampaignArticlesHeading, 'level':'2'}} %}
	{% endblock %}
	{% block main %}
		{% for relatedCampaignArticle in relatedArticles %}
			{% if relatedCampaignArticle.type == 'recipe' %}
				{% include 'carrefour/recipe' with {'data':{'view':'vaView', 'content':relatedCampaignArticle, 'context':'related'}} %}
            {% elseif relatedCampaignArticle.type == 'campaign' %}
                {% include 'carrefour/campaign' with {'data':{'view':'vaView', 'content':relatedCampaignArticle}} %}
			{% else %}
				{% include 'carrefour/article' with {'data':{'view':'vaView', 'content':relatedCampaignArticle}} %}
			{% endif %}
		{% endfor %}
	{% endblock %}
{% endembed %}