{% set cRelatedCampaignArticles = data.content.campaign|default('') %}
{% set cRelatedTaggedArticles = {'heading': __('Interesting articles'), 'variant': 'taggedArticles', 'content': data.content.content.article|default('')} %}
{% set cRelatedTaggedRecipes = {'heading': __('Discover recipes'), 'variant': 'relatedRecipes', 'content': data.content.content.recipe|default('')} %}
{% if cRelatedCampaignArticles != '' and data.campaignId != '' %}
	{# @TODO: refactor for a cleaner solution to get campaign name #}
	{#<?php#}
	{% set campaignName = '' %}
	{% for campaign in cRelatedCampaignArticles[0].campaigns|castToArray %}
		{% if campaign.nid == data.campaignId %}
			{% set campaignName = campaign.title %}
		{% endif %}
	{% endfor %}
	<div class="campaignSection">
		{% include 'helpers/relatedArticles' with {'data': {'variant': 'campaignArticles', 'heading': __('Read more about') ~ ' ' ~ campaignName, 'content': cRelatedCampaignArticles }} %}
	</div>
{% endif %}

{% if cRelatedTaggedArticles.content|length %}
	{% include 'helpers/relatedArticles' with {'data': cRelatedTaggedArticles} %}
{% endif %}
{% if cRelatedTaggedRecipes.content|length %}
	{% include 'helpers/relatedArticles' with {'data': cRelatedTaggedRecipes} %}
{% endif %}