{% set teaserRowCounter = (data.teaserOffset ? data.teaserOffset : 0) %}
{% set teaserCounter = 0 %}
{% set maxTeaserCount = (data.limit ? data.limit : 0) %}
{% set maxTeasersToPrint = (data.printLimit ? data.printLimit : 0) %}
{% set maxReached = false %}
{% set usedItems = [] %}

{% if data.emptyNotification and data.content|length == 0%}
    {% embed 'generic/sctNotification' %}
        {% block header %}
            {% set emptyNotificationHeading = {'text': data.emptyNotification.title} %}
            {% include 'generic/cntHeading' with {'data': {'content':emptyNotificationHeading }} %}
        {% endblock %}
        {% block main %}
            {% set emptyNotificationDescription = {'text': data.emptyNotification.description} %}
            {% include 'generic/cntHeading' with {'data': {'content':emptyNotificationDescription }} %}
        {% endblock %}
    {% endembed %}
{% else %}
    {% for key, teaser in data.content %}
        {% if (maxTeaserCount == 0 or (teaserCounter < maxTeaserCount) or (teaserCounter >= maxTeaserCount and teaserRowCounter < 4)) and (maxTeasersToPrint == 0 or teaserCounter < maxTeasersToPrint) %}
            {# @TODO: could be refactored to use same field  #}
            {% set teaserWidth = 1 %}
            {% if teaser.type == 'article' %}
                {% set teaserWidth = (teaser.field_masonry_display_type_extra == '2x1')? 2 : 1 %}
            {% elseif teaser.type == 'recipe' %}
                {% set teaserWidth = (teaser.field_masonry_display_type == '2x1')? 2 : 1 %}
            {% elseif teaser.type == 'campaign' %}
                {% set teaserWidth = (teaser.field_landing_page.field_masonry_display_type_extra|default('') == '2x1')? 2 : 1 %}
            {% endif %}

            {% if teaserRowCounter + teaserWidth > 4 %}
                {% set loadedOther = false %}
                {# try to find a teaser that fits #}
                {% for subKey, subTeaser in data.content %}
                    {% set subTeaserWidth = 1 %}
                    {% if subTeaser.type == 'article' %}
                        {% set subTeaserWidth = (subTeaser.field_masonry_display_type_extra == '2x1')? 2 : 1 %}
                    {% elseif subTeaser.type == 'recipe' %}
                        {% set subTeaserWidth = (subTeaser.field_masonry_display_type == '2x1')? 2 : 1 %}
                    {% elseif subTeaser.type == 'campaign' %}
                        {% set subTeaserWidth = (subTeaser.field_landing_page.field_masonry_display_type_extra|default('') == '2x1')? 2 : 1 %}
                    {% endif %}

                    {% if (subKey > key) and (teaserRowCounter + subTeaserWidth <= 4) and loadedOther == false  %}
                        {% include 'helpers/teaserGridContentItem' with {'data': {'teaser': subTeaser, 'width': subTeaserWidth}, 'rowClass': (maxReached ? 'jHide' : '')} %}
                        {% set loadedOther = true %}
                        {% set usedItems = usedItems|merge([subKey]) %}
                        {% set teaserCounter = teaserCounter + 1 %}
                        {% if teaserCounter >= maxTeaserCount and maxTeaserCount > 0 %}{% set maxReached = true %}{% endif %}
                    {% endif %}
                {% endfor %}
                {% set teaserRowCounter = 0 %}
            {% endif %}

            {% if key not in usedItems %}
                {% include 'helpers/teaserGridContentItem' with {'data': {'teaser': teaser, width: teaserWidth}, 'rowClass': (teaserRowCounter == 0 ? 'clearRow' : '') ~ ' ' ~ (maxReached ? 'jHide' : '')} %}
                {% set teaserRowCounter = teaserRowCounter + teaserWidth %}
                {% set teaserCounter = teaserCounter + 1 %}

                {% if teaserRowCounter >= 4 %}
                    {% set rowClass = '' %}
                    {% set teaserRowCounter = 0 %}
                    {% if teaserCounter >= maxTeaserCount and maxTeaserCount > 0 %}{% set maxReached = true %}{% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <script>teaserOffset[{{ data.index }}] = {{ teaserRowCounter }};</script>
    <script>teaserHasMore[{{ data.index }}] = {{ (maxTeasersToPrint > 0 and maxTeasersToPrint < data.content|length ? 'true' : 'false') }};</script>
{% endif %}