{% set teaser = data.teaser %}
{% set teaserType = teaser.type %}
{% set teaserHeading = teaser.title|default('') %}
{% set teaserImage = teaser.field_teaser_image.url %}
{% set teaserAbstract = teaser.field_teaser_text|default('') %}
{% set teaserUrl = teaser.path %}
{% set teaserWidth = data.width %}

{% set teaserView = (teaserWidth == 2) ? "vaView":"vView" %}

{% if teaserType == 'article' %}
    {% set teaserView = (teaser.field_masonry_display_type_extra == 'teaser') ? 'aView' : teaserView %}
	{% include 'carrefour/article' with {'data':{'content':teaser, 'view':teaserView, 'variant':rowClass, 'context':'teaserGrid'}} %}
{% elseif teaserType == 'recipe' %}
	{% include 'carrefour/recipe' with {'data':{'content':teaser, 'view':teaserView, 'variant':rowClass, 'context':'teaserGrid'}} %}
{% elseif teaserType == 'chapter' %}
	{% include 'carrefour/chapter' with {'data':{'content':teaser, 'view':teaserView, 'variant':rowClass, 'context':'teaserGrid'}} %}
{% elseif teaserType == 'campaign' %}
	{% include 'carrefour/campaign' with {'data':{'content':teaser, 'view':teaserView, 'variant':rowClass, 'context':'teaserGrid'}} %}
{% endif %}