.recipeItem {
	&.dView {
		@extend .articleItem.dView;

		> .wrap > article {
			> .wrap1 > .main {margin-left:12px; margin-right:12px;}
			> .wrap1 > .main .contentPart {margin:0 -12px;}
			> .wrap2 > aside {overflow:hidden;}
			> .wrap2 > aside > .shadowContent {
				background:#fff; border-left:1px solid #e2f0f7; padding-top:30px; padding-bottom:30px; margin-bottom:10px; margin-top:0;
				> * {margin-top:32px;}
				> *:first-child {margin-top:0;}
			}
		}

		@media (min-width: 720px) {
			> .wrap > article {
				> .wrap1 .lnkIngredients {@include hide;}
			}
		}

		@media (min-width: 1024px) {
			> .wrap > article {
				> .wrap1 > .main {margin-left:50px; margin-right:50px;}
				> .wrap1 > .main .contentPart {margin:0 -50px;}
				> .wrap1 > .main .intro * {font-size:18px;}
				> .wrap2 > aside > .shadowContent {padding-top:40px; padding-bottom:40px; margin-bottom:20px;}
			}
		}

		// meta data ...................................................................................................
		.meta {
			overflow:hidden; margin:16px 0;

			.spec {float:left; font-size:12px; margin-bottom:12px; margin-right:16px;}
			.spec:last-child {margin-right:0;}
			.spec * {vertical-align:middle; }
			.spec:before {vertical-align:middle; color:#969696; font-size:16px;}
			.spec:after {vertical-align:middle; font-size:16px;}
			.spec .label {@include hide;}
			.spec .value {display:inline;}
			.spec.recipeYield:before {@include icon($icon-couverts); }
			.spec.prepTime:before {@include icon($icon-recette-chef);}
			.spec.cookTime:before {@include icon($icon-microondes);}
			// @TODO: check difficult icons with CF
			.spec.difficulty.easy:before {@include icon($icon-humeur-happy);}
			.spec.difficulty.normal:before {@include icon($icon-humeur-smile);}
			.spec.difficulty.hard:before {@include icon($icon-humeur-dificile);}
			.spec.cost .value {@include hide;}
			.spec.cost:before {@include icon($icon-promo); letter-spacing:4px; float:left;}
			.spec.cost:after {@include icon($icon-promo ); color:#d5d5d5; letter-spacing:4px; float:left; margin-left:-2px;}
			.spec.cost.cheap:after {content:$icon-promo + $icon-promo}
			.spec.cost.normal:before {content:$icon-promo + $icon-promo;}
			.spec.cost.expensive:before {content:$icon-promo + $icon-promo + $icon-promo;}
			.spec.cost.expensive:after {content:"";}

			@media (min-width:1024px) {
				margin:20px 0;

				.spec {font-size:16px; margin-bottom:20px;}
				.spec:before {margin-right:2px;}
				.spec:before, .spec:after {font-size:20px;}
			}
		}

		// instructions ................................................................................................
		.instructions {
			> .main > * {margin:12px 0;}
			.textblock .step {height:32px; width:32px; line-height:32px; color:#fff; text-align:center; background:#969696; font-size:12px; border-radius:20px; @include fontCarrefour;}
			.notification {border:1px solid #ecf1f5; border-radius:10px 0 10px 0; padding:12px 16px; @include fontCarrefour;}
			.notification * {display:inline; font-style:italic; color:#005aa9;}
			.notification .heading {font-weight:700; font-size:16px;}
			.notification .heading:after {content:":"; margin-right:4px;}
			.notification.tip {background:#ecf1f5;}

			@media (max-width:839px) {
				.textblock .step {margin:0 auto; font-size:12px; margin-bottom:-4px;}
			}
			@media (min-width:500px) and (max-width:719px), (min-width:840px) {
				> .main {padding-left:60px;}
				> .main > * {margin:24px 0;}

				.textblock {position:relative; min-height:40px;}
				.textblock .step {height:40px; width:40px; line-height:40px; position:absolute; left:-60px; top:-2px; font-size:18px;}
			}
			@media (min-width:1024px) {
				margin-top:32px;
			}
		}

		// allergens ...................................................................................................
		aside .meta .spec {
			$iconSize: 30px;
			li {display:inline-block; width:$iconSize; height:$iconSize; line-height:$iconSize; position:relative;}
			li:before {display:inline-block; background:#999; width:$iconSize; height:$iconSize; line-height:$iconSize; text-align:center; color:#fff; border-radius:15px; font-size:22px;}
			li span {@include hide;}

			&.allergensExcluded li:after {position:absolute; top:50%; left:-1px; right:-1px; border-top:2px solid #fff; content:""; transform:rotate(-45deg);}
		}

		// ingredients .................................................................................................
		.ingredients {
			> header .heading {@include fontCarrefour; font-size:24px; color:#005aa9;}
			> header .portionToggle ul {float:right; margin-top:-55px; position:relative; z-index:20;}
			> header .portionToggle ul li {float:left;}
			> header .portionToggle ul li a {display:block; width:60px; height:40px; line-height:40px; color:#005aa9; text-align:center; text-decoration:none;}
			> header .portionToggle ul li.jActive a {color:#fff; background:#005aa9; cursor:default;}
			.ingredientGroup {margin:20px 0;} 
			.ingredientGroup header {margin-bottom:8px;}
			.ingredientGroup header .heading {font-size:16px; @include fontCarrefour; font-weight:600; display:inline-block; border-bottom:1px solid #dae7f3; padding-bottom:2px;}
			table {width:100%;}
			table thead {@include hide;}
			.ingredient {overflow:hidden; line-height:1.35em;}
			.ingredient td {padding:3px 0;}
			.ingredient .amount {width:50px; font-weight:600; text-align:right; @include fontCarrefour;}
			.ingredient .amount.p2 {@include hide;}
			.ingredient .name {padding-right:12px; display:block;}
			.ingredient .name a {color:#005aa9;}

			// show for 4 people
			&.jShow2p table tbody .amount.p4 {@include hide;}
			&.jShow2p table tbody .amount.p2 {@include unhide; width:50px;}
		}
		.lnkIngredients {margin:20px 0;}
		.lnkIngredients a {@include greyButton;}

		// wine recommendation .........................................................................................
		.wineRecommendation {
			> .main > .image {float:left; margin:0 12px 4px 0;}
			> .main > .image img {max-width:90px;}
			> .main .wine {@include fontCarrefour; font-weight:600; font-size:16px; margin:4px 0; padding-top:4px;}
			> .main .wine a {color:#005aa9;}
			> .main .byline {margin-bottom:12px;}
			> .main .textblock p {color:#797979; font-size:11px;}
			> .main .textblock p em {text-transform:uppercase; color:#797979; font-size:12px; display:block; margin-bottom:12px;}
			> .main .textblock p a {font-size:11px; color:#005aa9;}
		}
	}


	/* vView  - context: aside .................................................................................... */
	aside &.vView {
		margin-top:15px;
		&:first-child {margin-top:0;}

		a {display:flex; flex-direction:column; color:#000; background:#fff; text-decoration:none;}
		header {
			order:2;
			.heading {
				@include fontCarrefour(); font-weight:500; font-size:16px; padding:15px 20px;
				&:after {@include icon($icon-arrow-right); margin-left:4px; font-size:45%; vertical-align:middle;}
			}
		}
		figure {
			order:1;

			picture, img {display:block; width:100%;}
		}
		.textblock p {font-size:12px; margin:0; color:#282828;}
	}
}
