.contentCTA {
	padding:12px; position:relative; color:#005aa9;
	> header {
		font-size:28px;
		.heading {font-size:100%; line-height:1em; @include fontCarrefour(); font-weight:400; margin-bottom:5px;}
		.byline {font-size:75%; line-height:1em; @include fontCarrefour(); font-weight:600;}
	}
	> footer {margin-top:15px;}
	> footer .lnkSimple {color:red;}

	@media (max-width: 480px) {
		.image {display:none;}
		> header {text-align:center;}
		> footer {text-align:center;}
	}
	@media (min-width: 481px) {
		padding-left:110px;
		.image {
			position:absolute; left:20px; top:17px; width:70px;
			picture {display:block;}
			img {max-width:100%; display:block;}
		}
	}
	@media (min-width: 768px) {
		> header {font-size:32px;}
	}
	@media (min-width: 1024px) {
		padding-left:120px; padding-right:30px;
		> header {padding-right:200px;}
		.image {left:30px;}
		> footer {width:180px; position:absolute; right:30px; bottom:20px; text-align:right;}
	}
}

