<div class="cfrbottombar--block clearfix" ng-class="{'cfrbottombar--block-hasicon': block.icon && block.icon.length}">
  <div class="cfrbottombar--icon" ng-repeat="icon in block.icon">
    <img class="cfrbottombar--image" ng-src="{{icon.url}}" alt="{{icon.alt}}" title="{{icon.title}}" height="{{icon.height}}" width="{{icon.width}}" />
  </div>
  <div class="cfrbottombar--contentwrap">
    <style ng-bind-html="block.css"></style>
    <a ng-if="block.url" href="{{ block.url }}">
      <h3 class="cfrbottomblock--title" ng-if="block.title" ng-style="{{block.titleStyle}}">{{block.title}}</h3>
      <div class="cfrbottombar--content" ng-bind-html="block.content"></div>
    </a>
    <h3 class="cfrbottomblock--title" ng-if="!block.url && block.title" ng-style="{{block.titleStyle}}">{{block.title}}</h3>
    <div class="cfrbottombar--content" ng-if="!block.url" ng-bind-html="block.content"></div>
    <div ng-bind-html="block.js"></div>
  </div>
</div>
