.cfrbars .navbar-inverse,
.cfrbars .navbar-inverse {
  .navbar-text,
  .navbar-link {
    color: #fff;
  }
}

.cfrbars--container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cfrbars--container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .cfrbars--container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .cfrbars--container {
    width: 1170px;
  }
}


.cfr-topbar-container {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  background: #484848;
  z-index: 100021;
}


// Cookiebar
@import "cookiebar.less";

// Topbar
@import "topbar.less";

// Bottombar
@import "bottombar.less";

// Footer
@import "footer.less";
