.cfrbottombar {

  position: relative;
  margin-bottom: 0;
  border-color: #e7e7e7;
  border-bottom: 1px solid transparent;

  .cfrbottombar--group {
    background-color: #f8f8f8;
    display: table;
  }

  .cfrbars--container {
    padding-left: 0;
    padding-right: 0;
  }
}

.cfrbottombar--wrap {

  .cfrbottombar--menuwrap {
    border-top: 1px solid transparent;
    @media (min-width: @screen-sm-min) {
      width: calc(100% / 3);
      float: left;
      border-top-width: 0;
      vertical-align: top;
    }
  }

}

.cfrbottombar--group-first {
  .cfrbottombar--menuwrap-left1 {
    background: #bfbfbf;
  }
  .cfrbottombar--menuwrap-right1 {
    background: #717171;
  }
  @media (min-width: @screen-sm-min) {
    .cfrbottombar--menuwrap-left1,
    .cfrbottombar--menuwrap-right1 {
      background: transparent;
    }
  }
  color: #fff;
}

.cfrbottombar--group-second .cfrbottombar--menuwrap {
  border-color: #e2e2e2;
  &:first-child {
    border-color: transparent;
  }
}

.cfrbottombar--block {

  position: relative;
  padding: 24px 20px;
  font-family: "omnes", arial, sans-serif;
  font-size: 15px;
  color: @first-footerblocks-font-color;

  .cfrbottombar--group-second & {
    color: @second-footerblocks-font-color;
  }

  .cfrbottomblock--title,
  .cfrbottombar--icon {
    margin-top: 0;
    margin-bottom: 15px;
  }

  h1, h2, h3 {
    font-family: "omnes", arial, sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin-top: 20px;
    margin-bottom: 15px;
    color: @first-footerblocks-font-color;

    .cfrbottombar--group-second & {
      color: @second-footerblocks-font-color;
    }

  }

  a {
    color: @second-footerblocks-font-color;
    text-decoration: none;

    body & {
      text-decoration: none;
    }

    .cfrbottombar--group-first & {
      color: @first-footerblocks-font-color;
    }

    .cfrbottombar--group-second & {
      color: @second-footerblocks-font-color;
    }

  }

  p {
    margin: 0;
  }

  a.cfr-button {

    color: #fff;
    border-radius: 3px;
    background: #484848;
    padding: 5px 25px 5px 10px;
    display: inline-block;
    margin-top: 30px;
    position: relative;

    &:before {
      content: '\e809';
      position: absolute;
      right: 10px;
      font-family: 'carrefour_icons';
    }

  }

  .cfrbottombar--icon {
    padding-right: 20px;
    max-width: 25%;
    box-sizing: border-box;
  }

}

.cfrbottombar--block-hasicon {
  .cfrbottombar--icon,
  .cfrbottombar--contentwrap {
    display: inline-block;
    float: left;
  }
  .cfrbottombar--contentwrap {
    width: 75%;
  }
}

.cfrbottombar--menuwrap-left2 {
  clear: both;
}

.cfrbottombar--menuwrap-right1,
.cfrbottombar--menuwrap-right2 {
  @media (min-width: @screen-sm-min) {
    float: right;
  }
}

.cfrbottombar--image {
  max-width: 100%;
  height: auto;
}
