.cfrcookiebar {

  font-family: Arial;
  z-index: 1031;
  background: #282828;
  border-color: #282828;
  color: #fff;
  margin-bottom: 0;
  border-radius: 0;
  padding: 15px 0;
  font-size: 12px;

  p {
    margin: 0;
    float: left;
    width: 75%;
  }

  span {
    display: block;
    float: left;
  }

}

.navbar-center {
  float: none;
  display: block;
}

span.cfrcookiebar--linkwrap a {

  border-radius: 3px;
  background: #484848;
  padding: 10px 20px;
  margin-left: 20px;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;

  &:hover,
  &:focus {
    color: #fff;
    text-decoration: none;
  }

}

.cfrcookiebar--button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  border: none;
  text-indent: -9999em;
  overflow: hidden;
  height: 38px;
  width: 38px;
  background: #484848;
  float: right;
  cursor: pointer;
  position: relative;
  border-radius: 50%;
  &:after,
  &:before {
    content: '';
    width: 4px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    margin-left: -2px;
    margin-top: -10px;
  }
  &:before {
    transform: rotate(-45deg);
  }
  &:after {
    transform: rotate(45deg);
  }
}
