div.cfrfooter {
  background: #282828;
  color: #cacaca;
  font-size: 11px;
  min-height: 150px;
  a {
    color: #cacaca;
    text-decoration: none;
    &:focus,
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

.cfrfooter--labels-container {
  position: relative;
}

.cfrfooter--labels-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cfrfooter--labels-list-item {
  float: right;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  background: #fff;
  padding: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.cfrfooter--top-list {
  list-style: none;
  margin: 0;
  padding-top: 20px;
  @media (min-width: @screen-sm-min) {
    padding: 0;
  }
}

.cfrfooter--top-list-item {
  margin: 20px 0;
  &:before {
    content: '\e807';
    display: inline-block;
    font-family: "carrefour_icons";
    color: #fff;
    transform: rotate(-90deg);
    margin-right: .4em;
  }
  &:hover {
    &:before {
      color: #fff;
    }
  }
}

.cfrfooter--bottom {
  border-top: 1px solid #404040;

  p {

    padding: 20px 0;
    margin: 0;
    text-align: right;

    @media (min-width: @screen-sm-min) {
      text-align: left;
    }

  }
}

@media (min-width: @screen-sm-min) {

  .cfrfooter--top-list-item {
    display: inline-block;
    vertical-align: top;
    margin: 20px 20px 20px 0;
  }

  .cfrfooter--bottom {
     p {
      text-align: left;
    }
  }

}
