html, body {
	min-height: 100%;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

.clearfix {
	&:before,
	&:after {
		content: " "; // 1
		display: table; // 2
	}
	&:after {
		clear: both;
	}
}

.cf-caret {
	font-family: "carrefour_icons";
	font-style: normal;
	font-weight: normal;
	font-size: 1.2em;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1.2;
	margin-left: .2em;
	vertical-align: middle;

	&:after {
		content: '\e807';
		display: inline-block;
	}

	.open & {
		transform: rotate(180deg);
	}

}

.cf-hidden {
	display: none;
}

