.cfrtopbar {

  font-size: 13px;
  font-family: "omnes", arial, sans-serif;
  width: 100%;
  z-index: 9999;
  border-radius: 0;
  margin-bottom: 0;
  position: relative;
  min-height: 50px;
  border: 1px solid transparent;

  .cfrtopbar--button {

    text-transform: none;
    font-size: 12px;
    padding: 0 20px;
    border-radius: 3px;
    display: block;
    text-align: center;
    text-decoration: none;
    background: #484848;
    color: #fff;

    @media (min-width: @screen-md-min) {
      display: inline-block;
    }

    &:hover {
      background: #9d9d9d;
    }
  }

  .cfrtopbar--button-list {
    position: absolute!important;
    bottom: 10px;
    left: 20px;
    right: 20px;
    @media (min-width: @screen-md-min) {
      left: auto;
    }
  }

  .cfrtopbar--nav {

    .cfrtopbar--menu {

      background-color: #fff;
      border-color: #484848;
      padding-top: 0;
      box-shadow: none;
      line-height: 40px;

      > li {

        float: none;
        @media (min-width: @screen-md-min) {
          display: table-cell;
        }

        vertical-align: top;

        > a {

          color: #9d9d9d;
          text-transform: uppercase;
          padding: 0 15px 0 25px;
          font-weight: 500;
          display: block;
          cursor: default;

          @media (min-width: @screen-md-min) {
            color: #fff;
            padding: 0 20px;
          }

          .cf-caret {
            display: none;
            color: #fff;
          }

        }
        > ul {

          position: static;
          border: none;
          float: none;
          display: block;
          padding-left: 0;

          > li {
            display: block;
            padding: 0 5px;
            width: auto;
            min-width: 255px;
            > a {
              text-transform: none;
              cursor: auto;
              padding: 0 15px;
              //border-top: 1px solid #efefef;
              font-weight: 400;
              &,
              &:hover,
              &:focus {
                background: #fff;
                color: #282828;
              }
              &:hover,
              &:focus {
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.24);
                position: relative;
                z-index: 2;
                border-top-color: transparent;
                color: #959595;
              }
            }
            &:first-child > a {
              border-top: none;
            }
          }
        }
      }
    }

    .open {

      .cfrtopbar--menu {

        div {
          text-align: center;
          min-width: 240px;
          font-family: Arial, sans-serif;
          margin: 10px 0;
        }

        padding-bottom: 0;
        line-height: 40px;

        .cfrtopbar--login-text,
        .cfrtopbar--register-text {
          line-height: 26px;
        }
        &.hasbutton {
          padding-bottom: 50px;
          background: #fff;
        }
        > li {
          a.cfrtopbar--link {

            line-height: 40px;
            background: #fff;

            border-color: transparent;
            position: relative;
            padding-top: 3px;
            &:hover,
            &:focus {
              font-weight: 600;
              &.dropdown-toggle {
                font-weight: 500;
              }
              color: #9d9d9d;
            }
            &:before {
              display: block;
              content: '';
              height: 1px;
              position: absolute;
              top: 50%;
              margin-top: -1px;
              background: #959595;
              left: 25px;
              right: 15px;
            }
            .cfrtopbar--linkbg {
              display: inline-block;
              background: #fff;
              position: relative;
              padding-right: 10px;
              @media (min-width: @screen-md-min) {
                background: transparent;
              }
            }

            @media (min-width: @screen-md-min) {
              background: #484848;
              color: #fff;
              &:hover,
              &:focus {
                color: #fff;
              }
              &:before {
                display: none;
              }
            }
          }
          > ul {
            > li {
              a.cfrtopbar--link {
                color: #282828;
                padding: 0 15px 0 20px;
                &:before {
                  display: none;
                }
                @media (min-width: @screen-md-min) {
                  border-color: #efefef;
                  &:before {
                    background-color: #efefef;
                    top: 0;
                    display: block;
                  }
                  &,
                  &:hover,
                  &:focus {
                    background: #fff;
                    color: #282828;
                  }
                }
              }
              &:first-child {
                a.cfrtopbar--link {
                  &:before {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

// Sites overwrite the color, but tablet / mobile it should stay white.
@media (max-width: @screen-md-min) {
  .cfrtopbar--menuwrap-our-sites .cfrtopbar--menu a.cfrtopbar--link,
  .cfrtopbar--menuwrap-user-menu .cfrtopbar--menu a.cfrtopbar--link {
    background: #fff !important;
  }
}

@media (max-width: @screen-sm-min) {
  .cfrtopbar--menuwrap-user-menu .cfrtopbar--menu a.cfrtopbar--link {
    background: #fff !important;
  }
}

.cfrtopbar,
.cfrtopbar .navbar-nav > .open > a,
.cfrtopbar .navbar-nav > .open > a:hover,
.cfrtopbar .navbar-nav > .open > a:focus,
.cfrtopbar--menu > li > a,
.cfrtopbar--menu > li > a:hover,
.cfrtopbar--menu > li > a:focus,
.cfrtopbar .open > a,
.cfrtopbar .open > a:hover,
.cfrtopbar .open > a:focus {
  background-color: #484848;
  border-color: #484848;
  color: #fff;

  p {
    color: #000;
  }

}

.cfrtopbar--wrap {
  > .cfrtopbar--menuwrap {
    display: block;
    border-top: none;
    box-shadow: none;
  }
}

.cfrtopbar--menuwrap {
  width: auto;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
}

.cfrtopbar--menuwrap-user-menu {
  float: right;
  > .cfrtopbar--nav {
    > li {
      > a {
        display: inline-block;
        text-indent: -9999em;
        padding: 15px;
        margin-top: 0;
        margin-right: 15px;
        width: 50px;
        &:before {
          content: '';
          display: inline-block;
          height: 24px;
          width: 32px;
          background: transparent url('../images/navmain-logo-bonuscard.png') 50% 100% no-repeat;
          vertical-align: bottom;
          position: absolute;
          top: 50%;
          margin-top: -12px;
          left: 50%;
          margin-left: -16px;
        }
        @media (min-width: @screen-sm-min) {
          height: auto;
          width: auto;
          text-indent: 0;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 45px;
          margin-top: 0;
          margin-right: 0;
          &:before {
            right: auto;
            left: 10px;
            margin-left: 0;
          }
        }

      }
      > ul {
        > li {
          position: relative;
          padding-bottom: 50px;
          > div > a {
            position: absolute;
            bottom: 10px;
            left: 20px;
            right: 20px;
          }
        }
      }
      &.open {

        @media (min-width: @screen-md-min) {
          .cfrtopbar--menu {
            li {
              a.cfrtopbar--link {
                &,
                &:hover,
                &:focus {
                  color: #fff;
                }
                &:before {
                  display: none;
                }

                span.cfrtopbar--linkbg {
                  background: transparent;
                }
              }
            }
          }
        }

      }

    }
  }

}

.cfrtopbar--nav {


  margin: 7.5px -15px;
  padding-left: 0;
  list-style: none;

  img,
  .icon-font {
    margin-right: 5px;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-top: -3px;
  }

  img {
    display: inline;
    height: auto;
  }

  @media (min-width: @screen-sm-min) {
    float: left;
    margin: 0;
  }

  > li {

    display: block;
    position: static;
    list-style: none;

    @media (min-width: @screen-sm-min) {
      position: relative;
      float: left;
    }

    > a {
      font-weight: 500;
      float: right;
      color: #fff;
      padding: 15px;
      line-height: 20px;
      position: relative;
      display: block;
      text-decoration: none;
      &:hover,
      &:focus {
        font-weight: 600;
      }
    }
    > ul {

      clear: both;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1000;
      display: none;
      float: left;
      min-width: 160px;
      padding: 0 0 5px 0;
      margin: 0 0 2px 0;
      list-style: none;
      font-size: 14px;
      text-align: left;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 4px;
      border-bottom-width: 5px;
      border-bottom-color: #484848;
      border-bottom-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius: 0;
      border-top-left-radius: 0;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      background-clip: padding-box;
      max-height: 400px;
      max-height: 60vh;
      max-height: ~"calc(100vh - 150px)";
      overflow: auto;
      @media (min-width: @screen-md-min) {
        max-height: none; 
      }


      .cfrtopbar--menuwrap-user-menu & {
        > li {
          width: auto;
          display: block;
          &.cfrtopbar--button-list {
            padding-bottom: 0;
          }
        }
        @media (min-width: @screen-sm-min) {
          left: auto;
          width: 350px;
        }
        @media (min-width: @screen-md-min) {
          width: auto;
          > li {
            width: 50%;
            display: table-cell;
          }
        }
      }
      .cfrtopbar--menuwrap-our-sites & {
        @media (min-width: @screen-sm-min) {
          right: auto;
          width: 750px;
        }
        > li {
          width: auto;
          display: block;
          &:first-child {
            > ul > li {
              &:first-child {
                 a:hover {
                  color: @hyper!important;
                }
                span.icon-font {
                  color: @hyper;
                }
                + li {
                  a:hover {
                    color: @market!important;
                  }
                  span.icon-font {
                    color: @market;
                  }
                  + li {
                    a:hover {
                      color: @express!important;
                    }
                    span.icon-font {
                      color: @express;
                    }
                    + li {
                      a:hover {
                        color: @drive!important;
                      }
                      span.icon-font {
                        color: @drive;
                      }
                    }
                  }
                }
              }
            }
          }
          @media (min-width: @screen-md-min) {
            width: 25%;
          }
        }
      }

      @media (min-width: @screen-md-min) {
        .cfrtopbar--menuwrap-our-sites & {
          width: auto;
          white-space: nowrap;
        }
      }

      > li {
        > a {

          display: block;
          clear: both;
          white-space: nowrap;

          &,
          &:hover,
          &:focus {
            border-top: 1px solid #707070;
            border-right: 1px solid #707070;
          }
        }
        &:last-child > a {
          &,
          &:hover,
          &:focus {
            border-right: none;
          }
        }
      }
    }
  }

  .open {
    ul {
      display: block;
    }
  }

}

.topbar-icon-login,
.topbar-icon-register {
  background: transparent url('../images/icon-user-gray.png') 50% 100% no-repeat;
  width: 20px;
  height: 16px;
  vertical-align: middle;
  position: static;
  margin-right: .4em;
  margin-top: -3px;
  display: inline-block;
}

.topbar-icon-register {
  background: transparent url('../images/icon-create-gray.png') 50% 50% no-repeat;
}

@media (min-width: @screen-md-min) {
  .topbar-icon-login {
    background-image: url('../images/icon-user.png');
  }
  .topbar-icon-register {
    background-image: url('../images/icon-create.png');
  }
}

.cfrtopbar-languageswitcher {

  float: right;
  text-transform: uppercase;

  .cfrtopbar--nav {
    .open {
      .cfrtopbar--menu {

        min-width: 60px;

        > li {
          display: block;
          a {
            color: #fff;
            &:hover {
              background: #9d9d9d;
              font-weight: 600;
            }
            &.cfrtopbar-lang-nl {
              [language="nl"] & {
                background: #9d9d9d;
                font-weight: 600;
              }
            }
            &.cfrtopbar-lang-fr {
              [language="fr"] & {
                background: #9d9d9d;
                font-weight: 600;
              }
            }
          }
        }

      }
    }
  }

}
