
// Breakpoints
@screen-less-then-sm-min:    767px;
@screen-sm-min:              768px;
@screen-md-min:              992px;

// Colors
@first-footerblocks-font-color: #fff;
@second-footerblocks-font-color: #282828;
@hyper: #004f9f;
@market: #e20613;
@express: #a3c639;
@drive: #f37220;

@import (less) "../fonts/icons/css/carrefour.css";
@import (less) "../fonts/webfont/css/font.css";
@import (less) "../fonts/icons/css/icons.css";