.focusRow {
	max-width:1024px; margin:0 auto; position:relative;

	.focus.focusFindShop {background:#2790C9;}
	.focus.focusBonusCard {background:#28A3E6;}

	.focus.focusFindShop, .focus.focusBonusCard {
		text-align:center; padding:30px 12px; padding-top:45px; position:relative; z-index:4;
		.heading {color:#fff; margin:8px 0; font-size:17px;}
		.image {position:absolute; left:0; right:0; top:-20px;}
		p {color:#fff; @include fontCarrefour; font-size:14px; margin:8px 0;}
		p em {color:#b9efff; font-weight:500;}
		.lnkMore a {display:block; padding:12px;}
	}

	.focus.focusBonusCard {
		.image img {width:140px;}
	}
	.focus.focusFolders {
		background:#fff; padding:24px 12px; overflow:hidden;
		> header {
			position:relative; margin-bottom:16px;
			&:after {content:""; display:block; height:1px; background:#004f9f; position:absolute; top:50%; margin-top:2px; left:0; right:0; z-index:1;}
			.heading {@include fontCarrefour(); font-weight:400;  font-size:24px; color:#005aa9; background:#fff; z-index:2; display:inline-block; position:relative; padding-left:30px; padding-right:20px; line-height:1.1em; height:26px;}
			.heading:before {@include icon($icon-folder); position:absolute; left:0; top:3px; font-size:20px;}
		}
		.folderItem {
			padding:0px 4px; margin-bottom:10px;
			a {text-decoration:none; display:flex; flex-direction:column;}
			header {
				text-align:center; order:2;
				.image {margin-top:6px; margin-bottom:6px;}
				.timespan {color:#7c7c7c; font-size:12px; @include fontCarrefour(); font-weight:500;}
				.timespan .label {@include hide();}
			}
			figure {
				order:1; padding-bottom:40px; position:relative;
				.image {height:84px; overflow:hidden; position:relative; text-align:center;}
				.image:after {content:""; display:block; height:13px; background:url(img/folder-shadow.png) center bottom no-repeat; position:absolute; left:0; right:0; bottom:0;}
				.image img {width:75px}
			}
		}
	}

	//
	.folderItem figure:after {content:""; position:absolute; left:0; bottom:0; right:0; height:40px; }
	.folderItem.hyper figure:after {background:url(img/folder-enseigne-figure-1.jpg) center 13px no-repeat; background-size:24px auto;}
	.folderItem.market figure:after {background:url(img/folder-enseigne-figure-2.jpg) center 13px no-repeat; background-size:24px auto;}
	.folderItem.express figure:after {background:url(img/folder-enseigne-figure-3.jpg) center 13px no-repeat; background-size:24px auto;}
	.folderItem.simplyyou figure:after {background:url(img/folder-enseigne-figure-4.jpg) center 13px no-repeat; background-size:24px auto;}


	.slider {padding:0px 10px;}
	.slick-arrow {position:absolute; background:none; top:47%; border:none; padding:0; z-index:2; cursor:pointer; padding-left:30px; width:0; overflow:hidden; height:50px; margin-top:-25px;}
	.slick-arrow:before {@include icon($icon-arrow-left); position:absolute; left:0; right:0; top:50%; margin-top:-8px;}
	.slick-arrow.slick-next {right:0;}
	.slick-arrow.slick-next:before {content:$icon-arrow-right;}
	.slick-arrow.slick-prev {left:0;}
	.slick-dots {overflow:hidden; position:absolute; right:-10px; top:-31px; z-index:2;}
	.slick-dots li {float:left;}
	.slick-dots li + li {margin-left:4px;}
	.slick-dots li button {width:0; display:block; overflow:hidden; padding:0; padding-left:9px; height:9px; border:none; background:#282828; border-radius:50%;}
	.slick-dots li.slick-active button {background:#005aa9;}

	@media (min-width: 481px) {
		display:flex; flex-direction:row; flex-wrap: wrap;
		.focus {flex:1 0 100%;}
		.focus.focusFindShop, .focus.focusBonusCard {
			flex:1 0 50%; padding-bottom:66px;

			> footer {position:absolute; bottom:16px; left:16px; right:16px;}
		}
		.focus.focusBonusCard {
			.image {top:-36px;}
			.image img {width:auto;}
		}

		.slick-dots {top:-34px;}
		.slick-dots li button {padding-left:15px; height:15px;}
		.slick-dots li + li {margin-left:6px;}
	}

	@media (max-width: 767px) {
		.focus.focusFolders {padding-bottom:32px;}
		.slick-arrow {background:#005aa9;}
		.slick-arrow:before {color:#fff;}
		.slick-arrow.slick-next {border-radius:5px 0px 0px 5px; right:-22px;}
		.slick-arrow.slick-prev {border-radius:0px 5px 5px 0px; left:-22px;}
		.slick-arrow.slick-disabled {background:#c1c1c1;}
	}

	@media (min-width: 768px) {
		@include band(#fff);
		.focus {flex:2;}
		.focus.focusFindShop, .focus.focusBonusCard {
			padding-left:10px; padding-right:10px; flex:1;
		}
		.focus.focusFolders {padding-left:20px; padding-right:20px;}
		.slider {padding:0px 16px;}
		.slick-arrow {padding-left:12px; height:18px; margin-top:-9px;}
		.slick-arrow:before {color:#005aa9;}
		.slick-arrow.slick-next {right:-16px;}
		.slick-arrow.slick-prev {left:-16px;}
		.slick-arrow.slick-disabled:before {color:#c1c1c1;}
		.slick-dots {right:-16px;}
	}
	@media (min-width: 1024px) {
		.focus.focusFindShop, .focus.focusBonusCard {
			.textblock {padding-left:10px; padding-right:10px;}
		}
	}
	@media (min-width: 1048px) {
		.focus.focusFolders {padding-left:0;}
	}
}
