.contentBlock {
	overflow:hidden;
	.heading {color:#005aa9;}
	> header .heading {font-size:26px; @include fontCarrefour(); font-weight:400; margin:12px; margin-bottom:0; line-height:1.1em; }
	> header .heading {@include hide();}
	> .main {
		overflow:hidden;
		.block {
			overflow:hidden;
			> .wrap {
				padding:12px; box-sizing:border-box;
				.heading {@include fontCarrefour(); font-weight:400; font-size:26px; margin-bottom:16px;}
				.textblock {
					font-size:16px; line-height:1.35em; color:#282828;
					p {margin:0; font-size:14px;}
				}
				.lnk {margin-top:16px;}
			}
			> .image {
				box-sizing:border-box;
				img {width:100%; display:block;}
			}
		}
	}
	/* style 2-3 */
	&.style2, &.style3 {
		> header {
			.heading {position:static; height:auto; width:auto; overflow:visible; margin-bottom:0;}
		}
		> .main {
			.block {
				> .wrap .heading {font-size:24px; font-weight:600;}
				> .image {padding:12px;}
			}
		}
	}
	/* style 3 */
	&.style3 {
		> header {
			background:$lightGrey; overflow:hidden; margin:12px; margin-bottom:0; border-radius:15px 15px 0 0;
			.heading {text-align:center;}
		}
		> .main {
			background:$lightGrey; margin:12px; margin-top:0; border-radius:0 0 15px 15px;
			.block > .image picture {border-radius:4px; display:block; overflow:hidden;}
		}
	}
	.articleItem.dView > .wrap > article > .wrap1 > .main > &.style3:nth-child(2n+2) {
		> header, > .main {background:#fff;}
	}
	// media queries
	@media (max-width: 849px) {
		> .main .block {display:flex; flex-direction:column;}
		> .main .block .wrap {order:2;}
		&.style2, &.style3 {
			> .main .block > .wrap {padding-top:0;}
		}
	}

	@media (min-width: 850px) {
		> header .heading {font-size:32px; margin-bottom:20px;}
		> .main {
			> .block {
				> .wrap {
					.textblock p {font-size:16px;}
					.heading {font-size:32px; margin-bottom:25px;}
					.lnk {margin-top:25px;}
				}
				&.style1 {
					> .wrap {float:left; width:50%;}
					> .image {float:right; width:50%;}
				}
				&.style2 {
					> .wrap {float:right; width:50%;}
					> .image {float:left; width:50%;}
				}
			}
		}
		&.style2, &.style3 {
			> .main > .block {
				&.style1 > .wrap {padding-right:0px;}
				&.style2 > .wrap {padding-left:0px;}
			}
		}
	}

	@media (min-width: 1024px) {
		> header .heading {margin:30px 50px;}
		> .main {
			> .block {
				> .wrap {
					padding:30px 50px;
				}
			}
		}
		&.style2, &.style3 {
			> header {
				margin:0px 30px;
				.heading {margin-left:30px; margin-right:30px;}
			}
			> .main {
				margin:0px 30px;
				> .block {
					> .wrap, > .image {padding:30px;}
				}
			}
		}
		&.style3 {
			> header {margin-top:30px;}
			> .main {margin-bottom:30px;}
		}
	}
}
