/* Omnes */
@font-face {
  font-family: 'omnes';
  src: url('../fonts/webfont/font/omnes_webfont.eot');
  src: url('../fonts/webfont/font/omnes_webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/webfont/font/omnes_webfont.woff') format('woff'),
       url('../fonts/webfont/font/omnes_webfont.ttf') format('truetype'),
       url('../fonts/webfont/font/omnes_webfont.svg#OmnesRegular') format('svg');
  font-weight: 400;
  font-style: normal;
}

/* Omnes Semi Bold */
 @font-face {
    font-family: 'omnes';
    src: url('../fonts/webfont/font/omnes_semibold-webfont.eot');
    src: url('../fonts/webfont/font/omnes_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/webfont/font/omnes_semibold-webfont.woff') format('woff'),
         url('../fonts/webfont/font/omnes_semibold-webfont.ttf') format('truetype'),
         url('../fonts/webfont/font/omnes_semibold-webfont.svg#OmnesSemibold') format('svg');
   font-weight: 600;
   font-style: normal;
}