<div class="cfrfooter cfrbars--container">
  <style>
  .cfrfooter--top-list-item:before { color: {{ buColor }}; }
  </style>
  <div ng-if="data.footer_labels" class="cfrfooter--labels">
    <div class="cfrfooter--labels-container">
      <ul class="cfrfooter--labels-list">
        <li class="cfrfooter--labels-list-item" ng-repeat="label in data.footer_labels"><img ng-src="{{label.url}}" height="{{label.height}}" width="{{label.width}}" alt="{{label.alt}}" title="{{label.title}}" /></li>
      </ul>
    </div>
  </div>

  <div ng-if="data.footer_links" class="cfrfooter--top">
    <ul class="cfrfooter--top-list">
      <li class="cfrfooter--top-list-item" ng-repeat="link in data.footer_links"><a href="{{link.uri}}">{{link.title}}</a></li>
    </ul>
  </div>

  <div ng-if="data.copyright_text" class="cfrfooter--bottom">
    <p class="cfrfooter--bottom-text">{{data.copyright_text}}</p>
  </div>

</div>
