/* frame ............................................................................................................ */
.cfrbars,
#site > header .navigation,
.nav.skip,
.nav.breadcrumb,
#site > header .nav.enseigne, .dView .share {
  display: none; }

#site > header .welcome {
  overflow: hidden; }

body, html {
  min-height: 0;
  overflow-y: visible; }

body {
  background: #fff;
  overflow-y: visible; }

html {
  overflow: visible; }

body {
  overflow: visible;
  padding-top: 0 !important; }

/* recipe ........................................................................................................... */
.recipeItem.dView .share {
  display: none; }

.recipeItem.dView > .wrap > article:before {
  display: none; }

.recipeItem.dView > .wrap > article {
  overflow: hidden; }

.recipeItem.dView > .wrap > article > .wrap2 > aside .newsletter {
  display: none; }

.recipeItem.dView > .wrap > article > .wrap2 > aside > .shadowContent {
  border-left: none;
  margin-bottom: 0; }

.recipeItem.dView .ingredients > header .portionToggle ul li:not(.jActive) {
  display: none; }

.recipeItem.dView .list.relatedRecipes, .recipeItem.dView .list.taggedArticles {
  display: none; }

.recipeItem.dView .instructions > .main {
  padding-left: 60px; }

.recipeItem.dView .instructions .textblock {
  position: relative; }

.recipeItem.dView .instructions .textblock .step {
  height: 40px;
  width: 40px;
  line-height: 40px;
  position: absolute;
  left: -60px;
  top: -9px; }

/*# sourceMappingURL=cf-print.css.map */