/* components ....................................................................................................... */
.articleItem {
  /* va view ...................................................................................................... */ }
  aside .articleItem.vaView .heading {
    color: #005aa9; }

.siloItem.dView > .wrap > article > header .heading {
  color: #005aa9; }

.lnk.lnkMore a {
  background: #005aa9;
  color: #fff;
  transition: background 0.1s linear; }

.lnk.lnkMore a:hover {
  background: #0662AE; }

.lnk.lnkSimple a {
  color: #005aa9; }

.sctBanners .bannerItem article > header .heading {
  color: #005aa9; }

.sctBanners .bannerItem article > .main .textblock {
  color: #005aa9; }

.sctBanners .bannerItem .wrap:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 62%;
  z-index: 1; }

.sctBanners .bannerItem.left .wrap:after {
  right: auto;
  left: 0; }

@media (min-width: 600px) {
  .sctBanners .bannerItem .wrap:after {
    width: 54%; } }

.sctBanners .slick-dots li button {
  background: #005aa9;
  border-color: #fff; }

.sctBanners .slick-dots li.slick-active button {
  background: #fff;
  border-color: #005aa9; }

.sctBanners .slick-arrow:before {
  color: #005aa9; }

.contentSlider .slick-arrow, .contentGallery .slick-arrow {
  background: #005aa9; }
  .contentSlider .slick-arrow:after, .contentGallery .slick-arrow:after {
    color: #fff; }
  .contentSlider .slick-arrow.slick-disabled, .contentGallery .slick-arrow.slick-disabled {
    background: #c1c1c1; }

.contentSlider .ctItem > .wrap article header .heading, .contentGallery .ctItem > .wrap article header .heading {
  color: #005aa9; }

.teaserGrid > header .nav.gridFilter > .heading {
  color: #005aa9; }

@media (min-width: 768px) {
  .teaserGrid > header .nav.gridFilter > .heading {
    color: #fff; } }

.teaserGrid .ctItem.aView a {
  background: #005aa9; }

/*# sourceMappingURL=cfeu.css.map */