<div class="cfrtopbar-languageswitcher">
  <ul class="cfrtopbar--nav">
    <li ng-class="{open: menuShown}" click-out="hideMenu()">
      <a href="#" ng-click="toggleMenu($event)">{{ current_language }} <span class="cf-caret"></span></a>
      <ul class="cfrtopbar--menu">
        <li ng-repeat="(language, url) in languages">
          <a class="cfrtopbar-lang-{{ language }}" href="{{ url }}">{{ language }}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>