.navigation .search {
	form {position:relative; padding:8px;}
	.inputWrap label {@include hide();}
	.inputWrap input {padding:14px 6px; margin:0; width:100%; border:1px solid #dfdfdf; background:#fff; -webkit-appearance:none; @include fontCarrefour;}
	.inputWrap input::-webkit-input-placeholder {color:rgba(255,255,255,0.7);}
	.inputWrap input:-ms-input-placeholder {color:rgba(255,255,255,0.7);}
	.inputWrap input:-moz-placeholder {color:rgba(255,255,255,0.7);}
	.inputWrap input::placeholder {color:rgba(255,255,255,0.7);}

	.submit {position:absolute; right:9px; top:9px; bottom:9px;}
	.submit button {display:block; background:#ed2988; border:none; padding:0; height:100%; padding-left:45px; width:0; overflow:hidden; position:relative; cursor:pointer; transition:opacity 0.2s linear; font-size:0;}
	.submit button:after {@include icon($icon-search); position:absolute; left:0; right:0; top:50%; margin-top:-11px; font-size:22px; color:#fff;}
	.submit button:hover {opacity:0.8;}

	@media (max-width: 767px) {
		form {padding:15px; padding-bottom:0;}
		.inputWrap input {padding-right:50px;}
		.submit {right:15px; top:15px; bottom:0;}
	}
	@media (min-width: 768px) {
		background:#ed2988; position:absolute; top:-75px; right:75px; height:75px; z-index:20; width:0px; overflow:hidden; transition: width 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); border-right:1px solid rgba(255,255,255,0.5);
		.jShowSearch & {width:580px;}
		form {width:578px; padding:14px;}
		.inputWrap input {background:none; border:none; border-bottom:1px solid rgba(255,255,255,0.5); color:#fff; font-size:20px; padding:8px 6px;}
		.submit {right:15px; top:15px; bottom:15px;}
	}
}
