{% import _self as macros %}

{% macro printAttr(attr, value) %}{% spaceless %}
	{% if value is not empty %}{{ attr }}="{{ value }}"{% endif %}
{% endspaceless %}{% endmacro %}

{% macro teaserWidth(teaser) %}{% spaceless %}
	{% set teaserWidth = (teaser.field_masonry_display_type_extra == '2x1') ? 2 : 1 %}
	{{ teaserWidth }}
{% endspaceless %}{% endmacro %}

{% macro printDataAttrs(values) %}{% for attr in values %}{{ _self.printAttr('data-' ~ attr.key, attr.value) }} {% endfor %}{% endmacro %}