.nav.skip {
	li.pageContent {@include hide;}

	@media (max-width:767px) {
		li.siteNav a {position:absolute; right:0; top:0; width:50px; height:50px; background:#005aa9; padding-left:50px; overflow:hidden; color:#fff;}
		li.siteNav a:before {@include icon($icon-hamburger); position:absolute; left:0; top:0; width:100%; height:50px; line-height:50px; text-align:center;}
		li.search {@include hide;}
	}
	@media (min-width:768px) {
		li.siteNav {@include hide;}
		li.search {position:absolute; right:0; top:0; height:75px; z-index:11;}
		li.search a {width:75px; height:100%; display:block; background:#ed2988; text-align:center; padding:10px 0; padding-top:42px; position:relative; color:#fff; text-decoration:none; outline:none; transition:background 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);}
		li.search a:hover, li.search a:focus {background:#f158a2;}
		li.search a:before {@include icon($icon-search); position:absolute; left:0; right:0; top:14px; color:#fff; font-size:22px; text-align:center;}
		.jShowSearch & li.search a:before {content:$icon-close;}
	}
}
