.contentSlider {
	.slick-arrow {
		background:$mainColor;
		&:after {color:#fff;}
		&.slick-disabled {background:#c1c1c1;}
	}
}

.contentSlider .ctItem {
	> .wrap article {
		header .heading {color:$mainColor;}
	}
}
