.contentSlider {
	padding:12px 0px;
	> header .heading {font-size:26px; @include fontCarrefour(); font-weight:400; margin:0 12px; margin-bottom:12px; text-align:center; line-height:1.1em;}
	> header .textblock {margin:12px;}
	.slick-slide {float:left;}
	.slick-arrow {
		position:absolute; top:50%; z-index:3; margin-top:-45px; padding:0; padding-left:30px; width:0px; height:90px; background:$grey; border:none; overflow:hidden; cursor:pointer;
		&:before {@include icon($icon-arrow-right); color:#fff; display:block; position:absolute; left:0; right:0; top:50%; margin-top:-6px; text-align:center; font-size:12px;}
		&.slick-prev {
			border-radius:0px 5px 5px 0px; left:0;
			&:before {content:$icon-arrow-left;}
		}
		&.slick-next {border-radius:5px 0px 0px 5px; right:0;}
		&.slick-disabled {background:$darkGrey;}
	}
	@media (min-width: 850px) {
		> header .heading {font-size:32px;}
	}
	@media (min-width: 1024px) {
		padding:30px 0px; padding-bottom:40px;
		> header .heading {margin:0px 50px; margin-bottom:30px;}
	}
}

.contentSlider .ctItem {
	width:225px; margin:0px 12px;
	> .wrap article {
		background:$lightGrey; overflow:hidden; position:relative; padding-top:190px;
		a {text-decoration:none;}
		header {
			padding:15px 20px; min-height:35px;
			.heading {
				font-size:16px; @include fontCarrefour(); font-weight:600; color:#000;
				&:after {@include icon($icon-arrow-right); margin-left:4px; font-size:55%;}
			}
		}
		figure {
			position:absolute; left:0; right:0; top:0; height:190px; overflow:hidden;
			img {width:100%; display:block;}
		}
	}
	&:first-child {padding-left:12px; box-sizing:unset;}

	@media (min-width:1024px) {
		&:first-child {padding-left:50px;}
	}
}
.articleItem.dView > .wrap > article > .wrap1 > .main > .contentSlider:nth-child(2n+2) .ctItem {
	> .wrap article {background:#fff;}
}

