.slick-slider {
	position:relative;
	.slick-track, .slick-list {transform:translate3d(0, 0, 0);}
	.slick-list {position:relative; display:block; overflow:hidden; margin:0; padding:0;}
	.slick-track {position:relative; top:0; left:0; display:block;}
	.slick-slide {display:none; float:left; min-height:1px;}
	&.slick-initialized .slick-slide {display:block;}
}

.slider {
	> .main {white-space:nowrap;}
	> .main > .ctItem {display:inline-block; vertical-align:top; white-space:normal;}
}
