@mixin articleStyle() {
	> .wrap > div.header {max-height:460px; overflow:hidden; max-width:1024px; margin:0 auto; margin-top:26px; position:relative;}
	> .wrap > div.header img {width:100%; display:block;}
	> .wrap > div.header .video {position:absolute; left:0; right:0; bottom:0; top:0; display:none;}
	> .wrap > div.header .video iframe {width:100%; height:100%;}
	> .wrap > article {
		max-width:1024px; margin:0 auto; background:#fff;
		> .wrap1 {
			/*padding:20px 0px;*/ padding-top:24px;
			> header {margin:12px; margin-top:0;}
			> header h1 {font-size:24px; @include fontCarrefour(); margin-bottom:0px; color:#005aa9; font-weight:500;}
			> .main h2 {font-size:24px; @include fontCarrefour; }
		}
		> .wrap2 {
			background:#e2f0f7;
			> aside > * {padding:0 12px;}
			> aside section {
				> header h2.heading {@include fontCarrefour(); font-weight:400; color:#005aa9; font-size:20px; padding-bottom:8px; margin-bottom:15px; border-bottom:1px solid #8bb6d9;}
			}
		}
	}
	@media (min-width: 720px) {
		> .wrap > article {
			overflow:hidden; padding-right:340px; position:relative; z-index:1;
			&:before {content:""; display:block; width:340px; position:absolute; right:0; top:0; bottom:0; background:#e2f0f7; z-index:-1;}
			> .wrap1 {float:left; width:100%; }
			> .wrap2 {float:right; width:340px; margin-right:-340px;}
		}
	}
	@media (min-width: 1024px) {
		> .wrap > div.header {border-radius:8px 8px 0 0;}
		> .wrap > article {
			> .wrap1 {
				/*padding:50px 0px;*/ padding-top:50px;
				> header .heading {font-size:40px;}
				> header {margin-left:50px; margin-right:50px; margin-bottom:0;}
				> .main h2 {font-size:32px;}
			}
			> .wrap2 > aside > * {padding-left:30px; padding-right:30px;}
			> .wrap2 > aside section > header h2.heading {font-size:24px;}
		}
	}

	&.hasVideo {
		> .wrap > .header > figure:before {@include icon($icon-music-play); display:block; color:#fff; opacity:0.75;  font-size:80px; text-shadow:0 0 8px rgba(0,0,0,0.3); margin-top:-35px; position:absolute; left:0; right:0; top:50%; z-index:6; text-align:center; cursor:pointer; pointer-events:none;}
	}
	&.jVideoPlaying > .wrap > div.header .video {display:block;}
	&.jVideoPlaying > .wrap > div.header > figure:before {display:none;}

	// share items
	.share {
		min-height:54px; background:#fff; margin-left:1px;

		.at-share-btn-elements { padding:12px; padding-left:12px; padding-bottom:0;}
		.at-share-btn-elements a {margin:0 3px;}

		// media queries
		@media (max-width:719px) {
			border-top:1px solid #8bb6d9;

			.at-share-btn-elements a {margin-left:0; margin-right:6px;}
		}
		@media (min-width:719px) {
			overflow:hidden;

			.at-share-btn-elements {float:right; padding:0;}
			.at-share-btn-elements a {float:left; margin:0; margin-left:3px;}
		}
	}
}

.articleItem {
	/* d view ....................................................................................................... */
	&.dView {
		@include articleStyle();

		/* va view  - context: aside .................................................................................... */
		aside .ctItem.vaView {
			margin-top:15px;
			&:first-child {margin-top:0;}
			a {display:block; line-height:90px; padding-left:110px; padding-right:20px; min-height:90px; position:relative; color:#000; background:#fff; text-decoration:none;}
			a > header {line-height:1.35em; vertical-align:middle; display:inline-block; width:100%; box-sizing:border-box; }
			.heading {
				@include fontCarrefour(); font-weight:500; font-size:16px; margin-bottom:10px; color:#005aa9;
				&:after {@include icon($icon-arrow-right); margin-left:4px; font-size:45%; vertical-align:middle;}
			}
			figure {
				position:absolute; width:90px; height:90px; left:0; top:0; overflow:hidden;
				picture, img {display:block; width:100%;}
			}
			.textblock p {font-size:12px; margin:0; color:#282828; white-space:nowrap; width:100%; text-overflow:ellipsis; overflow:hidden;}
		}
		aside .campaignSection .ctItem.vaView, aside .shadowContent .ctItem.vaView {
			a {background:#e2f0f7;}
		}

		aside .relatedRecipes .ctItem.vaView {
			a {display:flex; flex-direction:column; padding:0; min-height:0;}
			header {order:2;}
			header .heading {padding:15px 20px; margin-bottom:0; color:#000;}
			figure {order:1; position:static; width:auto; height:auto;}
		}
		@media (min-width:580px) and (max-width:719px) {
			aside .relatedRecipes > .main {overflow:hidden;}
			aside .relatedRecipes > .main > * {width:49%; float:right; margin-top:0; margin-bottom:12px;}
			aside .relatedRecipes > .main > *:nth-child(2n+1) {float:left; clear:both;}
		}



		> .wrap > article {
			> .wrap1 > .main > * {background:#fff;}
			> .wrap1 > .main > *:nth-child(2n+2) {background:$lightGrey;}
			> .wrap2 > aside > .campaignSection {background:#fff; border-left:1px solid #e2f0f7; padding-top:30px; padding-bottom:30px; margin-bottom:10px;}
			> .wrap2 > aside > .taggedArticles, > .wrap2 > aside > .relatedRecipes {padding-top:20px;}
			> .wrap2 > aside > .newsletter {margin-top:20px; margin-bottom:20px;}
		}

		@media (min-width: 1024px) {
			> .wrap > article {
				> .wrap2 > aside > .campaignSection {padding-top:40px; padding-bottom:40px;}
			}
		}
	}


}

