.contentGallery {
	@extend .contentSlider;
	.image img {width:100%; display:block;}
}


.fancybox-overlay {position:fixed !important; left:0 !important; top:0 !important; bottom:0 !important; right:0 !important; width:auto !important; height:auto !important; z-index:100100 !important;}
html.fancybox-lock {overflow:hidden !important;}
.fancybox-overlay .fancybox-nav span {visibility:visible;}