@font-face {
	font-family:'Omnes'; font-weight:400; font-style:normal;
	src:url('font/omnes/omnes-webfont.eot');
	src:url('font/omnes/omnes-webfont.eot?iefix') format('eot'),
	url('font/omnes/omnes-webfont.woff') format('woff'),
	url('font/omnes/omnes-webfont.ttf') format('truetype'),
	url('font/omnes/omnes-webfont.svg#webfontDLgGgQdd') format('svg');
}
/*@font-face {
	font-family:'Omnes'; font-weight:400; font-style:italic;
	src:url('font/omnes/omnes_regularitalic-webfont.eot');
	src:url('font/omnes/omnes_regularitalic-webfont.eot?iefix') format('eot'),
	url('font/omnes/omnes_regularitalic-webfont.woff') format('woff'),
	url('font/omnes/omnes_regularitalic-webfont.ttf') format('truetype'),
	url('font/omnes/omnes_regularitalic-webfont.svg#webfontDLgGgQdd') format('svg');
}*/
@font-face {
	font-family:'Omnes'; font-weight:500; font-style:normal;
	src:url('font/omnes/omnes_medium-webfont.eot');
	src:url('font/omnes/omnes_medium-webfont.eot?iefix') format('eot'),
	url('font/omnes/omnes_medium-webfont.woff') format('woff'),
	url('font/omnes/omnes_medium-webfont.ttf') format('truetype'),
	url('font/omnes/omnes_medium-webfont.Svg#webfontDLgGgQdd') format('svg');
}
@font-face {
	font-family:'Omnes'; font-weight:600; font-style:normal;
	src:url('font/omnes/omnes_semibold-webfont.eot');
	src:url('font/omnes/omnes_semibold-webfont.eot?iefix') format('eot'),
	url('font/omnes/omnes_semibold-webfont.woff') format('woff'),
	url('font/omnes/omnes_semibold-webfont.ttf') format('truetype'),
	url('font/omnes/omnes_semibold-webfont.svg#webfontDLgGgQdd') format('svg');
}
/*@font-face {
	font-family:'Omnes'; font-weight:600; font-style:italic;
	src:url('font/omnes/omnes_semibolditalic-webfont.eot');
	src:url('font/omnes/omnes_semibolditalic-webfont.eot?iefix') format('eot'),
	url('font/omnes/omnes_semibolditalic-webfont.woff') format('woff'),
	url('font/omnes/omnes_semibolditalic-webfont.ttf') format('truetype'),
	url('font/omnes/omnes_semibolditalic-webfont.svg#webfontDLgGgQdd') format('svg');
}*/

/*@font-face {
	font-family:'Omnes'; font-weight:700; font-style:normal;
	src:url('font/omnes/omnes_bold-webfont.eot');
	src:url('font/omnes/omnes_bold-webfont.eot?iefix') format('eot'),
	url('font/omnes/omnes_bold-webfont.woff') format('woff'),
	url('font/omnes/omnes_bold-webfont.ttf') format('truetype'),
	url('font/omnes/omnes_bold-webfont.svg#webfontDLgGgQdd') format('svg');
}*/

body {font-family:Arial; font-size:14px; background:#eeeeee; overflow-x:hidden; width:100%;}
html {overflow-x:hidden; width:100%;}


