
$icon-facebook: "\61";
$icon-home: "\62";
$icon-arrow-down: "\63";
$icon-arrow-left: "\64";
$icon-arrow-right: "\65";
$icon-arrow-up: "\66";
$icon-arrow-handdrawn-left: "\67";
$icon-arrow-handdrawn-right: "\68";
$icon-alert: "\69";
$icon-faq: "\6a";
$icon-favorites: "\6b";
$icon-tooltip: "\6c";
$icon-folder: "\6d";
$icon-hamburger: "\6e";
$icon-help: "\6f";
$icon-min: "\70";
$icon-min-circle: "\71";
$icon-bin: "\72";
$icon-carrefour: "\73";
$icon-plus: "\74";
$icon-plus-circle: "\75";
$icon-close: "\76";
$icon-close-circle: "\77";
$icon-recette-chef: "\78";
$icon-recette-chef-circle: "\79";
$icon-equal: "\7a";
$icon-search: "\41";
$icon-more: "\42";
$icon-compte-carrefour: "\43";
$icon-enregistrer: "\44";
$icon-basket: "\46";
$icon-list: "\47";
$icon-select: "\48";
$icon-horaires: "\49";
$icon-contact: "\4a";
$icon-desactiver: "\4b";
$icon-loader: "\4c";
$icon-star-empty: "\4d";
$icon-select-2: "\4e";
$icon-star-full: "\4f";
$icon-login: "\50";
$icon-download: "\51";
$icon-logout: "\52";
$icon-star-half: "\53";
$icon-tip: "\54";
$icon-check-circle: "\55";
$icon-check: "\56";
$icon-calendrier: "\57";
$icon-applications: "\5a";
$icon-comparator: "\30";
$icon-ajouter-personne: "\45";
$icon-actualites: "\31";
$icon-actualiser: "\32";
$icon-assurances-garanties: "\34";
$icon-order-history: "\35";
$icon-outiles: "\36";
$icon-partner: "\37";
$icon-smartscan: "\38";
$icon-settings: "\39";
$icon-wishlist: "\21";
$icon-wishlist-add: "\22";
$icon-confirme: "\23";
$icon-jobs: "\24";
$icon-cadeau: "\25";
$icon-carrefour-finance: "\26";
$icon-sun: "\27";
$icon-touch: "\28";
$icon-safety: "\29";
$icon-return: "\2a";
$icon-scissors: "\2b";
$icon-validated: "\2c";
$icon-view: "\2d";
$icon-view-emotional: "\2e";
$icon-wait: "\2f";
$icon-new: "\3a";
$icon-fqc-light: "\3b";
$icon-fqc: "\3c";
$icon-edit: "\3d";
$icon-go-trough: "\3e";
$icon-turn-right: "\3f";
$icon-turn-left: "\40";
$icon-rond-point: "\5b";
$icon-filter: "\5d";
$icon-dislike: "\5e";
$icon-skype: "\5f";
$icon-share: "\60";
$icon-twitter: "\7b";
$icon-pintrest: "\7c";
$icon-like: "\7d";
$icon-subscribe-newsletter: "\7e";
$icon-youtube: "\5c";
$icon-youtube-2: "\e000";
$icon-imprimer: "\e001";
$icon-indesign: "\e002";
$icon-facebook-2: "\e003";
$icon-instagram: "\e004";
$icon-send-by-mail: "\e005";
$icon-mail: "\e006";
$icon-vacances-soleil: "\e007";
$icon-surgeles: "\e008";
$icon-tableau: "\e009";
$icon-tableau-noir: "\e00a";
$icon-tablier: "\e00b";
$icon-tacos: "\e00c";
$icon-tarte: "\e00d";
$icon-yaourt: "\e00e";
$icon-tortue: "\e00f";
$icon-soupe: "\e010";
$icon-sonnerie: "\e011";
$icon-sauces: "\e012";
$icon-raclette-fondue: "\e013";
$icon-poele: "\e014";
$icon-ramasette: "\e015";
$icon-se-laver: "\e016";
$icon-parfum: "\e017";
$icon-noel-ball: "\e018";
$icon-fromage-2: "\e019";
$icon-gant-cuisine: "\e01a";
$icon-mouton: "\e01c";
$icon-mobilier-jardin: "\e01d";
$icon-oeufs-de-paques: "\e01e";
$icon-plats-prepares: "\e01f";
$icon-produits-locaux: "\e020";
$icon-sac-poubelle: "\e021";
$icon-prokbord: "\e022";
$icon-plume: "\e023";
$icon-mirroir-beaute: "\e024";
$icon-notebook: "\e025";
$icon-plats: "\e026";
$icon-produit-vaiselle: "\e027";
$icon-sac-a-dos: "\e028";
$icon-rouleau-patisserie: "\e029";
$icon-produit-locaux: "\e02a";
$icon-pizza: "\e02b";
$icon-noel-plant: "\e02c";
$icon-noel-noeud: "\e02d";
$icon-rouge-a-levres: "\e02f";
$icon-poussin-paques: "\e030";
$icon-pinceau-maquillage: "\e031";
$icon-noel-easter-clock: "\e032";
$icon-mastercook: "\e033";
$icon-lave-vaiselle: "\e034";
$icon-lessive: "\e035";
$icon-health-care: "\e036";
$icon-dinde: "\e037";
$icon-dinde-2: "\e038";
$icon-diplome: "\e039";
$icon-escargot: "\e03a";
$icon-essuie-tout: "\e03b";
$icon-frites: "\e03c";
$icon-frigo: "\e03d";
$icon-frites-sauces: "\e03e";
$icon-hot-dog: "\e03f";
$icon-livre: "\e040";
$icon-fromage: "\e041";
$icon-faire-le-menage: "\e042";
$icon-ecaire: "\e043";
$icon-ecole: "\e044";
$icon-ecureuil: "\e045";
$icon-mappe-monde: "\e047";
$icon-manger: "\e048";
$icon-manager: "\e049";
$icon-noel-ball-2: "\e04a";
$icon-noel-ball-3: "\e04b";
$icon-noel-couronne: "\e04c";
$icon-noel-chaussette: "\e04d";
$icon-picnic: "\e04e";
$icon-pince-a-linge: "\e04f";
$icon-poule: "\e050";
$icon-porc: "\e051";
$icon-repassage: "\e052";
$icon-sel: "\e053";
$icon-poivre-sel: "\e054";
$icon-pates: "\e055";
$icon-passoire: "\e056";
$icon-poivre: "\e057";
$icon-ketchup-moutarde: "\e058";
$icon-goutte: "\e059";
$icon-grille-pain: "\e05a";
$icon-lampe-de-bureau: "\e05b";
$icon-lapin: "\e05c";
$icon-lapin-paques: "\e05d";
$icon-hamburger-1: "\e05e";
$icon-fourniture-bureau: "\e05f";
$icon-fluo-surligneur: "\e060";
$icon-edit-1: "\e061";
$icon-couverts: "\e062";
$icon-cuisine: "\e063";
$icon-cuisine-du-monde: "\e064";
$icon-entretien-vitres: "\e065";
$icon-epices: "\e066";
$icon-eprouvette: "\e067";
$icon-coffee-at-work: "\e068";
$icon-cochon: "\e069";
$icon-chaise-de-bureau-directeur: "\e06a";
$icon-chaise-de-bureau: "\e06b";
$icon-casserole: "\e06c";
$icon-bonbon: "\e06d";
$icon-bonhomme-de-neige: "\e06e";
$icon-brush-maquillage: "\e06f";
$icon-bus-scolaire: "\e070";
$icon-chat: "\e071";
$icon-beaute: "\e072";
$icon-beaute-2: "\e073";
$icon-cafetiere: "\e074";
$icon-compas: "\e075";
$icon-cheval: "\e076";
$icon-cahier: "\e077";
$icon-calculatrice: "\e078";
$icon-chien: "\e079";
$icon-concours-gagnant: "\e07a";
$icon-concours-medaille: "\e07b";
$icon-chips: "\e07c";
$icon-chocolat: "\e07d";
$icon-canari: "\e07e";
$icon-biscuits: "\e07f";
$icon-bio: "\e080";
$icon-blush-maquillage: "\e081";
$icon-carafe: "\e082";
$icon-chronometre: "\e083";
$icon-conserve: "\e084";
$icon-ciseaux: "\e085";
$icon-classeurs: "\e086";
$icon-couteau-boucher: "\e087";
$icon-bol: "\e088";
$icon-boeuf: "\e089";
$icon-assiette-tasse: "\e08a";
$icon-aspirateur: "\e08b";
$icon-ange: "\e08c";
$icon-alerte: "\e08d";
$icon-agrafeuse: "\e08e";
$icon-agneau-2: "\e08f";
$icon-agneau: "\e090";
$icon-bapteme: "\e091";
$icon-annuaire: "\e092";
$icon-animal-os: "\e093";
$icon-balance: "\e094";
$icon-back-to-school: "\e095";
$icon-animal-generale: "\e096";
$icon-abri-animaux: "\e098";
$icon-cigarette: "\e046";
$icon-cigarette-pack: "\e099";
$icon-cloud-sun: "\e09a";
$icon-cloud-rain: "\e09b";
$icon-cloud-lightning: "\e09c";
$icon-cloud: "\e09d";
$icon-cloud-moon: "\e09e";
$icon-clock: "\e09f";
$icon-clock-2: "\e0a0";
$icon-min-16: "\e0a1";
$icon-min-18: "\e0a2";
$icon-ibeacon: "\e0a3";
$icon-faire-ces-courses: "\e0a4";
$icon-loterie: "\e0a5";
$icon-lotto: "\e0a6";
$icon-rss: "\e0a7";
$icon-store-carreffour: "\e0a8";
$icon-store: "\e0a9";
$icon-shopping-cart: "\e0aa";
$icon-shopping-cart-empty: "\e0ab";
$icon-sac-recyclable: "\e0ac";
$icon-shopping-cart-selected: "\e0ad";
$icon-wifi: "\e0ae";
$icon-tag-open: "\e0af";
$icon-tag-closed: "\e0b0";
$icon-tag-24-7: "\e0b1";
$icon-signal: "\e0b2";
$icon-acces-personnes-mobilite-reduite: "\e0b3";
$icon-barcode: "\e0b4";
$icon-barcode-search: "\e0b5";
$icon-call-center: "\e0b6";
$icon-contact-telephonic: "\e0b7";
$icon-h24: "\e0b8";
$icon-economie: "\e0b9";
$icon-economic-2: "\e0ba";
$icon-economic: "\e0bb";
$icon-coupon: "\e0bc";
$icon-imprimante: "\e0bd";
$icon-fax: "\e0be";
$icon-parking: "\e0bf";
$icon-poucentage: "\e0c0";
$icon-promo-2: "\e0c1";
$icon-promo: "\e0c2";
$icon-point-postes: "\e0c3";
$icon-petites-annonces: "\e0c4";
$icon-photonation: "\e0c5";
$icon-pompes: "\e0c6";
$icon-parking-couvert: "\e0c7";
$icon-parking-maman: "\e0c8";
$icon-parking-velo: "\e0c9";
$icon-soldes: "\e0ca";
$icon-reductions: "\e0cb";
$icon-telephone: "\e0cc";
$icon-telephone-24h: "\e0cd";
$icon-tembre: "\e0ce";
$icon-toilettes: "\e0cf";
$icon-avion: "\e0d0";
$icon-bateau: "\e0d1";
$icon-big-truck: "\e0d2";
$icon-colis-retrait: "\e0d3";
$icon-colis-pret: "\e0d4";
$icon-colis-ouvert: "\e0d5";
$icon-colis-ferme: "\e0d6";
$icon-colis: "\e0d7";
$icon-film-tournage: "\e0d8";
$icon-film-camera: "\e0d9";
$icon-film: "\e0da";
$icon-helicopter: "\e0db";
$icon-depot: "\e0dc";
$icon-mute: "\e0dd";
$icon-music-stop: "\e0de";
$icon-music-prev: "\e0df";
$icon-music-play-2: "\e0e0";
$icon-music-play: "\e0e1";
$icon-music-pause: "\e0e2";
$icon-music-note: "\e0e3";
$icon-music-next: "\e0e4";
$icon-montgolfiere: "\e0e5";
$icon-lift: "\e0e6";
$icon-micro: "\e0e7";
$icon-livraison: "\e0e8";
$icon-metro: "\e0e9";
$icon-haut-parleur: "\e0ea";
$icon-poids-colis: "\e0eb";
$icon-poids-bagage: "\e0ec";
$icon-retour-colis: "\e0ed";
$icon-retrait: "\e0ee";
$icon-services-apres-vente: "\e0ef";
$icon-transporteur: "\e0f0";
$icon-transport-lourd: "\e0f1";
$icon-train: "\e0f2";
$icon-tracteur: "\e0f3";
$icon-voilier: "\e0f4";
$icon-velomoteur: "\e0f5";
$icon-velo: "\e0f6";
$icon-bus: "\e0f7";
$icon-carte-bancaire: "\e0f8";
$icon-carrefour-finance-1: "\e0f9";
$icon-carte-bancaires: "\e0fa";
$icon-caisse-store: "\e0fb";
$icon-arrow-directionnel: "\e0fc";
$icon-cheques-bonus: "\e0fd";
$icon-billets: "\e0fe";
$icon-distributeur-billets: "\e0ff";
$icon-directions: "\e100";
$icon-geo: "\e101";
$icon-grosse-economie: "\e102";
$icon-facture: "\e103";
$icon-localisation-store: "\e104";
$icon-localisation: "\e105";
$icon-itiniraire: "\e106";
$icon-nfc: "\e107";
$icon-location-carte: "\e108";
$icon-payment-securise: "\e109";
$icon-terminal-bancaire: "\e10a";
$icon-ticket: "\e10b";
$icon-ticket-impression: "\e10c";
$icon-web: "\e10d";
$icon-payment-carte: "\e10e";
$icon-attach: "\e10f";
$icon-badge: "\e110";
$icon-doc-edit: "\e111";
$icon-doc-facture: "\e112";
$icon-doc-repport: "\e113";
$icon-doc-wishlist: "\e114";
$icon-dossier: "\e115";
$icon-drive-5min: "\e116";
$icon-drive-car-open: "\e117";
$icon-drive-car-ready: "\e118";
$icon-drive-online-order: "\e119";
$icon-drive-online-order-2: "\e11a";
$icon-drive-order-bag: "\e11b";
$icon-drive-preparator: "\e11c";
$icon-express-aperitief: "\e11d";
$icon-express-croissant: "\e11e";
$icon-express-sandwish: "\e11f";
$icon-express-shopping: "\e120";
$icon-express-snack: "\e121";
$icon-express-timing: "\e122";
$icon-file-pdf: "\e123";
$icon-file-jpg: "\e124";
$icon-file-html: "\e125";
$icon-file-doc: "\e126";
$icon-file-attach: "\e127";
$icon-graphic: "\e128";
$icon-graphic-2: "\e129";
$icon-graphic-positive: "\e12a";
$icon-graphic-positive-tab: "\e12b";
$icon-hr-evaluation-personel: "\e12c";
$icon-ghr-bonus-personel: "\e12d";
$icon-id: "\e12e";
$icon-hyper-hip: "\e12f";
$icon-hr-taleo: "\e130";
$icon-hr-recherge-personel: "\e131";
$icon-hr-hiarchy: "\e132";
$icon-file-png: "\e133";
$icon-file-xls: "\e134";
$icon-file-zip: "\e135";
$icon-organigram: "\e136";
$icon-process-2: "\e137";
$icon-sap: "\e138";
$icon-store-receipt: "\e139";
$icon-sous-de-document: "\e13a";
$icon-process: "\e13b";
$icon-humeur-triste: "\e13c";
$icon-humeur-smile: "\e13d";
$icon-humeur-rien-dire: "\e13e";
$icon-humeur-pas-content: "\e13f";
$icon-humeur-neutre: "\e140";
$icon-humeur-blink: "\e141";
$icon-humeur-devient-triste: "\e142";
$icon-humeur-dificile: "\e143";
$icon-humeur-dificile-2: "\e144";
$icon-humeur-fache: "\e145";
$icon-humeur-happy: "\e146";
$icon-humeur-j-adore: "\e147";
$icon-humeur-langue: "\e148";
$icon-humeur-langue-drole: "\e149";
$icon-humeur-marrant: "\e14a";
$icon-allergene-gluten: "\e097";
$icon-alteres: "\e14b";
$icon-alcool-2: "\e14c";
$icon-3d: "\e14d";
$icon-abeille: "\e14e";
$icon-baby-biberon-2: "\e14f";
$icon-baby-toys: "\e150";
$icon-baby-toys-sleep: "\e151";
$icon-baby-car: "\e152";
$icon-baby-toys-2: "\e153";
$icon-baby-toys-3: "\e154";
$icon-baby-toys-4: "\e155";
$icon-baby-toys-5: "\e156";
$icon-baby-toys-6: "\e157";
$icon-baby-toys-7: "\e158";
$icon-badminton: "\e159";
$icon-barbecue: "\e15a";
$icon-bar: "\e15b";
$icon-beurre: "\e15c";
$icon-bidet: "\e15d";
$icon-biere: "\e15e";
$icon-biere-2: "\e15f";
$icon-biere-3: "\e160";
$icon-baseball: "\e161";
$icon-baseball-2: "\e162";
$icon-barriere: "\e163";
$icon-bagage-avion: "\e164";
$icon-bagage: "\e165";
$icon-badpak: "\e166";
$icon-baby-toys-8: "\e167";
$icon-baby-toys-9: "\e168";
$icon-baby-toys-10: "\e169";
$icon-baby-toys-11: "\e16a";
$icon-bagage-transport: "\e16b";
$icon-bague: "\e16c";
$icon-baguette: "\e16d";
$icon-baby-toys-13: "\e16e";
$icon-baby-toys-12: "\e16f";
$icon-baby-sleep-2: "\e170";
$icon-baby-bath: "\e171";
$icon-arrosoir: "\e172";
$icon-arbre: "\e173";
$icon-alcool: "\e174";
$icon-baby-tetine: "\e175";
$icon-baby-biberon: "\e176";
$icon-baby-sleep: "\e177";
$icon-baby-mange: "\e178";
$icon-baby-maman: "\e179";
$icon-baby-garcon: "\e17a";
$icon-baby-fille: "\e17b";
$icon-baby-est-ne: "\e17c";
$icon-baby-clothes: "\e17d";
$icon-baby-clothes-2: "\e17e";
$icon-baby-chaussettes: "\e17f";
$icon-baby-velo: "\e180";
$icon-babyphone: "\e181";
$icon-babyphones: "\e182";
$icon-ballon: "\e183";
$icon-bain-2: "\e184";
$icon-bain: "\e185";
$icon-basket-1: "\e186";
$icon-bavoir: "\e187";
$icon-body: "\e188";
$icon-bowling: "\e189";
$icon-bouteille-vin: "\e18a";
$icon-boulangerie-patisserie: "\e18b";
$icon-bougie: "\e18c";
$icon-boucles-doreilles: "\e18d";
$icon-bottines-homme: "\e18e";
$icon-cadeau-1: "\e18f";
$icon-cafe: "\e190";
$icon-bracelet: "\e191";
$icon-carte-recharge-telephone: "\e192";
$icon-carte-sim: "\e193";
$icon-casquette: "\e194";
$icon-brosse-a-dents: "\e195";
$icon-bricolage: "\e196";
$icon-brouette: "\e197";
$icon-camera: "\e198";
$icon-cannette: "\e199";
$icon-bonnet: "\e19a";
$icon-bonhomme-neige-2: "\e19b";
$icon-bottines-femme: "\e19c";
$icon-billard: "\e19d";
$icon-capsule: "\e19e";
$icon-chaise: "\e19f";
$icon-chaussure: "\e1a0";
$icon-chaussettes-courtes: "\e1a1";
$icon-cereales: "\e1a2";
$icon-ceinture: "\e1a3";
$icon-chaussettes: "\e1a4";
$icon-chocolat-chaud: "\e1a5";
$icon-chaussette-2: "\e1a6";
$icon-chaussette: "\e1a7";
$icon-chauffe-serviettes: "\e1a8";
$icon-chevalet: "\e1a9";
$icon-charbon: "\e1aa";
$icon-chapeau: "\e1ab";
$icon-champagne-fetes: "\e1ac";
$icon-champagne: "\e1ad";
$icon-chemise: "\e1ae";
$icon-chaussure-femme: "\e1af";
$icon-cirque: "\e1b0";
$icon-cocktail: "\e1b1";
$icon-cocktail-coco: "\e1b2";
$icon-cle: "\e1b3";
$icon-cookies: "\e1b4";
$icon-cordonnier: "\e1b5";
$icon-costume: "\e1b6";
$icon-couleurs: "\e1b7";
$icon-collier: "\e1b8";
$icon-couronne: "\e1b9";
$icon-digestif: "\e1ba";
$icon-donut: "\e1bc";
$icon-domino: "\e1bd";
$icon-crepes: "\e1be";
$icon-cravate: "\e1bf";
$icon-cuisine-2: "\e1c0";
$icon-eclairage: "\e1c1";
$icon-echelle: "\e1c2";
$icon-echarpe-2: "\e1c3";
$icon-echarpe: "\e1c4";
$icon-epilateur: "\e1c5";
$icon-exterieur: "\e1c6";
$icon-extincteur: "\e1c7";
$icon-essuis: "\e1c8";
$icon-evier: "\e1c9";
$icon-dvd-logo: "\e1ca";
$icon-dvd: "\e1cb";
$icon-eau: "\e1cc";
$icon-eau-2: "\e1cd";
$icon-eau-petillante: "\e1ce";
$icon-enceinte: "\e1cf";
$icon-douche: "\e1d0";
$icon-farine: "\e1d1";
$icon-fauteuil: "\e1d2";
$icon-fles: "\e1d3";
$icon-feu: "\e1d4";
$icon-fles-14: "\e1d5";
$icon-fles-13: "\e1d6";
$icon-fles-15: "\e1d7";
$icon-fles-16: "\e1d8";
$icon-fles-2: "\e1d9";
$icon-fles-4: "\e1da";
$icon-fles-5: "\e1db";
$icon-fles-6: "\e1dc";
$icon-fles-7: "\e1dd";
$icon-fles-8: "\e1de";
$icon-fles-9: "\e1df";
$icon-fles-10: "\e1e0";
$icon-fles-11: "\e1e1";
$icon-golf-2: "\e1e2";
$icon-gourde: "\e1e3";
$icon-fles-12: "\e1e4";
$icon-golf: "\e1e5";
$icon-guitare: "\e1e6";
$icon-gros-pinceau: "\e1e7";
$icon-glaces-2: "\e1e8";
$icon-glaces: "\e1e9";
$icon-foodball: "\e1ea";
$icon-hockey: "\e1eb";
$icon-health-watch: "\e1ec";
$icon-headset: "\e1ed";
$icon-gps: "\e1ee";
$icon-gourde-2: "\e1ef";
$icon-gant: "\e1f0";
$icon-fleur: "\e1f1";
$icon-fles-3: "\e1f2";
$icon-jardinage: "\e1f3";
$icon-jurk: "\e1f4";
$icon-jurk-2: "\e1f5";
$icon-jas: "\e1f6";
$icon-jas-2: "\e1f7";
$icon-jurk-3: "\e1f8";
$icon-lecteur-dvd: "\e1f9";
$icon-jus-de-fruits: "\e1fa";
$icon-jas-3: "\e1fb";
$icon-jeans: "\e1fc";
$icon-jet-ski: "\e1fd";
$icon-lait: "\e1fe";
$icon-lait-vegetal: "\e1ff";
$icon-jeu-de-cartes: "\e200";
$icon-jeu-de-cartes-2: "\e201";
$icon-lampe: "\e202";
$icon-jeu-de-des: "\e203";
$icon-jeu-de-societe: "\e204";
$icon-lampe-de-poche: "\e205";
$icon-landeau: "\e206";
$icon-jeu-video: "\e207";
$icon-ipod: "\e208";
$icon-jeu-video-2: "\e209";
$icon-lange: "\e20a";
$icon-literie: "\e20b";
$icon-internet-explorer: "\e20c";
$icon-magie: "\e20d";
$icon-machien-a-laver: "\e20e";
$icon-lunettes: "\e20f";
$icon-limonade: "\e210";
$icon-masker: "\e211";
$icon-mirroir: "\e212";
$icon-martini: "\e213";
$icon-marteau: "\e214";
$icon-margarine: "\e215";
$icon-moufles: "\e216";
$icon-moufle: "\e217";
$icon-miel-2: "\e218";
$icon-miel: "\e219";
$icon-montre-classique: "\e21a";
$icon-muffin: "\e21b";
$icon-mer-du-nord-brand: "\e21c";
$icon-mobilier-salle-de-bain: "\e21d";
$icon-montagne: "\e21e";
$icon-maillot-de-bain: "\e21f";
$icon-maison-oiseaux: "\e220";
$icon-micro-1: "\e221";
$icon-montre: "\e222";
$icon-mercerie: "\e223";
$icon-ordinateur-tour: "\e224";
$icon-parapluie: "\e225";
$icon-parents-bebe: "\e226";
$icon-pelle-rateau: "\e227";
$icon-pellet: "\e228";
$icon-popcorn: "\e229";
$icon-pressing: "\e22a";
$icon-prise-electrique: "\e22b";
$icon-quincaillerie: "\e22c";
$icon-poussette-2: "\e22d";
$icon-poussette: "\e22e";
$icon-pieds-empreinte: "\e22f";
$icon-ordinateur: "\e230";
$icon-ordi-portable: "\e231";
$icon-pantoufles: "\e232";
$icon-pantalon-stretch: "\e233";
$icon-pantalon: "\e234";
$icon-or: "\e235";
$icon-oeuf-3: "\e236";
$icon-pain-danton-2: "\e237";
$icon-pain-pour-four: "\e238";
$icon-patinage: "\e239";
$icon-panty: "\e23a";
$icon-ping-pong: "\e23b";
$icon-pas: "\e23c";
$icon-projecteur: "\e23d";
$icon-pot-de-peinture-2: "\e23e";
$icon-pot-de-peinture: "\e23f";
$icon-petits-pain: "\e240";
$icon-photo: "\e241";
$icon-petite-pelle: "\e242";
$icon-porte-monnaie: "\e243";
$icon-portefeuille: "\e244";
$icon-pendentif: "\e245";
$icon-pain: "\e246";
$icon-nuisette: "\e247";
$icon-musique: "\e248";
$icon-oeu-sur-le-plat: "\e249";
$icon-oeuf: "\e24a";
$icon-oeuf-2: "\e24b";
$icon-pain-danton: "\e24c";
$icon-pain-couronne: "\e24d";
$icon-pain-2: "\e24e";
$icon-randonnee: "\e24f";
$icon-robinet: "\e250";
$icon-robinet-2: "\e251";
$icon-rasoir: "\e252";
$icon-rateau-petit: "\e253";
$icon-sapin: "\e254";
$icon-sangria: "\e255";
$icon-rouleau-peinture: "\e256";
$icon-soda-bouteille: "\e257";
$icon-soda: "\e258";
$icon-sms: "\e259";
$icon-smoothie: "\e25a";
$icon-smoking: "\e25b";
$icon-short: "\e25c";
$icon-secateur: "\e25d";
$icon-rugby-ball: "\e25e";
$icon-seche-cheveux: "\e25f";
$icon-sac-a-main: "\e260";
$icon-reveil: "\e261";
$icon-rideaux: "\e262";
$icon-robe: "\e263";
$icon-squash: "\e264";
$icon-spectacle: "\e265";
$icon-smartphone: "\e266";
$icon-soutien-gorge: "\e267";
$icon-ski: "\e268";
$icon-sirop: "\e269";
$icon-souris: "\e26a";
$icon-t-shirt: "\e26b";
$icon-table: "\e26c";
$icon-ticket-d-avion: "\e26d";
$icon-ticket-de-bus: "\e26e";
$icon-telepherique: "\e26f";
$icon-telecommande: "\e270";
$icon-tartine: "\e271";
$icon-tetrapack-milk: "\e272";
$icon-the: "\e273";
$icon-tetrapack: "\e274";
$icon-tonneau-robinet: "\e275";
$icon-tonneau: "\e276";
$icon-tongs: "\e277";
$icon-tennis-2: "\e278";
$icon-tennis: "\e279";
$icon-tondeuse: "\e27a";
$icon-trui: "\e27b";
$icon-tube-peinture: "\e27c";
$icon-tranzat: "\e27d";
$icon-temperature-froid: "\e27e";
$icon-temperature-chaud: "\e27f";
$icon-toilette: "\e280";
$icon-temperature: "\e281";
$icon-tablette: "\e282";
$icon-tv: "\e283";
$icon-vin: "\e284";
$icon-xxl: "\e285";
$icon-wisky: "\e286";
$icon-vin-bouteille: "\e287";
$icon-vin-fete: "\e288";
$icon-touchscreen: "\e289";
$icon-valise-roulettes: "\e28a";
$icon-volley: "\e28b";
$icon-viennoiserie: "\e28c";
$icon-veste: "\e28d";
$icon-windows-software: "\e28e";
$icon-windows: "\e28f";
$icon-verre: "\e290";
$icon-ventilateur: "\e291";
$icon-belgetarien: "\33";
$icon-diables-rouges: "\e01b";
$icon-marine: "\e02e";
$icon-puree: "\e1bb";
$icon-produit-laitier: "\e292";
$icon-activer: "\58";
$icon-activer-desactiver: "\59";
$icon-acocat: "\e293";
$icon-ananas: "\e294";
$icon-aubergine: "\e295";
$icon-artichaud: "\e296";
$icon-asiatique: "\e297";
$icon-asperges: "\e298";
$icon-ail: "\e299";
$icon-bananes: "\e29a";
$icon-banane: "\e29b";
$icon-carotte: "\e29c";
$icon-cerise: "\e29d";
$icon-brocoli: "\e29e";
$icon-brochettes: "\e29f";
$icon-champignon-1: "\e2a0";
$icon-champignon-2: "\e2a1";
$icon-citron: "\e2a2";
$icon-citrus: "\e2a3";
$icon-crabe-1: "\e2a4";
$icon-crabe-2: "\e2a5";
$icon-crustaces-1: "\e2a6";
$icon-coquillage: "\e2a7";
$icon-document-list: "\e2a8";
$icon-cucurbitace: "\e2a9";
$icon-crustaces-6: "\e2aa";
$icon-crustaces-5: "\e2ab";
$icon-crustaces-4: "\e2ac";
$icon-cotelette: "\e2ad";
$icon-crustaces-3: "\e2ae";
$icon-crustaces-2: "\e2af";
$icon-fruits-legumes: "\e2b0";
$icon-fraise: "\e2b1";
$icon-gibier-2: "\e2b2";
$icon-homard: "\e2b3";
$icon-huiledolive: "\e2b4";
$icon-gibier-1: "\e2b5";
$icon-jambon: "\e2b6";
$icon-mais: "\e2b7";
$icon-moules-2: "\e2b8";
$icon-moules-1: "\e2b9";
$icon-noix: "\e2ba";
$icon-pasteque: "\e2bb";
$icon-piment: "\e2bc";
$icon-poids: "\e2bd";
$icon-pommes: "\e2be";
$icon-poivron: "\e2bf";
$icon-pomme-de-terre: "\e2c0";
$icon-poulet: "\e2c1";
$icon-poissonerie-prepare: "\e2c2";
$icon-poissonerie: "\e2c3";
$icon-poisson-2: "\e2c4";
$icon-poisson-1: "\e2c5";
$icon-poire: "\e2c6";
$icon-raisins-1: "\e2c7";
$icon-raisins-2: "\e2c8";
$icon-raprot-list: "\e2c9";
$icon-saucisson-charcuterie: "\e2ca";
$icon-saucisse: "\e2cb";
$icon-saucisson-fromage: "\e2cc";
$icon-saurisserie: "\e2cd";
$icon-sushi-1: "\e2ce";
$icon-sushi-2: "\e2cf";
$icon-sushi-3: "\e2d0";
$icon-sushi-4: "\e2d1";
$icon-tomate: "\e2d2";
$icon-viande-1: "\e2d3";
$icon-viande-2: "\e2d4";
$icon-viande-3: "\e2d5";
$icon-viande-5: "\e2d6";
$icon-viande-4: "\e2d7";
$icon-viande-6: "\e2d8";
$icon-viande-7: "\e2d9";
$icon-viande-8: "\e2da";
$icon-viande-9: "\e2db";
$icon-blender: "\e2dc";
$icon-bouilloire: "\e2dd";
$icon-four: "\e2de";
$icon-fromage-vieux: "\e2df";
$icon-hotte: "\e2e0";
$icon-framage-jeune: "\e2e1";
$icon-frigo-1: "\e2e2";
$icon-grain-de-cafe: "\e2e3";
$icon-fromage-tartinable: "\e2e4";
$icon-microondes: "\e2e5";
$icon-mixeur: "\e2e6";
$icon-machine-a-cafe: "\e2e7";
$icon-plat-vapeur: "\e2e8";
$icon-produit-belges: "\e2e9";
$icon-rape-fromage: "\e2ea";
$icon-rice-cooker: "\e2eb";
$icon-taque-electrique: "\e2ec";
$icon-toaster: "\e2ed";
$icon-anniversaire: "\e2ee";
$icon-gaufre-liege: "\e2ef";
$icon-anniversaire-1: "\e2f0";
$icon-gaufre-liege-1: "\e2f1";
$icon-galerie-commerciale-stand: "\e2f2";
$icon-basketsport1: "\e2f3";
$icon-basketsport2: "\e2f4";
$icon-carpet: "\e2f5";
$icon-carpet2: "\e2f6";
$icon-draps-de-lit: "\e2f7";
$icon-large-bag: "\e2f8";
$icon-mannequin: "\e2f9";
$icon-panier-osier: "\e2fa";
$icon-plaid: "\e2fb";
$icon-salopette: "\e2fc";
$icon-casque-equitation: "\e2fd";
$icon-corde-a-sauter: "\e2fe";
$icon-fer-a-cheval: "\e2ff";
$icon-nautique: "\e300";
$icon-palmes: "\e301";
$icon-patin-glace: "\e302";
$icon-patin-roulette: "\e303";
$icon-petanque: "\e304";
$icon-skateoard: "\e305";
$icon-sport-danse: "\e306";
$icon-sport-gym: "\e307";
$icon-sport-running: "\e308";
$icon-ribbon: "\e309";
$icon-fer-a-repasser: "\e30a";
$icon-nettoyeur-vapeur: "\e30b";
$icon-plumeau: "\e30c";
$icon-perruque: "\e30d";
$icon-deguisement: "\e30e";
$icon-fireworks: "\e30f";
$icon-modelisme-sculpture: "\e310";
$icon-party: "\e311";
$icon-party2: "\e312";
$icon-red-carpet: "\e313";
$icon-bringr: "\e314";
$icon-radar-car: "\e315";
$icon-segway: "\e316";
$icon-totinnette: "\e317";
$icon-cadre-photo: "\e318";
$icon-decoration: "\e319";
$icon-halloween: "\e31a";
$icon-sapin-noel: "\e31b";
$icon-actualiser-1: "\e31c";
$icon-cloud-download: "\e31d";
$icon-cloud-sync: "\e31e";
$icon-cloud-synced: "\e31f";
$icon-drag-and-drop: "\e320";
$icon-fragile: "\e321";
$icon-open-box: "\e322";
$icon-services-hand: "\e323";
$icon-yes-ok-validated: "\e324";
$icon-armoire: "\e325";
$icon-banc-exterieur: "\e326";
$icon-bassin-lavabo: "\e327";
$icon-bed-double: "\e328";
$icon-bed-double2: "\e329";
$icon-bed-pliable: "\e32a";
$icon-bed-single: "\e32b";
$icon-bed-single2: "\e32c";
$icon-bed-superpose: "\e32d";
$icon-boite-pharmacie: "\e32e";
$icon-boite-rangement: "\e32f";
$icon-camping: "\e330";
$icon-casier: "\e331";
$icon-pillow: "\e332";
$icon-parasol: "\e333";
$icon-moustique-abeille: "\e334";
$icon-marche-pieds: "\e335";
$icon-lustre: "\e336";
$icon-lounge-canape-exterieur: "\e337";
$icon-lampe-suspension: "\e338";
$icon-lampe-applique: "\e339";
$icon-lampadaire: "\e33a";
$icon-crochet: "\e33b";
$icon-commode: "\e33c";
$icon-chaise-pliable: "\e33d";
$icon-casiers: "\e33e";
$icon-piscine: "\e33f";
$icon-porte: "\e340";
$icon-pot-fleur: "\e341";
$icon-spray-bombe: "\e342";
$icon-spray-moustique: "\e343";
$icon-vase: "\e344";
$icon-vase-potterie: "\e345";
$icon-balancelle-bebe: "\e346";
$icon-balancoire: "\e347";
$icon-chaise-haute: "\e348";
$icon-doudou: "\e349";
$icon-epee: "\e34a";
$icon-figurine: "\e34b";
$icon-figurine2: "\e34c";
$icon-figurine3: "\e34d";
$icon-jeu-lego: "\e34e";
$icon-jeu-chateau: "\e34f";
$icon-jeu-poussette: "\e350";
$icon-jeu-voiture: "\e351";
$icon-lit-bascule: "\e352";
$icon-telequidee: "\e353";
$icon-robot2: "\e354";
$icon-robot1: "\e355";
$icon-quille: "\e356";
$icon-puzzle: "\e357";
$icon-poupee-russe: "\e358";
$icon-poupee2: "\e359";
$icon-poupee: "\e35a";
$icon-parc-bebe: "\e35b";
$icon-assiette: "\e35c";
$icon-cruche: "\e35d";
$icon-cruche2: "\e35e";
$icon-cruche-vin: "\e35f";
$icon-plateau: "\e360";
$icon-android: "\e361";
$icon-camera-surveillance: "\e362";
$icon-docking-station: "\e363";
$icon-home-cinema: "\e364";
$icon-jeu-ipad: "\e365";
$icon-jeu-video-3: "\e366";
$icon-radio: "\e367";
$icon-storage: "\e368";
$icon-tower-station: "\e369";
$icon-ours: "\e36a";
$icon-sanglier: "\e36b";