@import '_variables';
@import '_mixins';
@import '_reset';
@import '_icons';

/* components ....................................................................................................... */
@import '_base';
@import '../components/frame/frame';
@import '../components/lnkTyped/lnkTyped';
@import '../components/textblock/textblock';
@import '../components/article/article';
@import '../components/recipe/recipe';
@import '../components/campaign/campaign';
@import '../components/silo/silo';
@import '../components/chapter/chapter';
@import '../components/contentFree/contentFree';
@import '../components/contentBlock/contentBlock';
@import '../components/contentSlider/contentSlider';
@import '../components/contentGallery/contentGallery';
@import '../components/contentCTA/contentCTA';
@import '../components/inpCheckbox/inpCheckbox';
@import '../components/banner/banner';
@import '../components/slider/slider';
@import '../components/navAction/navAction';
@import '../components/navSocial/navSocial';
@import '../components/navBreadcrumb/navBreadcrumb';
@import '../components/navEnseigne/navEnseigne';
@import '../components/navMain/navMain';
@import '../components/navSkip/navSkip';
@import '../components/tags/tags';
@import '../components/teaserGrid/teaserGrid';
@import '../components/search/search';
@import '../components/pgHome/pgHome';
@import '../components/pgBrands/pgBrands';
@import '../components/pgRecipeOverview/pgRecipeOverview';
@import '../components/pg404/pg404';

// temp styling ........................................................................................................
body {padding-top:52px; }
.componentBuffer {height:100px; background:linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1), rgba(0,0,0,0));}

.nav.local {
	background:#000;

	ul {max-width:1024px; margin:0 auto; padding:12px 0; border-left:1px solid #fff;}
	ul li {display:inline-block;}
	ul li a {color:#fff; padding:12px 16px; text-decoration:none; border-right:1px solid #fff;}

	@media (max-width:1023px) {
		display:none;
	}
}

