.textblock {
	* {font-size:14px; color:#282828;}
	p {margin:15px 0px; line-height:1.35em;}
	p a:hover {text-decoration:none;}
	strong {font-weight:700;}

	@media (min-width:1024px) {
		* {font-size:16px;}
	}
}
