.siloItem {
	&.dView {
		> .wrap > article {
			> header {background:#fff;}
			> header .heading { padding:20px; font-size:26px; text-align:center; max-width:1024px; margin:0 auto; box-sizing:border-box; @include fontCarrefour(); font-weight:400; color:#005aa9;}

		}
		@media (min-width: 1024px) {
			> .wrap > article {
				> header .heading {padding-top:25px; padding-bottom:25px; font-size:48px;}
			}
		}
	}
}

