.nav.breadcrumb {
	max-width:1024px; margin:0 auto; height:25px; margin-bottom:-26px; position:relative; z-index:3; margin-top:1px;

	> ul {overflow:hidden; height:25px;}
	> ul > li {float:left;}
	> ul > li.home a {display:block; width:0; padding:0; padding-left:30px; overflow:hidden; position:relative;}
	> ul > li.home a:before {@include icon($icon-home); position:absolute; left:0; right:0; text-align:center; top:6px; font-size:12px;}
	> ul > li > a,
	> ul > li > span {height:25px; line-height:25px; text-decoration:none; display:block; padding:0 12px; font-size:12px; margin-right:1px; background:rgba(255,255,255,0.8); white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	> ul > li > a {color:#6d89a2;}
	> ul > li:last-child.jOverflow {
		float:none; margin-left:30px;
		a {width:100%; text-overflow:ellipsis;}
	}
	.flyout {display:none;}
	&.jHasFlyout {
		> ul > li.home {margin-right:31px;}
		.flyout {position:absolute; left:31px; top:0; width:30px; display:block;}
		.flyout .handle {display:block; height:25px; line-height:25px; text-decoration:none; display:block; padding:0 12px; font-size:12px; color:#6d89a2; background:rgba(255, 255, 255, 0.8); cursor:pointer;}
		.flyout ul {position:absolute; left:0; top:100%; display:none; background:#fff;}
		.flyout ul li {border-top:1px solid #eeeeee;}
		.flyout ul li a,
		.flyout ul li span {display:block; padding:5px 12px; margin-bottom:1px; text-decoration:none; font-size:12px; color:#6d89a2; white-space:nowrap; text-overflow:ellipsis;}
		.flyout.jShow ul {display:block;}
		> ul > li:last-child.jOverflow {margin-left:62px;}
	}

	@media (min-width:1024px) {
		> ul > li:first-child {border-bottom-left-radius:8px; overflow:hidden;}
	}
}