.lnk {
	&.lnkMore {
		a {background:$grey; color:#fff; display:inline-block; border-radius:4px; padding:12px 18px; text-decoration:none; font-size:12px; font-weight:700; line-height:1.25em;}
		a:after {@include icon($icon-arrow-right); padding-left:4px; font-size:55%;}
	}

	&.lnkSimple {
		a {display:inline-block; font-size:14px; line-height:1.25em;}
		a:after {@include icon($icon-arrow-right); padding-left:4px; font-size:55%; position:absolute; right:-10px; top:6px; }
		a:hover {text-decoration:none;}
	}
}


