<nav class="cfrtopbar">
  <style>
    .cfrtopbar,
    .cfrtopbar .cfrtopbar--nav .open > a,
    .cfrtopbar .cfrtopbar--nav .open > a:hover,
    .cfrtopbar .cfrtopbar--nav .open > a:focus { background-color: {{ color3 }}; border-color: {{ color3 }}; }
    .cfrtopbar .cfrtopbar--nav .open .cfrtopbar--menu > li a.cfrtopbar--link { background-color: {{ color3 }}; }
    .cfrtopbar .cfrtopbar--nav .open .cfrtopbar--menu > li a.cfrtopbar--link:hover { background-color: {{ color3 }}; }
    .cfrtopbar .cfrtopbar--menuwrap-user-menu .cfrtopbar--button { background-color: {{ color3 }}; }
    .cfrtopbar .cfrtopbar--menuwrap-user-menu .cfrtopbar--button:focus,
    .cfrtopbar .cfrtopbar--menuwrap-user-menu .cfrtopbar--button:hover { background-color: {{ color2 }}; }
    .cfrtopbar--wrap > div > .cfrtopbar--nav > li.open > a,
    .cfrtopbar--wrap > div > .cfrtopbar--nav > li.open > a:hover,
    .cfrtopbar--wrap > div > .cfrtopbar--nav > li.open > a:focus,
    .cfrtopbar--wrap > div > .cfrtopbar--nav > li > a:hover,
    .cfrtopbar--wrap > div > .cfrtopbar--nav > li > a:focus
    {
      background-color: {{ buColor }};
      font-weight: 600;
    }
    .cfrtopbar .cfrtopbar--nav .open .cfrtopbar--menu > li > ul > li a.cfrtopbar--link:hover {
      color: {{ color2 }};
    }
    .cfrtopbar .cfrtopbar--nav .open .cfrtopbar--menu > li:first-child > ul > li a.cfrtopbar--link:hover {
      color: {{ buColor }};
    }
    .cfrtopbar .cfrtopbar--nav .cfrtopbar--menu {
      border-color: {{ color3 }};
    }
    .cfrtopbar--menu > li > a {
      background-color: {{ color3 }};
    }
    [language=nl] .cfrtopbar-languageswitcher .cfrtopbar--nav .open .cfrtopbar--menu>li a:hover,
    [language=nl] .cfrtopbar-languageswitcher .cfrtopbar--nav .open .cfrtopbar--menu>li a.cfrtopbar-lang-nl,
    [language=fr] .cfrtopbar-languageswitcher .cfrtopbar--nav .open .cfrtopbar--menu>li a.cfrtopbar-lang-fr {
      background-color: {{ buColor }};
    }
    @media (min-width: 768px) {
      .cfrtopbar .cfrtopbar--menuwrap-user-menu .open .cfrtopbar--menu > li a.cfrtopbar--link,
      .cfrtopbar .cfrtopbar--menuwrap-user-menu .open .cfrtopbar--menu > li a.cfrtopbar--link:hover,
      .cfrtopbar .cfrtopbar--menuwrap-user-menu .open .cfrtopbar--menu > li a.cfrtopbar--link:focus {
        background: {{ color3 }};
      }
    }
  </style>
  <div class="cfrbars--container cfrtopbar--wrap clearfix">

    <cfrtopbar-languageswitcher></cfrtopbar-languageswitcher>

    <div class="cfrtopbar--menuwrap" ng-repeat="(key, menu) in menus" ng-class="'cfrtopbar--menuwrap-' + key">
      <ul class="cfrtopbar--nav"><li click-out="disableActive(menu)" ng-class="{open: menu.active}">
        <a ng-click="toggleActive($event, menu)" href="{{menu.link || '#'}}" class="cfrtopbar--link">{{menu.label}} <span ng-show="menu.label_prefix" class="cfrtopbar--label-prefix">({{ menu.label_prefix }})</span><span ng-class="{'cf-caret': !!menu.tree}"></span></a>
        <cfrtopbarmenu menu="menu.tree" logout="menu.logout"></cfrtopbarMenu>
      </li>
    </ul>
    </div>

    <cfrtopbarlogin ng-if="!user"></cfrtopbarlogin>

  </div>
</nav>
