{% extends "generic/hcpLabelValue.twig" %}


{# DESCRIPTION #

Render a custom sectioning element
--------------------------------------------------------------------------------------------------------------------- #}


{# SET VARIABLES #}
{% set component = 'cntLabelValue' %}
{% set class = data.class %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block label %}{{ data.content.label }}{% endblock %}
{% block value %}{{ data.content.value }}{% endblock %}
{% block extraLabel %}{% endblock %}
{% block extraValue %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* data.class:								provide a base class for the component
Optional:
	* data.id:									add an id to the root
Blocks:
	* label: 									label
	* value:									value
	* extraLabel:								extra content in label container
	* extraValue:								extra content in value container
----------------------------------------------------------------------------------------------------------------------#}
