{# DESCRIPTION #

Quote component
--------------------------------------------------------------------------------------------------------------------- #}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined %}
		<div class="quote">
			<blockquote>
				<p>{{ data.content.quote }}</p>
			</blockquote>
			{% if data.author or data.date %}
				<div class="meta">
					{% if data.author %}
						{% embed 'components/cmpLabelValue' with {'data':{'content':data.content.author, 'class':'author'}}%}
						{% endembed %}
					{% endif %}
					{% if data.date %}
						{% embed 'components/cmpLabelValue' with {'data':{'content':data.content.date, 'class':'date'}}%}
						{% endembed %}
					{% endif %}
				</div>
			{% endif %}
		</div>
	{% else %}
		{% if data.content is not defined %}<div class="twigError"><p><strong>frmGroup</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* content:									content object
Optional:
	* author:									render author
	* date:										render date
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"quote":string,
	"author":-> cntLabelValue,
	"date":-> cntLabelValue
}
----------------------------------------------------------------------------------------------------------------------#}
