{# DESCRIPTION #

Search form component
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% set action = (data.action is not defined ? '#' : data.action) %}
{% set method = (data.method is not defined ? 'post' : data.method) %}

{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined and data.id is defined %}
	<section class="search {{ data.variant }}" role="search">
		<form id="searchForm" action="{{ data.action }}" method="{{ data.method }}" target="{{ data.target }}">
			<div class="inputWrap">
				<label for="{{ data.id }}">{{ data.content.label }}</label>
				<input type="search" id="{{ data.id }}" name="{{ data.id }}"{% if data.content.placeholder %} title="{{ data.content.placeholder }}" placeholder="{{ data.content.placeholder }}"{% endif %} />
			</div>
			{% block extra %}{% endblock %}
			{% include 'generic/frmSubmit' with {'data':{'content': data.content.submit, 'id':'frmSubmitSearch'}} %}
		</form>
	</section>
{% else %}
	{% if data.id is not defined %}<div class="twigError"><p><strong>cmpSearch</strong> requires <span class="param">id</span> param</p></div>{% endif %}
	{% if data.content is not defined %}<div class="twigError"><p><strong>cmpSearch</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* data.id:									set id and prop in search input field
	* data.content:								content object
Optional:
	* data.action:								set action parameter on form (default is # when no value is set)
	* data.method:								set method parameter on form (default is post when no value is set)
	* data.variant:								extra class on root of the component
	* data.placeholder:							set placeholder for search input field
Blocks
	* extra:									extra content between input and submit
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"label":string,
	"placeholder":string,
	"submit":-> frmSubmit
}
----------------------------------------------------------------------------------------------------------------------#}
