{# DESCRIPTION #

Render logo / tagline
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% if data.heading is not defined %}	{% set baseElement = 'div' %}	{% else %}	{% set baseElement = 'h1' %}	{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined %}
		<{{ baseElement }} class="siteLabel">
			{% include 'components/cntImage' with {'data':{'content':content.logo, 'linked':linked}} %}
			<div class="tagline">{{ data.content.tagline }}</div>

			{% block extra %}{% endblock %}
		</{{ baseElement }}>
	{% else %}
		{% if data.content is not defined %}<div class="twigError"><p><strong>cmpSiteLabel</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* content:									content object
Optional:
	* linked:									contains link url, links the logo, not the tagline
	* heading: 									render the siteLabel as a heading (h1), if not set or false, siteLabel is rendered as a simple div.
Blocks:
	*extra:										render extra elements in sitelabel
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"logo":-> cntImage,
	"tagline":string
}
----------------------------------------------------------------------------------------------------------------------#}
