
{# DESCRIPTION #

Render a heading. h1-h6 supported, to in reality only h1 & h2 should be used.
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% set level = (data.level is not defined) ? '1' : data.level %}

{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined %}
		<h{{ level }} class="heading">
			{% if data.linked %}<a href="{{ data.linked }}">{% endif %}
				{{ data.content.text|raw }}

				{% block extra %}{% endblock %}
			{% if data.linked %}</a>{% endif %}
		</h{{ level }}>
	{% else %}
		{% if data.content is not defined %}<div class="twigError"><p><strong>cntHeading</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* content:									content object
Optional:
	* level:									determines level of the heading, can be 1-6, if not defined default level = 1
	* linked:									contains link url
Blocks:
	* extra										add extra content, displayed after regular content
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"text":string
}
----------------------------------------------------------------------------------------------------------------------#}
