{% import "macros/global.twig" as macro %}

{# DESCRIPTION #

Render an image.
--------------------------------------------------------------------------------------------------------------------- #}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined %}
		<div class="image {{ data.variant }}">
			{% if data.linked %}<a href="{{ data.linked }}" {{ macro.printAttr('title', data.content.title) }} {{ macro.printAttr('rel', data.rel) }} {% if data.lightbox %}class="fancybox"{% endif %}>{% endif %}
				<picture>
                    {% if data.breakpoints is defined %}
                        {% for breakpoint in data.breakpoints %}
                            <source media="(max-width:{{ breakpoint.max }}px)" srcset="{{ breakpoint.src }}" />
                        {% endfor %}
                        <source srcset="{{ data.content.src }}" />
                    {% endif %}
					<img src="{{ data.content.src }}" alt="{{ data.content.alt }}" />
				</picture>
				{% if data.caption %}<div class="caption">{{ data.content.caption }}</div>{% endif %}
				{% if data.copyright %}<div class="copyright">{{ data.content.copyright }}</div>{% endif %}
			{% if data.linked %}</a>{% endif %}
		</div>
	{% else %}
		{% if data.content is not defined %}<div class="twigError"><p><strong>cntImage</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* content:									content object
Optional:
	* linked:									contains link url, links entire component, not just img tag
	* variant:									add extra classes to root
	* caption:									show image caption
	* copyright:								show image copyright
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"src":url,
	"alt":string,
	"title":string,
	"caption":string,
	"copyright":string
}
----------------------------------------------------------------------------------------------------------------------#}


{# TODOS #

	* add support for figure tag
--------------------------------------------------------------------------------------------------------------------- #}
