{# DESCRIPTION #

Render a text section (one or more paragraphs, content lists and/or other simple content components belonging together).
--------------------------------------------------------------------------------------------------------------------- #}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined %}
		<div class="textblock {{ data.variant }}">
			{% if data.heading %}{% include 'components/cntHeading.twig' with {'level':'2', 'content':content.data.heading} %}{% endif %}

            {% if data.pWrapped %}<p>{% endif %}
			{{ data.content.body|raw }}
            {% if data.pWrapped %}</p>{% endif %}

			{% block extra %}{% endblock %}
		</div>
	{% else %}
		{% if data.content is not defined %}<div class="twigError"><p><strong>cntTextblock</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* content:									content object
Optional:
	* variant:									add extra classes to root
	* heading:									show heading (-> cntHeading)
Blocks:
	* extra										add extra content, displayed after regular content
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"heading":-> cntHeading,
	"body":html
}
----------------------------------------------------------------------------------------------------------------------#}
