{% import "macros/global.twig" as macro %}

{# DESCRIPTION #

Render a form container
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% if data.method is not defined %}			{% set method = 'GET' %}				{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.class is defined and data.id is defined and data.action is defined %}
		<section class="frmBox frm{{ data.class|capitalize }}" {{ macro.printAttr('pattern', data.pattern) }}>
			{% set bHeader = block('header') %}
			{% if bHeader is not empty %}
				<header>
					{{ bHeader|raw }}
				</header>
			{% endif %}

			<form method="{{ method }}" action="{{ data.action }}" id="frm{{ data.id }}">
				{% set bMain = block('main') %}
				{% if bMain is not empty %}
					<div class="main">
						{{ bMain|raw }}
					</div>
				{% endif %}

				<footer>
					{% block footer %}{% endblock %}
					<div class="actions">
						<div class="advance">
							{% block advance %}{% endblock %}
						</div>
						{% set bAbort = block('abort') %}
						{% if bAbort is not empty %}
							<div class="abort">
								{{ bAbort|raw }}
							</div>
						{% endif %}
					</div>
				</footer>
			</form>
		</section>
	{% else %}
		{% if id is not defined %}<div class="twigError"><p><strong>frmBox</strong> requires <span class="param">id</span> param</p></div>{% endif %}
		{% if class is not defined %}<div class="twigError"><p><strong>frmBox</strong> requires <span class="param">class</span> param</p></div>{% endif %}
		{% if action is not defined %}<div class="twigError"><p><strong>frmBox</strong> requires <span class="param">action</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* id:										add an id to the root
	* class:									provide a base class for the component
	* action:									url where form is posted to
Optional:
	* pattern:									add a data-pattern to the root (used for adding functional - JS - patterns)
	* method:									form submit method, should be POST or GET, when not defined method = GET
----------------------------------------------------------------------------------------------------------------------#}
