{% import "macros/global.twig" as macro %}

{# DESCRIPTION #

Fieldset component
--------------------------------------------------------------------------------------------------------------------- #}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined %}
	<fieldset {{ macro.printAttr('id', data.id) }} {{ macro.printAttr('class', data.class) }} {{ macro.printAttr('data-pattern', data.pattern) }}>
		<legend><span>{{ data.content.legend }}</span></legend>
		<div class="fgContent">
			{% block content %}{% endblock %}
		</div>
	</fieldset>
{% else %}
	{% if data.content is not defined %}<div class="twigError"><p><strong>frmGroup</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* content:									content object
Optional:
	* data.id:									set id (and name if applicable) prop for JS and/or back-end
	* data.class:								add extra classes to root
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"legend":string
}
----------------------------------------------------------------------------------------------------------------------#}
