{% extends "generic/hcpRow.twig" %}


{# DESCRIPTION #

Render a form row
--------------------------------------------------------------------------------------------------------------------- #}


{# SET VARIABLES #}
{% set component = 'form' %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block main %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Optional:
	* id:										set id (and name if applicable) prop for JS and/or back-end
	* variant:									add extra classes to root
----------------------------------------------------------------------------------------------------------------------#}

