{# DESCRIPTION #

Render a submit button. To be used within a form.
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% if data.type is not defined %}	{% set type = 'button' %}	{% else %}	{% set type = data.type %}	{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.id is defined and data.content is defined %}
		<div class="submit{{ ' ' . data.variant }}">
			{% if type == 'button' %}
					<button type="submit" id="{{ data.id }}">{{ data.content.label }}</button>
				{% else %}
					<input type="submit" id="{{ data.id }}" name="{{ data.id }}" value="{{ data.content.label }}" />
			{% endif %}
		</div>
	{% else %}
		{% if data.id is not defined %}<div class="twigError"><p><strong>frmSubmit</strong> requires <span class="param">id</span> param</p></div>{% endif %}
		{% if data.content is not defined %}<div class="twigError"><p><strong>frmSubmit</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* id:										set id (and name if applicable) prop for JS and/or back-end
	* content:									content object
Optional:
	* type: 									render <button> or <input>, if no value is set <button> is used
	* variant:									add extra classes to root
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"label":string
}
----------------------------------------------------------------------------------------------------------------------#}
