{% import "macros/global.twig" as macro %}

{# DESCRIPTION #

Helper component that renders the basic structure of a sectioned element. Extend for cmpList, cmpFocus, cmpContainer, ....
--------------------------------------------------------------------------------------------------------------------- #}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if class is defined and component is defined %}
		<section class="{{ class }}" {{ macro.printAttr('id', data.id) }} {{ macros.printAttr('pattern', data.pattern) }}{% if data.dataAttrs|length %} {{ macro.printDataAttrs(data.dataAttrs) }}{% endif %}>
			{% set bHeader = block('header')|trim %}
			{% if bHeader is not empty %}
				<header>
					{{ bHeader|raw }}
				</header>
			{% endif %}

			{% set bMain = block('main')|trim %}
			{% if bMain is not empty %}
				<div class="main {{ mainClass }}">
					{{ bMain|raw }}
				</div>
			{% endif %}

			{% set bFooter = block('footer')|trim %}
			{% if bFooter is not empty %}
				<footer>
					{{ bFooter|raw }}
				</footer>
			{% endif %}
		</section>
	{% else %}
		{% if class is not defined %}<div class="twigError"><p><strong>{{ component }}</strong> requires <span class="param">class</span> param</p></div>{% endif %}
		{% if component is not defined %}<div class="twigError"><p><strong>hcpContainer</strong> requires <span class="param">component</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* class:									provide a base class for the component
	* component:								name of the component that extends from this one
Optional:
	* id:										add an id to the root
	* pattern:									add a data-pattern to the root (used for adding functional - JS - patterns)
Blocks:
	* header:									header content
	* main:										main content
	* footer:									footer content
----------------------------------------------------------------------------------------------------------------------#}


{# TODOS #

	* check need for linked containers
--------------------------------------------------------------------------------------------------------------------- #}

