{# DESCRIPTION #

Helper component that renders the basic structure of a label/value structure. Extend for cmpLabelValue and input elements
--------------------------------------------------------------------------------------------------------------------- #}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if class is defined and component is defined %}
	<div class="spec {{ class }}" {{ macro.printAttr('id', data.id) }}{% if data.dataAttrs|length %} {{ macro.printDataAttrs(data.dataAttrs) }}{% endif %}>
		{% set bLabel = block('label') %}
		{% if bLabel is not empty %}
			<div class="label">
				{{ bLabel|raw }}
				{% block extraLabel %}{% endblock %}
			</div>
		{% endif %}

		{% set bValue = block('value') %}
		{% if bValue is not empty %}
			<div class="value">
				{{ bValue|raw }}
				{% block extraValue %}{% endblock %}
			</div>
		{% endif %}
	</div>
{% else %}
	{% if class is not defined %}<div class="twigError"><p><strong>{{ component }}</strong> requires <span class="param">class</span> param</p></div>{% endif %}
	{% if component is not defined %}<div class="twigError"><p><strong>hcpLabelValue</strong> requires <span class="param">component</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* class:									provide a base class for the component
	* component:								name of the component that extends from this one
	* content:									content object
Optional:
	* id:										add an id to the root
Blocks:
	* label:									label content
	* value:									value content
	* extraLabel:								extra content in label container
	* extraValue:								extra content in value container
----------------------------------------------------------------------------------------------------------------------#}
