{# SET DEFAULT VALUES FOR VARIABLES #}
{% if nodeLinked is not defined %}				{% set nodeLinked = true %}					{% endif %}
{% if columnized is not defined %}				{% set columnized = false %}				{% endif %}
{% if containerClass is not defined %}			{% set containerClass = '' %}				{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
<div class='ctItem {{ containerClass }}' id="{{ moduleType }}-{{ cId }}">
	{% set bSchema = block('schema')|trim %}
	{% if bSchema is not empty %}
		<script type="application/ld+json">
			{{ bSchema|raw }}
		</script>
	{% endif %}
	<div class="wrap">
		{% set bPreArticle = block('preArticle')|trim %}
		{% if bPreArticle is not empty %}
			<div class="header">
				{{ bPreArticle|raw }}
			</div>
		{% endif %}

		<article>
			{% if nodeLinked %}<a href="{{ cURL }}">{% endif %}
			{% if columnized %}<div class="wrap1">{% endif %}
				<header>
					{% block header %}
						<h1>[Title]</h1>
					{% endblock %}
				</header>

				{% set bFigure = block('figure')|trim %}
				{% if bFigure is not empty %}
					<figure>
						{{ bFigure|raw }}
					</figure>
				{% endif %}

				{% set bMain = block('main')|trim %}
				{% if bMain is not empty %}
					<div class="main">
						{{ bMain|raw }}
					</div>
				{% endif %}
			{% if columnized %}</div>{% endif %}
			{% if columnized %}<div class="wrap2">{% endif %}
				{% set bFooter = block('footer')|trim %}
				{% if bFooter is not empty %}
					<footer>
						{{ bFooter|raw }}
					</footer>
				{% endif %}

				{% set bAside = block('aside')|trim %}
				{% if bAside is not empty %}
					<aside>
						{{ bAside|raw }}
					</aside>
				{% endif %}

			{% if columnized %}</div>{% endif %}
			{% if nodeLinked %}</a>{% endif %}
		</article>

		{% set bPostArticle = block('postArticle')|trim %}
		{% if bPostArticle is not empty %}
			<div class="footer">
				{{ bPostArticle|raw }}
			</div>
		{% endif %}
	</div>
</div>
