{% import "macros/global.twig" as macro %}

{# DESCRIPTION #

Render a wrapper that groups multiple components
--------------------------------------------------------------------------------------------------------------------- #}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if component is defined %}
		<div class="{{ component }}Row {{ data.variant }}" {{ macro.printAttr('id', data.id) }}>
			{% block main %}{% endblock %}
		</div>
	{% else %}
		{% if component is not defined %}<div class="twigError"><p><strong>hcpRow</strong> requires <span class="param">component</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* component:								name of the component that extends from this one
Optional:
	* data.id:									set id (and name if applicable) prop for JS and/or back-end
	* data.variant:								add extra classes to root
----------------------------------------------------------------------------------------------------------------------#}
