{% extends "generic/hcpLabelValue.twig" %}


{# DESCRIPTION #

Render a custom sectioning element
--------------------------------------------------------------------------------------------------------------------- #}


{# SET VARIABLES #}
{% set component = 'inpList' %}
{% set class= 'inp' ~ data.type|capitalize %}
{% if data.variant %}{% set class = class ~ ' ' ~ data.variant %}{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block label %}{{ data.content.listLabel }}{% endblock %}
{% block value %}
	{% for option in data.content.options %}
		<div class="control {{ option.class }}">
			<label for="{{ data.inpId }}-{{ loop.index }}">{{ option.label }}</label>
			<input type="{{ data.type }}" id="{{ data.inpId }}-{{ loop.index }}" name="{{ data.inpId }}" value="{{ option.value }}" autocomplete="off" {% if option.disabled %}disabled="disabled"{% endif %} />
		</div>
	{% endfor %}
{% endblock %}
{% block extraLabel %}{% endblock %}
{% block extraValue %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* inpId:									add an id to the root
Optional:
	* rowLabel:									render rowLabel section, when not defined rowLabel = false
	* label:									render label section, when not defined label = true
	* id:										add id to the root
	* variant:									add classes to the root
Blocks:
	* extraLabel:								extra content in label container
	* extraValue:								extra content in value container
----------------------------------------------------------------------------------------------------------------------#}
