{% extends "components/hcpLabelValue.twig" %}


{# DESCRIPTION #

Render a custom sectioning element
--------------------------------------------------------------------------------------------------------------------- #}


{# SET VARIABLES #}
{% set component = 'structured' %}
{% set class= 'structured' %}
{% if variant %}{% set class = class ~ ' ' ~ variant %}{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block label %}{{ content.label }}{% endblock %}
{% block value %}{% endblock %}
{% block extraLabel %}{% endblock %}
{% block extraValue %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Optional:
	* label:									render label section, when not defined label = true
	* id:										add id to the root
	* variant:									add classes to the root
Blocks:
	* label:									label content
	* value:									value content
	* extraLabel:								extra content in label container
	* extraValue:								extra content in value container
----------------------------------------------------------------------------------------------------------------------#}
