{% extends "generic/hcpLabelValue.twig" %}


{# DESCRIPTION #

Render a custom sectioning element
--------------------------------------------------------------------------------------------------------------------- #}


{# SET VARIABLES #}
{% set component = 'inpText' %}
{% set class= 'inpText' %}
{% if data.variant %}{% set class = class ~ ' ' ~ data.variant %}{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block label %}<label for="{{ data.inpId }}">{{ data.content.label }}</label>{% endblock %}
{% block value %}<input type="text" id="{{ data.inpId }}" {{ macro.printAttr('placeholder', data.content.placeholder) }}/>{% endblock %}
{% block extraLabel %}{% endblock %}
{% block extraValue %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* inpId:									add an id to the root
Optional:
	* rowLabel:									render rowLabel section, when not defined rowLabel = false
	* label:									render label section, when not defined label = true
	* id:										add id to the root
	* variant:									add classes to the root
Blocks:
	* extraLabel:								extra content in label container
	* extraValue:								extra content in value container
----------------------------------------------------------------------------------------------------------------------#}
