{# DESCRIPTION #

Render a typed link
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% if type is not defined %}					{% set type = 'lnk' %}						{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined and data.url is defined and data.variant is defined%}
		<div class="lnk {{ type ~ data.variant|capitalize }}">
			<a href="{{ data.url }}"{% if data.title %} title="{{ data.content.title }}"{% endif %}{% if data.target != '' %} target="{{ data.target }}"{% endif %}>{{ data.content.label }}</a>
		</div>
	{% else %}
		{% if data.content is not defined %}<div class="twigError"><p><strong>lnkTyped</strong> requires <span class="param">content</span> param</p></div>{% endif %}
		{% if data.url is not defined %}<div class="twigError"><p><strong>lnkTyped</strong> requires <span class="param">url</span> param</p></div>{% endif %}
		{% if data.variant is not defined %}<div class="twigError"><p><strong>lnkTyped</strong> requires <span class="param">variant</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* content:									content object
	* url:										url of the link
	* variant:									add extra classes to root
Optional:
	* type:										type of link, can be lnk or cta, if not set default type = lnk
	* title:									render title attribute on link
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"label":string,
	"title":string
}
----------------------------------------------------------------------------------------------------------------------#}


{# TODOS #

	* check if pre/post blocks are needed for custom content.
--------------------------------------------------------------------------------------------------------------------- #}
