{% extends "components/hcpModule.twig" %}


{# DEFAULT VALUES FOR VARIABLES #}
{% set containerClass = 'newsItem ' ~ view ~ ' ' ~ variant %}
{# disable all optional elements - necessary for nesting  #}
{% set nodeLinked = false %}		{% set image = false %}			{% set abstract = false %}
{% set intro = false %}				{% set mainText = false %}


{# SET VIEWS #}
{% if view == 'tView' %}
	{% set nodeLinked = true %}
{% endif %}

{% if view == 'aView' %}
	{% set abstract = true %}
	{% set nodeLinked = true %}
{% endif %}

{% if view == 'vView' %}
	{% set image = true %}
	{% set nodeLinked = true %}
{% endif %}

{% if view == 'vaView' %}
	{% set abstract = true %}
	{% set image = true %}
	{% set nodeLinked = true %}
{% endif %}

{% if view == 'dView' %}
	{% set intro = true %}
	{% set mainText = true %}
{% endif %}


{# SET VARIABLES  #}



{# HEADER BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block header %}
	{% include 'components/cntHeading' with {'content':content.heading} %}
	<div class="meta">
		{% include 'components/cmpLabelValue' with {'content':content.author, 'class':'author'} %}
		{% include 'components/cmpLabelValue' with {'content':content.date, 'class':'date'} %}
	</div>
{% endblock %}


{# FIGURE BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block figure %}
	{% if image %}{% include 'components/cntImage' with {'content':content.image} %}{% endif %}
{% endblock %}


{# MAIN BLOCK ------------------------------------------------------------------------------------------------------- #}
{% block main %}
	{% if abstract %}{% include 'components/cntTextblock' with {'content':content.abstract,'variant':'abstract'} %}{% endif %}
	{% if intro %}{% include 'components/cntTextblock' with {'content':content.intro,'variant':'intro'} %}{% endif %}
	{% if mainText %}
		<section class="wysiwyg">
			{% include 'components/cntTextblock' with {'content':content.body} %}
		</section>
	{% endif %}
{% endblock %}

{# ASIDE BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block aside %}
{% endblock %}




{# CONTENT MODEL #

"":{
	"heading":-> cntHeading,
	"abstract":-> cntTextblock,
	"image":-> cntImage,
	"author":-> cmpLabelValue,
	"date":-> cmpLabelValue,
	"body":-> cntTextblock
}
----------------------------------------------------------------------------------------------------------------------#}
