{% import "macros/global.twig" as macro %}

{# DESCRIPTION #

Render a list of links
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% set navElement = (data.navElement is not defined) ? 'div' : 'nav' %}

{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% if data.content is defined and data.class is defined %}
	{% if navType != 'recursive' %}
		<{{ navElement }} class="nav {{ data.class }} {{ data.variant }}" {{ macro.printAttr('pattern', data.pattern) }}>
	{% endif %}
		{% if data.content.heading %}{% include 'generic/cntHeading' with {'data':{'content':data.content.heading, 'level':'2'}} %}{% endif %}
		<ul>
			{% for navItem in data.content.items %}
				{% set subClass = (navItem.sub != '') ? 'hasSub':'' %}
				<li {{ macro.printAttr('class', navItem.class ~ ' ' ~ subClass) }} {{ macro.printAttr('data-id', navItem.id) }}>
					<a href="{{ navItem.url }}" title="{{ navItem.title }}">{{ navItem.label }}</a>
					{% if navItem.sub != '' %}
						{# include 'generic/navBasic' with {'content':navItem.sub, 'navType':'recursive', 'heading':false, 'class':'sub'} #}
					{% endif %}
				</li>
			{% endfor %}
		</ul>

	{% if navType != 'recursive' %}
		</{{ navElement }}>
	{% endif %}
{% else %}
	{% if data.class is not defined %}<div class="twigError"><p><strong>navBasic</strong> requires <span class="param">class</span> param</p></div>{% endif %}
	{% if data.content is not defined %}<div class="twigError"><p><strong>navBasic</strong> requires <span class="param">content</span> param</p></div>{% endif %}
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* class:									provide a base class for the component
	* content:									content object
Optional:
	* navElement:								set component source tag (div or nav), default is div when not defined
	* variant:									extra class on root of the component
	* pattern:									add a data-pattern to the root (used for adding functional - JS - patterns)
	* heading:									print navigation heading
----------------------------------------------------------------------------------------------------------------------#}


{# CONTENT MODEL #

"":{
	"heading":-> cntHeading,
	"items":[
		{
			"label":string,
			"url":url,
			"title":string,
			"class":string,
			"sub":-> this.items
		}
	]
}
----------------------------------------------------------------------------------------------------------------------#}
