{% extends "generic/hcpContainer.twig" %}


{# DESCRIPTION #

Render a custom sectioning element
--------------------------------------------------------------------------------------------------------------------- #}


{# SET VARIABLES #}
{% set component = 'sctContainer' %}
{% set class = data.class %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block header %}{% endblock %}
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Required:
	* class:									provide a base class for the component
Optional:
	* id:										add an id to the root
	* pattern:									add a data-pattern to the root (used for adding functional - JS - patterns)
----------------------------------------------------------------------------------------------------------------------#}
