{% extends "generic/hcpContainer.twig" %}


{# DESCRIPTION #

Render a custom sectioning element
--------------------------------------------------------------------------------------------------------------------- #}


{# SET DEFAULT VALUES FOR VARIABLES #}
{% set variant = (data.variant is not defined) ? 'info' : data.variant %}

{# SET VARIABLES #}
{% set component = 'sctNotification' %}
{% if variant %}{% set class= 'notification' ~ ' ' ~ variant %}{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block header %}{% endblock %}
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Optional:
	* id:										add an id to the root
	* variant:									add class to the root (choose from info/warning/error/confirm)
	* pattern:									add a data-pattern to the root (used for adding functional - JS - patterns)
----------------------------------------------------------------------------------------------------------------------#}
