{% extends "generic/hcpContainer.twig" %}


{# DESCRIPTION #

Render a custom sectioning element
--------------------------------------------------------------------------------------------------------------------- #}


{# SET VARIABLES #}
{% set component = 'sctContainer' %}
{% set class= 'focus' %}
{% if data.variant %}{% set class = class ~ ' ' ~ data.variant %}{% endif %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block header %}{% endblock %}
{% block main %}{% endblock %}
{% block footer %}{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}


{# VARIABLES #

Optional:
	* id:										add an id to the root
	* variant:									add classes to the root
	* pattern:									add a data-pattern to the root (used for adding functional - JS - patterns)
----------------------------------------------------------------------------------------------------------------------#}
