.nav.main {

	> ul > li.hasSub > a:after {@include icon($icon-arrow-down); margin-left:6px; font-size:9px; color:#fff;}
	> ul ul li a:before {vertical-align:top; margin-right:9px; font-size:20px;}
	> ul > li.jShow > a:after {content:$icon-arrow-up;}

	@media (max-width:767px) {
		margin:15px; @include fontCarrefour;

		> ul > li {position:relative; margin-bottom:8px;}
		> ul > li a {text-decoration:none; color:#fff; display:block;}
		> ul > li > a {background:#0d74bb; border-radius:10px; text-transform:uppercase; padding:12px 16px; padding-right:40px;}
		> ul ul {@include hide;}
		> ul ul li a {padding:16px; padding-left:28px;}
		> ul ul li + li {border-top:1px solid #0d74bb;}

		// open state
		> ul > li.jShow > a {background:#198ecd;}
		> ul > li.jShow ul {@include unhide;}

	}
	@media (min-width:768px) {
		position:relative;
		&:before {content:""; display:block; position:absolute; left:-999em; right:-999em; height:1px; background:#dfdfdf;}
		> ul {overflow:hidden; max-width:1024px; margin:0 auto; display:flex; flex-direction:row;}
		> ul > li {flex-grow:1;}
		> ul > li .toggle {@include hide;}
		> ul > li > a {@include fontCarrefour; font-size:16px; display:block; padding:16px 0; text-align:center; text-decoration:none; color:#282828; position:relative;}
		> ul > li + li > a:before {content:""; position:absolute; left:0; top:14px; bottom:14px; width:1px; background:#dfdfdf;}
		> ul > li:hover {background:rgba(0,89,169, 0.9);}
		> ul > li.jShow {background:#0059A9;}
		> ul > li:hover > a, > ul > li.jShow > a {color:#fff;}
		> ul > li:hover > a:before, > ul > li.jShow > a:before, > ul > li.active > a:before {display:none;}
		> ul > li.active a, > ul > li.mainHome.active a {background:#0059A9; color:#fff; margin-top:1px;}
		// variations
		> ul > li.mainHome > a {text-indent:-999em; position:relative; color:#777; padding-left:8px; padding-right:8px;}
		> ul > li.mainHome > a:hover {color:#fff;}
		> ul > li.mainHome > a:after {@include icon($icon-home); text-indent:0; position:absolute; left:50%; margin-left:-8px; }
		> ul > li.hasSub > a:after {color:#005aa9;}
		> ul > li.hasSub.jShow > a:after, > ul > li.hasSub:hover > a:after, > ul > li.hasSub.active > a:after  {color:#fff;}

		// part: flyout nav
		> ul ul {@include hide; padding:0 12px;}
		> ul > li.hasSub.jShow ul {height:auto; width:auto; left:0; right:0; top:auto; background:#0059A9; display:flex; flex-direction:row;}
		> ul > li.hasSub.jShow ul li {flex-grow:1; max-width:200px;}
		> ul > li.hasSub.jShow ul li a {color:#fff; text-decoration:none; display:block; padding:20px 0;}
	}

	@media (min-width:1024px) {
		> ul ul {padding:0;}
		> ul > li.hasSub.jShow ul {width:1024px; left:50%; margin-left:-512px; @include band(#0059A9); z-index:0; overflow:visible; }
	}
}
