<ul class="cfrtopbar--menu" ng-class="{hasbutton: !!logout}">
  <cfrtopbarmenuitem ng-repeat="links in menu" links="links"></cfrtopbarmenuitem>
  <li class="cfrtopbar--button-list" ng-if="logout"><a class="cfrtopbar--button" href="{{ logout | cfrbarsLanguageUrl }}">{{ 'LOGOUT_BUTTON' | translate }}</a></li>
</ul>
