<div class="cfrbottombar clearfix">
  <div ng-repeat="(key, group) in footerblocks" class="cfrbottombar--group cfrbars--container" ng-class="'cfrbottombar--group-' + key">
    <div class="cfrbottombar--wrap">
      <div class="cfrbottombar--menuwrap" ng-repeat="(key, block) in group" ng-class="'cfrbottombar--menuwrap-' + key" ng-style="{{ block.backgroundStyle }}">
        <cfrbottombarblock block="block"></cfrbottombarblock>
      </div>
    </div>
  </div>

  <style ng-bind="extraStyles"></style>
  <style>
  .cfrbottombar--group .cfrbottombar--menuwrap {
    height: {{maxHeight}};
  }
  </style>

</div>
