.chapterItem.brands {
	max-width:1024px; margin:0 auto;

	@media (min-width:768px) {
		margin-bottom:20px;
	}

	// first block
	.brandList {
		background:#d5e9f4; overflow:hidden;

		> header {margin:16px 12px 0;}
		> header > .heading {color:#005aa9; font-size:26px; @include fontCarrefour; }

		> .main {margin:0 12px; overflow:hidden;}
		> .main .ctItem {float:left; margin-bottom:2%;}
		> .main .ctItem article a {display:flex; background:#fff; flex-direction:column; text-decoration:none;}
		> .main .ctItem article a > * {order:2;}
		> .main .ctItem article a > header { padding:12px; min-height:64px;}
		> .main .ctItem article a > header .heading {font-size:16px; @include fontCarrefour(); font-weight:600; color:#000; min-height:40px;}
		> .main .ctItem article a > header .heading:after {@include icon($icon-arrow-right); margin-left:4px; font-size:55%;}
		> .main .ctItem article a > figure {order:1;}
		> .main .ctItem article a > figure .image {padding-top:100%; position:relative; overflow:hidden;}
		> .main .ctItem article a > figure .image picture{position:absolute; top:0; left:0;}
		> .main .ctItem article a > figure img {width:100%; display:block;}

		@media (min-width:800px) {
			padding:28px;

			> header {float:left; width:255px; margin-left:0; margin-right:0; padding-right:12px;}
			> header .heading {font-size:32px;}
			> .main {margin-left:255px; margin-right:0;}
			> .main .ctItem {float:left; }
		}
		@media (max-width:519px) {
			> .main .ctItem {width:100%; margin:0; margin-bottom:12px;}
		}
		@media (min-width:520px) and (max-width:1023px) {
			> .main .ctItem {width:48.5%; margin-right:1.5%; margin-bottom:3%}
			> .main .ctItem:nth-child(2n) {float:right; margin-right:0; margin-left:1.5%;}
		}
		@media (min-width:1024px) {
			> .main .ctItem {width:32%; margin-right:2%; margin-bottom:2%}
			> .main .ctItem:nth-child(3n) {float:right; margin-right:0;}
		}
	}

	// second and third content slider
	.contentSlider {
		background:#e2f0f7;
		.ctItem > .wrap article {padding-top:225px;}
		.ctItem > .wrap article figure {height:225px;}

		+ .contentSlider {background:#eef6fb;}
		> header .heading {color:#005aa9; text-align:left;}

		.ctItem > .wrap article {background:#fff;}
		.ctItem > .wrap article header .heading {color:#000; white-space:normal; min-height:40px;}

		@media (min-width:768px) {
			> header {text-align:center; max-width:600px; margin:0 auto;}
			> header .heading {text-align:center;}
		}
	}

}
