// site header .........................................................................................................
$animation: transform 0.3s cubic-bezier(0.16, 0.68, 0.43, 0.99);
#site > header {
	background:#fff; position:relative; z-index:10; max-width:1024px; margin:0 auto; @include band(#fff);
	.welcome {position:relative; z-index:10;}
	.welcome .siteLabel {margin-left:8px;}
	@media (max-width:767px) {
		.welcome { height:50px; line-height:45px; transition:$animation; backface-visibility: hidden;}
		.welcome .siteLabel {float:left; margin-right:8px; padding-top:11px;}
		.welcome .siteLabel img {display:block; width:45px;}
		.navigation {position:fixed; overflow:auto; right:0; top:0px; bottom:0; width:270px; border-left:1px solid #dfdfdf; background:#005aa9; transform:translate3d(270px, 0, 0); transition:$animation; backface-visibility: hidden;}
	}
	@media (min-width:768px) {
		.navigation {position:relative;}
		.navigation .nav.social {@include hide;}
		.welcome .siteLabel {float:left; margin-top:10px; height:60px; margin-left:12px;}
		.welcome .siteLabel img {width:85px;}
	}
}

@media (max-width:767px) {
	.cfrbottombar, .cfrfooter, .cfr-topbar-container, #site > #page {transition:$animation; backface-visibility: hidden;}
	.jShowMenu {
		#site > header .navigation {transform:translate3d(0px, 0, 0);}
		#site > #page, #site > header .welcome, .cfrbottombar, .cfrfooter, .cfr-topbar-container {transform:translate3d(-270px, 0, 0);}
	}
}

body {overflow-x:hidden;}
