.sct404 {
	position:relative; margin:0 auto; padding:36px 12px;

	&:before {content:""; background:url(img/404-cf.png) left top no-repeat; background-size:100% auto; width:80px; height:80px; position:absolute; left:12px; top:40px;}
	> .heading, > .textblock {margin-left:100px;}
	> .heading {@include fontCarrefour; color:#667f91; font-size:16px;}
	> .heading em {display:block; font-size:36px;}
	> .textblock p {font-size:12px; color:#667f91;}
	> .nav.enseigne {margin-top:24px;}

	@media (min-width:650px) {
		padding:105px 12px; max-width:630px;

		&:before {width:230px; height:230px; top:60px;}

		> .heading, > .textblock {margin-left:250px;}
		> .heading {font-size:30px;}
		> .heading em {font-size:60px;}
		> .textblock p {font-size:16px;}
		> .nav.enseigne {margin-top:48px;}
	}
}
