.recipeFilters {
	position:relative; z-index:2; @include fontCarrefour;

	// form box
	.frmBox {position:absolute; top:30px; left:0; right:0; background:rgba(255,255,255,0.65); box-shadow:0 -3px 3px rgba(0,0,0,0.05);}
	.frmBox > header {@include hide;}
	.frmBox > form {max-width:1024px; margin:0 auto; padding:12px; position:relative;}

	@media (min-width:720px) {
		.frmBox {top:50%; transform:translate(0, -50%);}
		.frmBox form {display:flex; flex-direction:row; padding:20px 12px;}
		.frmBox form > .main {flex-grow:1; display:flex; flex-direction:row;}
		.frmBox form > .main > .wrap {flex-grow:1; padding-right:20px;}
		.frmBox > form > footer {@include hide;}
	}
	@media (min-width:1024px) {
		.frmBox form {padding:40px 0;}
	}

	// image
	.image {height:160px; overflow:hidden;}
	.image img {height:100%; }

	@media (min-width:720px) {
		.image {max-height:460px; height:auto; overflow:hidden;}
		.image img {width:100%; height:auto;}
	}

	// search input
	.inpText {
		margin-bottom:8px; position:relative;

		> .label {@include hide;}
		> .value input {
			border:1px solid #dfdfdf; border-radius:6px; width:100%; box-sizing:border-box; padding:12px 20px; margin:0; @include fontCarrefour(); font-size:16px; color:#282828;
			@include placeholder {color:#989898;}
		}
		.twitter-typeahead {
			display:block !important;
			.tt-hint {color:#989898; @include fontCarrefour();}
			.tt-menu {background:#fff; position:absolute; left:0; right:0; top:100%; margin-top:-6px; border:1px solid #dfdfdf; border-radius:0 0 6px 6px; overflow:hidden; @include fontCarrefour();}
			.tt-menu .tt-suggestion {padding:8px 20px; font-size:16px; color:#282828; font-weight:500;}
			.tt-menu .tt-suggestion.tt-cursor {background:#e2f0f7;}
			.tt-menu .tt-suggestion .tt-highlight {color:#666666; font-weight:400;}
		}
	}

	// searching
	&.jSearching .inpText:before {content:""; position:absolute; right:8px; top:8px; height:30px; width:30px; background:url(img/spinner.gif) center center no-repeat; background-size:100% auto;}


	/* filter overview
	.filteredOverview {
		padding-left:12px;
		ul li {position:relative; display:inline-block; margin-right:16px; margin-bottom:8px;}
		ul li:last-child {margin-right:0;}
		ul li a {color:#005aa9; text-decoration:none; display:block; font-size:12px; @include fontCarrefour();}
		ul li a:after {@include icon($icon-close-circle); margin-left:3px; margin-top:-1px; vertical-align:middle; display:inline-block;}
		ul li a:hover {color:#800;}
	}
	// state: filtered
	&.jFiltered + .teaserGrid {margin-top:520px;}
	@media (min-width:720px) {
		&.jFiltered .filteredOverview {min-height:24px;}
	}

	// expand collapse
	.extraFilters {
		> header {border-radius:6px; background:#fff;}
		> header .heading {color:#005aa9; padding:13px; text-align:center; cursor:pointer; font-size:16px; cursor:pointer;}
		> header .heading:after {@include icon($icon-arrow-down); vertical-align:middle; font-size:12px; margin-left:8px;}
		> .main {@include hide;}
		> .main .inpCheckbox > .label {color:#fff; text-transform:uppercase; @include fontCarrefour();}
		> .main .inpCheckbox > .value {margin-bottom:12px;}
		> .main .inpCheckbox > .value .control {margin:12px 0;}
		> .main .inpCheckbox > .value .control.jEmpty {opacity:0.5;}
		> .main .inpCheckbox > .value .control input {border-radius:3px; border-color:#005aa9;}
		> .main .inpCheckbox > .value .control label {color:#fff; font-size:12px; @include fontCarrefour();}

		&.jOpen {
			> header {height:100%; position:relative; border-radius:6px 6px 0 0; background:#198ecd;}
			> header:after {content:""; display:block; position:absolute; left:0; right:0; top:100%; height:12px; background:#198ecd;}
			> header .heading {color:#fff; height:100%;}
			> header .heading:after {content:$icon-arrow-up}
			> .main {background:#198ecd; margin:0 -12px; padding:12px; height:auto; width:auto; overflow:visible;}
		}


		@media (max-width:719px) {
			margin:20px 0;
			> .main .inpCheckbox {margin:4px 0;}
			> .main .inpCheckbox > .label {padding:12px 20px; background:#0c74bb; border-radius:6px; position:relative; cursor:pointer;}
			> .main .inpCheckbox > .value {margin-left:20px; margin-right:20px; @include hide();}
			> .main .inpCheckbox > .label:after{@include icon($icon-arrow-down); position:absolute; right:10px; top:50%; margin-top:-6px; font-size:12px;}
			> .main .inpCheckbox.jOpen {
				> .value {@include unhide();}
				> .label:after {content:$icon-arrow-up;}
			}
			&.jOpen > .main {position:static;}
		}

		@media (min-width:720px) {
			> header .heading {padding:13px 16px; font-size:16px; white-space:nowrap;}
			> .main .inpCheckbox > .label {border-bottom:1px solid #75bbe1; padding-bottom:4px;}
			&.jOpen {
				display:flex; flex-direction:column;
				> header {flex:1;}
				> .main {position:absolute; left:0; right:0; top:100%; margin-top:-28px; column-count:5;}
				> .main:after {background:#198ecd; content:""; position:absolute; top:0; bottom:0; left:-999em; right:-999em; z-index:-1;}
				> .main > .formRow {overflow:hidden; display:inline-block; width:100%; vertical-align:top; padding:10px; -webkit-column-break-inside:avoid; page-break-inside:avoid; break-inside:avoid;}
				> .main .inpCheckbox + .inpCheckbox {margin-top:24px;}
			}
		}


	}*/

	// button
	button {
		background:#005aa9; color:#fff; border:none; width:100%; padding:12px; @include fontCarrefour; font-size:16px; line-height:1.05em; border-radius:6px;
		@media (min-width:720px) {
			padding:12px 16px
		}
	}
}

.pgRecipeOverview .teaserGrid .notification.info {
	padding:20px 6px; padding-top:30px;
	header .heading {color:#005aa9; font-size:24px;}
	.main .heading {color:#005aa9; font-size:16px; margin-top:4px;}
	@media (min-width: 768px) {
		padding-left:10px; padding-right:10px;
		header .heading {font-size:30px;}
		.main .heading {color:#005aa9; font-size:20px;}
	}
}


