{% extends 'carrefour/base.twig' %}

{# set page variables #}
{% if node.field_meta_tags.title is not empty %}
    {% set pageTitle = node.field_meta_tags.title %}
{% else %}
    {% set pageTitle = node.title %}
{% endif %}
{% set bodyClass = 'pgArticle' %}
{% set bodyId = 'article-'~node.nid %}
{% set nodeID = node.nid %}

{% block ogMeta %}
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ node.field_teaser_text|default('') }}" />
    <meta property="og:image" content="{{ node.field_2x1_thumbnail.field_image.url }}" />
{% endblock %}

{% block pageMain %}
	{# breadcrumb ................................................................................................... #}
    {% include 'generic/navBasic' with {'data':{'content':breadcrumb, 'class':'breadcrumb'}} %}

    {% if node.field_cover_image|default('') == '' %}
        {# banners -------------------------------------------------------------------------------------------------- #}
        {% include 'carrefour/banner' with {'data':{'content':node.field_banners}} %}
    {% endif %}

    {# article ------------------------------------------------------------------------------------------------------ #}
    {% include 'carrefour/article' with {'data':{'content':node, 'view':'dView'}} %}
{% endblock %}