{% extends 'carrefour/base.twig' %}

{# set page variables #}
{% if node.field_meta_tags.title is not empty %}
    {% set pageTitle = node.field_meta_tags.title %}
{% else %}
    {% set pageTitle = node.title %}
{% endif %}
{% set bodyClass = 'pgCampaign' %}
{% set bodyId = 'campaign-'~node.nid %}
{% set nodeID = node.nid %}

{% block ogMeta %}
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ node.field_landing_page.field_teaser_text|default('') }}" />
    <meta property="og:image" content="{{ node.field_landing_page.field_2x1_thumbnail.field_image.url }}" />
{% endblock %}

{% block pageMain %}
    {# breadcrumb ................................................................................................... #}
    {% include 'generic/navBasic' with {'data':{'content':breadcrumb, 'class':'breadcrumb'}} %}

    {# banners ------------------------------------------------------------------------------------------------------ #}
    {% include 'carrefour/banner' with {'data':{'content':node.field_landing_page.field_banners}} %}

    {# article ------------------------------------------------------------------------------------------------------ #}
    {% include 'carrefour/campaign' with {'data':{'content':node, 'view':'dView'}} %}
{% endblock %}