{% extends 'carrefour/base.twig' %}

{# set page variables #}
{% if node.field_meta_tags.title is not empty %}
    {% set pageTitle = node.field_meta_tags.title %}
{% else %}
    {% set pageTitle = node.title %}
{% endif %}
{% set bodyClass = 'pgBrands' %}
{% set bodyId = 'brand-'~node.nid %}

{% block pageMain %}
    {# breadcrumb --------------------------------------------------------------------------------------------------- #}
    {% set breadcrumbItems = [{'label': 'Home', 'url': '/' ~ locale, 'class': 'home'}] %}
    {% set chapterSilos = node.silos|castToArray %}
    {% if chapterSilos|length == 1 %}
        {% set chapterSiloItem = chapterSilos|first %}
        {% set breadcrumbItems = breadcrumbItems|merge([{'label': chapterSiloItem.title, 'url': chapterSiloItem.path, 'id': chapterSiloItem.id}]) %}
    {% endif %}
    {% set breadcrumbItems = breadcrumbItems|merge([{'label': node.title, 'url': node.path}]) %}
    {% set breadcrumb = {'items': breadcrumbItems} %}
    {% include 'generic/navBasic' with {'data':{'content':breadcrumb, 'class':'breadcrumb'}} %}

    {# banners ------------------------------------------------------------------------------------------------------ #}
    {% include 'carrefour/banner' with {'data':{'content':node.field_banners}} %}

    {# brand blocks - 1st = custom, following are content sliders #}
    {% embed 'carrefour/chapter' with {'data':{'content':node, 'view':'dView', 'variant':'brands'}} %}
        {% block main %}
            {% for brandBlock in node.field_content_section %}
                {% if loop.index == 1 %}
                    {% embed 'generic/sctContainer' with {'data':{'class':'brandList'}} %}
                        {% block header %}
                            {% set brandsHeading = {'text':brandBlock.field_title|default('')} %}
                            {% include 'generic/cntHeading' with {'data':{'content':brandsHeading, 'level':'2'}} %}
                            {% set brandsText = {'body':brandBlock.field_text|default('')} %}
                            {% include 'generic/cntTextblock' with {'data':{'content':brandsText,'variant':'intro'}} %}
                        {% endblock %}
                        {% block main %}
                            {% for module in brandBlock.field_articles %}
                                {% include 'carrefour/article' with {'data':{'view':'vView', 'content':module}} %}
                            {% endfor %}
                        {% endblock %}
                    {% endembed %}
                {% else %}
                    {% include 'carrefour/contentSlider' with {'data':{'content':brandBlock}} %}
                {% endif %}
            {% endfor %}
        {% endblock %}
    {% endembed %}

{% endblock %}
