{% extends 'carrefour/base.twig' %}

{# set page variables #}
{% if node.field_meta_tags.title is not empty %}
    {% set pageTitle = node.field_meta_tags.title %}
{% else %}
    {% set pageTitle = node.title %}
{% endif %}
{% set bodyClass = 'pgChapter' %}
{% set bodyId = 'chapter-'~node.nid %}

{% block pageMain %}
    {# breadcrumb ................................................................................................... #}
    {% set breadcrumbItems = [{'label': 'Home', 'url': '/' ~ locale, 'class': 'home'}] %}
	{% set chapterSilos = node.silos|castToArray %}
    {% if chapterSilos|length == 1 %}
        {% set chapterSiloItem = chapterSilos|first %}
        {% set breadcrumbItems = breadcrumbItems|merge([{'label': chapterSiloItem.title, 'url': chapterSiloItem.path, 'id': chapterSiloItem.nid}]) %}
    {% endif %}
    {% set breadcrumbItems = breadcrumbItems|merge([{'label': node.title, 'url': node.path}]) %}
	{% set breadcrumb = {'items': breadcrumbItems} %}
    {% include 'generic/navBasic' with {'data':{'content':breadcrumb, 'class':'breadcrumb'}} %}

    {# banners ------------------------------------------------------------------------------------------------------ #}
    {% include 'carrefour/banner' with {'data':{'content':node.field_banners}} %}

    {# masonry grid ------------------------------------------------------------------------------------------------- #}
    {% embed 'carrefour/chapter' with {'data':{'content':node, 'view':'dView'}} %}
        {% block main %}
            {% if node.isMetierChapter == '1'%}
                {% set gridTeasers = [{'content': node.defaultContent, 'resource': 'masonry', 'id': node.nid, 'limit': 9}] %}
                {% for teaserBlock in node.content %}
                    {% set gridTeasers = gridTeasers|merge([{'content': teaserBlock.content, 'resource': 'masonry/metier', 'id': teaserBlock.tid, 'limit': 9}]) %}
                {% endfor %}
                {% set gridContent = {'tabs':node.content, 'teasers':gridTeasers} %}

                {% include 'carrefour/teaserGrid' with {'data':{'content':gridContent}} %}
            {% else %}
                {% set gridContent = {'teasers':[{'content': node.content}]} %}
                {% include 'carrefour/teaserGrid' with {'data':{'content':gridContent}} %}
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
