{% extends 'carrefour/base.twig' %}

{# set page variables #}{#<?php#}
{% set pageTitle = __('Homepage') %}
{% set bodyClass = 'pgHome' %}

{% block pageMain %}
    {# banners ------------------------------------------------------------------------------------------------------ #}
    {% include 'carrefour/banner' with {'data':{'content':banners}} %}


    {# focusRow ----------------------------------------------------------------------------------------------------- #}
    <div class="focusRow">
        {# folders -------------------------------------------------------------------------------------------------- #}{#<?php#}
        {% set focusFolders = {'heading': __('Our offers'), 'folders':folders} %}
        {% include 'carrefour/focusFolders' with {'data':{'content':focusFolders}} %}

        {# find your shop ------------------------------------------------------------------------------------------- #}{#<?php#}
        {% embed 'generic/sctTeaser' with {'data':{'variant':'focusFindShop'}} %}
            {% block header %}
                {% set teaserShopHeader = {'text':__('Search store')} %}
                {% include 'generic/cntHeading' with {'data':{'content':teaserShopHeader, 'level':'2'}} %}
            {% endblock %}
            {% block main %}
                {% set teaserShopText = {'body':__('Looking for a store? Find <em>the closest store</em> in a couple of clicks!')} %}
                {% include 'generic/cntTextblock' with {'data':{'content':teaserShopText, 'pWrapped':true}} %}
                {% set teaserShopImage = {'src':'/images/home/teaser-shop.png'} %}
                {% include 'generic/cntImage' with {'data':{'content':teaserShopImage}} %}
            {% endblock %}
            {% block footer %}
                {% set teaserShopLink = {'label':__('Find your store')} %}
                {% set teaserShopLinkURL = 'https://winkels.carrefour.eu/' ~ locale %}
                {% include 'generic/lnkTyped' with {'data':{'content':teaserShopLink, 'url':teaserShopLinkURL, 'variant':'more'}}  %}
            {% endblock %}
        {% endembed %}

        {# bonus card ----------------------------------------------------------------------------------------------- #}{#<?php#}
        {% embed 'generic/sctTeaser' with {'data':{'variant':'focusBonusCard'}} %}
            {% block header %}
                {% set teaserBonusHeader = {'text':__('Carrefour Bonus Card')} %}
                {% include 'generic/cntHeading' with {'data':{'content':teaserBonusHeader, 'level':'2'}} %}
            {% endblock %}
            {% block main %}
                {% set teaserBonusText = {'body':__('Would you like to receive promotions of the<em>Carrefour Bonus Card</em>? Login or signup for a Carrefour account.')} %}
                {% include 'generic/cntTextblock' with {'data':{'content':teaserBonusText, 'pWrapped':true}} %}
                {% set teaserBonusImage = {'src':'/images/home/teaser-bonus.png'} %}
                {% include 'generic/cntImage' with {'data':{'content':teaserBonusImage}} %}
            {% endblock %}
            {% block footer %}
                {% set teaserBonusLink = {'label':__('Login/signup for an account')} %}
                {% set teaserBonusLinkURL = 'https://bonuscard.be.carrefour.eu/' ~ locale %}
                {% include 'generic/lnkTyped' with {'data':{'content':teaserBonusLink, 'url':teaserBonusLinkURL, 'variant':'more'}}  %}
            {% endblock %}
        {% endembed %}
    </div>

    {# masonry grid ------------------------------------------------------------------------------------------------- #}{#<?php#}
    {% set gridFilters = {'heading':{'text':__('Show me')}, 'items':silos, 'resource': 'masonry'}%}
    {% set gridTeasers = [{'content': masonry_queue}] %}

    {% for silo in silos %}
        {% set gridTeasers = gridTeasers|merge([{'content': silo.content, 'resource': 'masonry', 'id': silo.nid, 'limit': 9}]) %}
    {% endfor %}
    {% set gridContent = {'filters':gridFilters, 'teasers':gridTeasers} %}

    {% include 'carrefour/teaserGrid' with {'data':{'content':gridContent}} %}

{% endblock %}
