{% extends 'carrefour/base.twig' %}

{# set page variables #}{#<?php#}
{% set pageTitle = __('[recipe page title]') %}
{% set bodyClass = 'pgRecipeOverview' %}
{% set bodyId = 'recipe-'~node.nid %}

{% block pageMain %}
	{# breadcrumb ................................................................................................... #}{#<?php#}
	{% set breadcrumb = {'items': [
		{'label': 'Home', 'url': '/' ~ locale, 'class': 'home'},
		{'label': __('Recipes'), 'url': route('recipes')}
	]} %}
	{% include 'generic/navBasic' with {'data':{'content':breadcrumb, 'class':'breadcrumb'}} %}

	<div class="recipeFilters">
		{% set recipeOverviewImage = {'src':'/images/articles/recipe-overview.jpg'} %}
		{% include 'generic/cntImage' with {'data':{'content':recipeOverviewImage}} %}
		{% embed 'generic/frmBox' with {'data':{'class':'filterRecipes', 'id':'filterRecipesForm', 'action':'/'}} %}
			{% block header %}
				{% set filterRecipeHeading = {'text':'filter recipes'} %}
				{% include 'generic/cntHeading' with {'data':{'content':filterRecipeHeading}} %}
			{% endblock %}
			{% block main %}
				<div class="wrap">
					{% set filterRecipeContent = {'label':'filter recipes', 'placeholder':__('filter recipes')} %}
					{% include 'generic/inpText' with {'data':{'inpId':'filterRecipesSearch', 'content':filterRecipeContent}} %}

					{% set filteredItems = {'items':[]} %}
					{% include 'generic/navBasic' with {'data':{'content':filteredItems, 'class':'filteredOverview'}} %}
				</div>
                {#
				{% embed 'generic/sctContainer' with {'data':{'content':groupRecipeFilters, 'class':'extraFilters', 'pattern':'expandCollapse'}} %}
					{% block header %}
						{% set extraFilterRecipeHeading = {'text':__('show all filters')} %}
						{% include 'generic/cntHeading' with {'data':{'content':extraFilterRecipeHeading}} %}
					{% endblock %}
					{% block main %}
						{% for facet in filters|castToArray %}
							{% set terms = facet.terms|castToArray %}
							{% if terms|length %}
								{% embed 'generic/frmRow' %}
									{% block main %}
										{% set filterCheckListOptions = [] %}
										{% for term in terms %}
											{% set filterCheckListOptions = filterCheckListOptions|merge([{'label': term.name, 'value': term.tid, 'class': (term.count == 0 ? 'jEmpty' : ''), 'disabled': (term.count == 0 ? true : false)}])%}
										{% endfor %}
										{% include 'generic/inpList' with {'data':{'type':'checkbox', 'dataAttrs': [{'key': 'vid', 'value': facet.vid}, {'key': 'field', 'value': facet.field}], 'inpId':'filterOption' ~ facet.field, 'content': {'listLabel': facet.name, 'options': filterCheckListOptions}}} %}
									{% endblock %}
								{% endembed %}
							{% endif %}
						{% endfor %}
					{% endblock %}
				{% endembed %}
				#}
			{% endblock %}
			{% block advance %}
				{% set recipeFilterSubmit = {'label':__('Filter!')} %}
				{% include 'generic/frmSubmit' with {'data':{'content': recipeFilterSubmit, 'id':'frmSubmitFilterRecipes'}} %}
			{% endblock %}
		{% endembed %}
	</div>
	{% set gridRecipes = {'filters': [], 'teasers': [{'content': recipes, 'resource': 'recipes', 'limit': 16, 'template': 'helpers/recipeOverview'}]} %}
    {% set emptyNotification = {'title':__('zero result title'), 'description':__('zero result instruction')} %}
	{% embed 'carrefour/teaserGrid' with {'data':{'content':gridRecipes, 'emptyNotification':emptyNotification}} %}
	{% endembed %}

{% endblock %}
