{% extends 'carrefour/base.twig' %}

{# set page variables #}
{% if node.field_meta_tags.title is not empty %}
    {% set pageTitle = node.field_meta_tags.title %}
{% else %}
    {% set pageTitle = node.title %}
{% endif %}
{% set bodyClass = 'pgRecipe' %}
{% set bodyId = 'recipe-'~node.nid %}
{% set nodeID = node.nid %}

{% block ogMeta %}
    <meta property="og:title" content="{{ pageTitle }}" />
    <meta property="og:description" content="{{ node.field_teaser_text|default('') }}" />
    <meta property="og:image" content="{{ node.field_cover_image.field_image.field_image.url }}" />
{% endblock %}

{% block pageMain %}
    {# breadcrumb ................................................................................................... #}
	{% set breadcrumb = {'items': [
        {'label': 'Home', 'url': '/' ~ locale, 'class': 'home'},
        {'label': __('Recipes'), 'url': route('recipes')},
	    {'label': node.title, 'url': node.path}
	]} %}
    {% include 'generic/navBasic' with {'data':{'content':breadcrumb, 'class':'breadcrumb'}} %}

    {# article ------------------------------------------------------------------------------------------------------ #}
    {% include 'carrefour/recipe' with {'data':{'content':node, 'view':'dView'}} %}
{% endblock %}
