{% extends "generic/hcpContainer.twig" %}

{# SET COMPONENT VARIABLES #}
{% set component = 'sctBanner' %}
{% set class = 'sctBanners' %}


{# HTML OUTPUT ------------------------------------------------------------------------------------------------------ #}
{% block main %}
	{% for bannerItem in data.content %}
        {% set bId = 'banner'~bannerItem.nid %}

		{% set bHeading = {'text':bannerItem.field_heading|default('')} %}
        {% set bAbstract = {'body':bannerItem.field_banner_text|default('')} %}

		{% set bLink = {'label':bannerItem.field_link.title|default('')} %}
		{% set bLinkURL = bannerItem.field_link.uri|default('') %}

        {% set bImageMainBreakpoints = [{'max':'767', 'src':bannerItem.field_image.field_image.styles.banner_mobile}] %}
        {% set bImageMain = {'src':bannerItem.field_image.field_image.styles.largest_cover, 'alt':bannerItem.field_image_desktop.field_image.alt|default('')} %}
		{% set bShowImageFront = (bannerItem.field_image_front.field_image.url|default('') != '') ? true : false %}
		{% set bImageFront = {'src':bannerItem.field_image_front.field_image.styles.image_front|default(''), 'alt':bannerItem.field_image_front.field_image.alt|default('')} %}

		{% set bStyle = bannerItem.field_text_position|default('') %}

		{% set bBackground = 'background-color:#' ~ bannerItem.field_background_color|default('') ~ ';' ~ (bannerItem.field_background_image is not empty ? ' background-image:url('~bannerItem.field_background_image.field_image.url~')' : '') ~ ';' %}
		{% set bBackgroundColor = bannerItem.field_text_background_color|default('') %}
		{% set bBackgroundOpacity = bannerItem.field_text_bg_transparency|default('') %}
		{% set bHeadingColor = bannerItem.field_heading_color|default('') %}
		{% set bTextColor = bannerItem.field_text_color|default('') %}
        {% set bLinkColor = bannerItem.field_button_text_color|default('') %}
		{% set bLinkBackgroundColor = bannerItem.field_button_color|default('') %}

        {# CURRENTLY NO VIDEO SUPPORT IN BANNERS
        {% set bVideo = bannerItem.bv %}
		{% set bVideoClass = (bVideo != '') ? ' hasVideo' : '' %} #}

		<div class="bannerItem {{ bStyle }} {{ bVideoClass }}" id="{{ bId }}">

			<style>
				#{{ bId }} { {{ bBackground }} }
				{% if bBackgroundColor != '' %}
					#{{ bId }} .wrap:after {background-color:#{{ bBackgroundColor }}; opacity:{{ bBackgroundOpacity }};}
				{% endif %}
				{% if bHeadingColor != '' %}
					#{{ bId }} .wrap header h2 {color:#{{ bHeadingColor }};}
				{% endif %}
				{% if bTextColor != '' %}
					#{{ bId }} .wrap header .textblock p {color:#{{ bTextColor }};}
				{% endif %}
				{% if bLinkColor != '' or bLinkBackgroundColor != '' %}
					#{{ bId }} .wrap footer .lnkMore a {color:#{{ bLinkColor }}; background:#{{ bLinkBackgroundColor}};}
				{% endif %}
			</style>

			<div class="wrap">
				{# if bVideo != '' %}
					<figure class="video youtube">
						<div id="{{ bId }}-video" data-video="bzy06Cp76hU"></div>
					</figure>
				{% endif #}
				<article>
					<header>
						{% include 'generic/cntHeading' with {'data':{'content':bHeading, 'level':'2'}} %}
						{% if bAbstract != '' %}
							{% include 'generic/cntTextblock' with {'data':{'content':bAbstract, 'variant':'abstract', 'pWrapped':true}} %}
						{% endif %}
					</header>

					{% if bLinkURL != '' %}
						<footer>
							{% include 'generic/lnkTyped' with {'data':{'content':bLink, 'url':bLinkURL, 'variant':'more'}} %}
						</footer>
					{% endif %}
				</article>
				<div class="footer">
					{% include 'generic/cntImage' with {'data':{'content':bImageMain, 'variant':'main', 'breakpoints':bImageMainBreakpoints}} %}
					{% if bShowImageFront %}{% include 'generic/cntImage' with {'data':{'content':bImageFront, 'variant':'front'}} %}{% endif %}
				</div>
			</div>

		</div>

	{% endfor %}
{% endblock %}
{# ------------------------------------------------------------------------------------------------------------------ #}
