{% import "macros/global.twig" as macro %}

<!DOCTYPE html>
<html class="noJS" language="{{ locale }}" lang="{{ locale }}">
	<head>
		<title>{{ pageTitle }} - Carrefour</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

		{% set translatedRoutes = (paths|length ? paths : node.paths|castToArray) %}
		{% if translatedRoutes|length %}
			{% for language,path in translatedRoutes|sort %}
				<link href="{{ url(path) }}" rel="alternate" hreflang="{{ language }}" />
			{% endfor %}
		{% endif %}

		{% set bOgMeta = block('ogMeta')|trim %}
		{% if bOgMeta is not empty %}
				{{ bOgMeta|raw }}
		{% endif %}

        {# Google Tag Manager #}
        {% if app.env == 'prod' or app.env == 'prev' %}
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
                        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
                        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                })(window,document,'script','dataLayer','GTM-WNWKBN');</script>
        {% endif %}

		<link rel="stylesheet" href="//cdn-mkt.be.carrefour.eu/carrefour-icons/icons.css" />
		<link rel="stylesheet" media="print" href="/css/cf-print.css" />
		<link rel="stylesheet" href="/css/cf.css" />
		<link rel="stylesheet" href="/css/cfeu.css" />

		<link rel="stylesheet" href="/js/topbar/dist/styles/main.css" />
		<link href="/js/fancybox/jquery.fancybox.css" rel="stylesheet" />
	</head>
	<body {{ macro.printAttr('class', bodyClass) }} {{ macro.printAttr('id', bodyId) }} {{ macro.printAttr('data-id', nodeID) }}>
        {# Google Tag Manager #}
        {% if app.env == 'prod' or app.env == 'prev'%}
            <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-WNWKBN" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        {% endif %}

		<div id="site">
			<header>
                <div class="welcome">
                    {# site label (static) #}
                    {% include 'carrefour/siteLabel' %}

                    {# enseigne navigation (static) #}
                    {% include 'carrefour/navEnseigne' %}

                    {# skip navigation (static) #}
                    {% include 'carrefour/navSkip' %}
                </div>
                <div class="navigation" id="siteNav">
                    {# search (goes to drive.be) #}{#<?php#}
                    {% set searchContent = {'label':__('search'), 'placeholder':__('search drive.be'), 'submit':{'label':__('Search')}} %}
                    {% set searchURL = route('search') %}
                    {% include 'generic/cmpSearch' with {'data':{'id':'search', 'action':searchURL, 'content':searchContent, 'target':'_blank'}} %}

                    {# main navigation (static + silos) #}
                    {% include 'carrefour/navMain' %}

                    {# social navigation (static) #}
                    {% include 'carrefour/navSocial' %}
                </div>
            </header>
            <main id="page">
				{% if node is not empty %}
					{% set breadcrumb = {'items': [
						{'label': 'Home', 'url': '/' ~ locale, 'class': 'home'},
						{'label': node.title, 'url': node.path}
					]} %}
				{% endif %}

				{% block pageMain %}{% endblock %}
			</main>
		</div>

        <script src="/js/bundle.js"></script>

        {# top bar component #}
		<cfrbars></cfrbars>

        {# external javascript includes #}
        {% include 'carrefour/baseJSObject' %}

        {# addThis lang config junk #}
        <script type="text/javascript">
            var addthis_config = addthis_config||{};
            addthis_config.lang = '{{ locale }}';
        </script>
	</body>
</html>
