<script src="/js/topbarConfig.js"></script>
<script src="/js/topbar/dist/scripts/main.js"></script>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-589ae5d3d684f3d8"></script>