{% extends "generic/hcpModule.twig" %}

{# AVAILABLE VARIABLES #}
{#
- article
	- langcode
	- type
	- title
	- status
	- created
	- changed
	- field_article_type
	- field_banners
	- field_components
	- field_contains_video
	- field_css
	- field_date
	- field_html
	- field_masonry_display_type_extra
	- field_masonry_sticky
	- field_sticky_related_content
	- field_teaser_image
	- field_teaser_link
	- field_teaser_text
	- url
#}

{% set image = false %}						{% set nodeLinked = false %}					{% set actions = false %}
{% set columnized = false %}                {% set newsletter = false %}			    	{% set schema = false %}
{% set contentBlocks = false %}             {% set fakeLink = false %}                      {% set customCSS = false %}

{# SET VIEWS #}
{% if data.view == 'tView' %}{% endif %}
{% if data.view == 'aView' %}
    {% set abstract = true %}
    {% set fakeLink = true %}
    {% set nodeLinked = true %}
{% endif %}
{% if data.view == 'vView' %}
    {% set image = true %}
    {% set nodeLinked = true %}
{% endif %}
{% if data.view == 'vaView' %}
    {% set image = true %}
    {% set nodeLinked = true %}
    {% set abstract = true %}
{% endif %}
{% if data.view == 'dView' %}
    {% set actions = true %}
    {% set columnized = true %}
    {% set newsletter = true %}
    {% set schema = true %}
    {% set contentBlocks = true %}
    {% set customCSS = true %}
{% endif %}


{# SET VARIABLES  #}
{% set cId = data.content.nid %}
{% set cTitle = data.content.title|default('') %}
{% set cHeading = {'text':cTitle} %}
{% set cAbstract = {'body':data.content.field_landing_page.field_teaser_text|default('')} %}
{% set cContentBlocks = data.content.field_landing_page.field_components|default('') %}
{% set cCustomHTML = data.content.field_landing_page.field_html|default('') %}
{% set cCustomCSS = data.content.field_landing_page.field_css|default('') %}

{% set cURL = data.content.path %}
{% set headingLevel = (data.view == 'dView') ? '1' : '3' %}

{# SET IMAGE #}
{% if data.content.field_landing_page.field_1x1_thumbnail|default('') != '' %}
    {% set imageStyles = data.content.field_landing_page.field_1x1_thumbnail.field_image.styles %}
{% else %}
    {% set imageStyles = data.content.field_landing_page.field_2x1_thumbnail.field_image.styles %}
{% endif %}
{% if data.content.field_landing_page.field_2x1_thumbnail|default('') != '' %}
    {% set imageStylesAlt = data.content.field_landing_page.field_2x1_thumbnail.field_image.styles %}
{% else %}
    {% set imageStylesAlt = data.content.field_landing_page.field_1x1_thumbnail.field_image.styles %}
{% endif %}

{% if data.context == 'teaserGrid' %}
    {% if data.view == 'vView' %}
        {% set cImage = {'src':imageStyles.small_square} %}
        {% set breakpoints = [{'max':'360','src':imageStyles.small_square},{'max':'767','src':imageStyles.medium_square}] %}
    {% elseif data.view == 'vaView' %}
        {% set cImage = {'src':imageStylesAlt.medium_2x1} %}
        {% set breakpoints = [{'max':'360','src':imageStyles.small_square},{'max':'767','src':imageStyles.medium_square}] %}
    {% endif %}
{% else %}
    {% set cImage = {'src':imageStyles.small_square} %}
    {% set breakpoints = [{'max':'360','src':imageStyles.small_square},{'max':'480','src':imageStyles.medium_square}] %}
{% endif %}

{# SET BASE CLASSES #}
{% set hasVideo = (data.content.field_landing_page.field_contains_video == 1) ? 'hasVideo' : '' %}
{% set moduleType = 'campaignItem' %}
{% set containerClass = moduleType ~ ' ' ~ data.view ~ ' ' ~ data.variant ~ ' ' ~ hasVideo %}


{# SCHEMA BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block schema %}
    {% if schema %}
        {
        "@context": "http://schema.org",
        "@type": "Article",
        "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://google.com/article"
        },
        "headline": " {{ data.content.title|default('') }}",
        "image": {
        "@type": "ImageObject",
        "url": " {{ url(data.content.field_landing_page.field_teaser_image.url|default('')) }}",
        "height": 800,
        "width": 800
        },
        "datePublished": "2015-02-05T08:00:00+08:00",
        "dateModified": "2015-02-05T09:20:00+08:00",
        "author": {
        "@type": "Organization",
        "name": "Carrefour"
        },
        "publisher": {
        "@type": "Organization",
        "name": "Carrefour",
        "logo": {
        "@type": "ImageObject",
        "url": "{{ url('/images/frame/logo.png') }}",
        "width": 85,
        "height": 57
        }
        },
        "description": "{{ data.content.field_landing_page.field_teaser_text|default('') }}"
        }
    {% endif %}
{% endblock %}


{# PREARTICLE BLOCK ------------------------------------------------------------------------------------------------- #}
{% block preArticle %}
    {# print custom CSS #}
    {% if customCSS and cCustomCSS != '' %}
        <style>{{ cCustomCSS|raw }}</style>
    {% endif %}
{% endblock %}


{# HEADER BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block header %}
    {% include 'generic/cntHeading' with {'data':{'content':cHeading, 'level':headingLevel}} %}
    {# abstract #}
    {% if abstract %}{% include 'generic/cntTextblock' with {'data':{'content':cAbstract,'variant':'abstract', 'pWrapped':true}} %}{% endif %}
{% endblock %}


{# FIGURE BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block figure %}
    {% if image %}{% include 'generic/cntImage' with {'data':{'content':cImage, 'breakpoints':breakpoints}} %}{% endif %}
{% endblock %}


{# MAIN BLOCK ------------------------------------------------------------------------------------------------------- #}
{% block main %}
    {% if contentBlocks %}
        {# print custom html, if none avaible print content blocks #}
        {% if cCustomHTML != '' %}
            {{ cCustomHTML|raw }}
        {% else %}
            {% for index, block in cContentBlocks %}
                {% if block.type == 'full_text'%}
                    {% include 'carrefour/contentFree' with {'data':{'content':block}} %}
                {% elseif block.type == 'images' %}
                    {% include 'carrefour/contentBlock' with {'data':{'content':block}} %}
                {% elseif block.type == 'slider' %}
                    {% include 'carrefour/contentSlider' with {'data':{'content':block}} %}
                {% elseif block.type == 'image_gallery' %}
                    {% include 'carrefour/contentGallery' with {'data':{'content':block, 'galleryName': 'gallery_' ~ index}} %}
                {% elseif block.type == 'cta' %}
                    {% include 'carrefour/contentCta' with {'data':{'content':block}} %}
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{# FOOTER BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block footer %}
    {% if actions %}
        <div class="share">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox"></div>
        </div>
    {% endif %}
{% endblock %}

{# ASIDE BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block aside %}
    {% if newsletter %}
        {% include 'carrefour/newsletterBlock' %}
    {% endif %}

{% endblock %}