{% set sliderHeading = {'text':data.content.field_title|default('')} %}
{% set sliderIntro = {'body':data.content.field_text|default('')} %}
{% set sliderModules = data.content.field_articles %}

{% set showIntro = (sliderIntro != '') ? true : false %}

<section class="contentPart contentSlider">
	{% if sliderHeading != '' %}
		<header>
			{% include 'generic/cntHeading' with {'data':{'content':sliderHeading, 'level':'2'}} %}
			{% if showIntro %}{% include 'generic/cntTextblock' with {'data':{'content':sliderIntro,'variant':'intro'}} %}{% endif %}
		</header>
	{% endif %}
	<div class="main">
		<section class="slider">
			<div class="main">
				{% for module in sliderModules %}
					{% if module.type == 'chapter' %}
						{% include 'carrefour/chapter' with {'data':{'view':'vView', 'content':module}} %}
					{% else %}
						{% include 'carrefour/article' with {'data':{'view':'vView', 'content':module}} %}
					{% endif %}
				{% endfor %}
			</div>
		</section>
	</div>
</section>
