{% set galleryHeading = {'text':data.content.field_header|default('')} %}
{% set galleryImages = data.content.field_images|default('') %}

<section class="contentPart contentGallery">
	{% if data.content.field_header is not empty %}
		<header>
			{% include 'generic/cntHeading' with {'data':{'content':galleryHeading}} %}
		</header>
	{% endif %}
	<div class="main">
		<section class="slider">
			<div class="main">
				{% for image in galleryImages %}
					{% set imageContent = {'src':image.field_image.styles.largest_square|default('')} %}
					{% include 'generic/cntImage' with {'data':{'content':imageContent, 'linked': image.field_image.url|default(''), 'rel': data.galleryName, 'lightbox': true}} %}
				{% endfor %}
			</div>
		</section>
	</div>
</section>
