{% set ctaHeading = {'text':data.content.field_header|default('')} %}
{% set ctaByline = data.content.field_short_text|default('') %}
{% set ctaLink = {'label':data.content.field_button.title|default('')} %}
{% set ctaLinkURL = data.content.field_button.uri|default('') %}
{% set ctaImage = {'src':data.content.field_image.field_image.url|default('')} %}
{% set lnkVariant = (data.content.field_cta_style|default('') == 'link') ? 'simple' : 'more' %}
{% set lnkTarget = (data.content.field_button.options.attributes.target|default('') != '') ? '_blank' : '' %}

<section class="contentPart contentCTA">
    <header>
        {% include 'generic/cntHeading' with {'data':{'content':ctaHeading}} %}
        {% if ctaByline != '' %}<div class="byline">{{ ctaByline }}</div>{% endif %}
    </header>
    {% if data.content.field_image.field_image.url|default('') != ''%}
        <div class="main">
            {% include 'generic/cntImage' with {'data':{'content':ctaImage}} %}
        </div>
    {% endif %}
    {% if ctaLinkURL != '' and  data.content.field_button.title|default('') != ''%}
        <footer>
            {% include 'generic/lnkTyped' with {'data':{'content':ctaLink, 'url':ctaLinkURL, 'variant':lnkVariant, 'target':lnkTarget}} %}
        </footer>
    {% endif %}
</section>
