{% set blocksStyle = (data.content.field_style == 'padded') ? 'style2' : 'style1' %}
{% set blocksHeading = {'text':data.content.field_header|default('')} %}
{% set blocksBlocks = data.content.field_content %}

<section class="contentPart contentBlock {{ blocksStyle }}">
	{% if data.content.field_header is not empty %}
		<header>
			{% include 'generic/cntHeading' with {'data':{'content':blocksHeading, 'level':'2'}} %}
		</header>
	{% endif %}
	<div class="main">
		{% for block in blocksBlocks %}
			{% set blockStyle = (block.field_image_alignment == 'right') ? 'style1' : 'style2' %}
			{% set blockHeading = {'text':block.field_title|default('')} %}
			{% set blockText = {'body':block.field_text|default('')} %}
			{% set blockLink = {'label':block.field_button.title|default('')} %}
			{% set blockLinkURL = block.field_button.uri|default('') %}
			{% set blockImage = {'src':block.field_image.field_image.styles.largest_square|default(''), 'alt':block.field_image.field_image.alt|default('')} %}
            {% set blockTarget = (block.field_button.options.attributes.target|default('') != '') ? '_blank' : '' %}

			<div class="block {{ blockStyle }}">
				<div class="wrap">
					{% if block.field_title|default('') != '' %}{% include 'generic/cntHeading' with {'data':{'content':blockHeading, 'level':'3'}} %}{% endif %}
					{% if block.field_text|default('') != '' %}{% include 'generic/cntTextblock' with {'data':{'content':blockText}} %}{% endif %}
                    {% if block.field_button.title|default('') != '' and block.field_button.uri|default('') != '' %}
					    {% include 'generic/lnkTyped' with {'data':{'content':blockLink, 'url':blockLinkURL, 'variant':'more', 'target':blockTarget}} %}
                    {% endif %}
				</div>
				{% include 'generic/cntImage' with {'data':{'content':blockImage}} %}
			</div>
		{% endfor %}
	</div>
</section>
