{% set contentFree = data.content.field_text|default('') %}

<section class="contentPart contentFree">
	<div class="main">
        {% if data.type == 'image_left' or data.type == 'image_right' %}
            {% set imgAlign = (data.type == 'image_left') ? 'align-left' : 'align-right' %}
            {% set cImage = {'src':data.content.field_image.field_image.url} %}
            {% include 'generic/cntImage' with {'data':{'content':cImage, 'variant':'figure-wrapper ' ~ imgAlign }} %}
        {% endif %}
        {{ contentFree|raw }}
	</div>
</section>
