{% set cHeading = {'text':data.content.heading} %}
{% set folders = data.content.folders %}

{% embed 'generic/sctTeaser' with {'data':{'variant':'focusFolders'}} %}
	{% block header %}
		{% include 'generic/cntHeading' with {'data':{'content':cHeading}} %}
	{% endblock %}
	{% block main %}
		<section class="slider">
			<div class="main">
				{% for folder in folders %}
					{% include 'carrefour/folder' with {'data':{'content':folder, 'view':'vView'}} %}
				{% endfor %}
			</div>
		</section>
	{% endblock %}
{% endembed %}


{# MAIN BLOCK ------------------------------------------------------------------------------------------------------- #}

