{% extends "generic/hcpModule.twig" %}


{# DEFAULT VALUES FOR VARIABLES #}
{% set containerClass = 'folderItem ' ~ data.view ~ ' ' ~ data.content.logoClass|lower %}

{% set image = false %}						{% set nodeLinked = false %}		{% set timespan = false %}

{# SET VIEWS #}
{% if data.view == 'tView' %}{% endif %}
{% if data.view == 'aView' %}{% endif %}
{% if data.view == 'vView' %}
	{% set image = true %}
	{% set enseigneImage = true %}
	{% set nodeLinked = true %}
	{% set timespan = true %}
{% endif %}
{% if data.view == 'vaView' %}{% endif %}
{% if data.view == 'dView' %}{% endif %}


{# SET VARIABLES  #}
{% set cImage = {'src':data.content.thumbnailURL} %}
{% set cTimespan = {'label':'Timespan', 'value':data.content.timespan} %}
{% set cURL = data.content.folderViewerURL %}



{# HEADER BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block header %}
	<div class="meta">
		{% include 'generic/cmpLabelValue' with {'data':{'content':cTimespan, 'class':'timespan'}} %}
	</div>
	{# abstract #}
	{% if abstract %}{% include 'generic/cntTextblock' with {'data':{'content':cAbstract,'variant':'abstract'}} %}{% endif %}
{% endblock %}


{# FIGURE BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block figure %}
	{% if image %}{% include 'generic/cntImage' with {'data':{'content':cImage}} %}{% endif %}
{% endblock %}


{# MAIN BLOCK ------------------------------------------------------------------------------------------------------- #}
{% block main %}
{% endblock %}

{# FOOTER BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block footer %}

{% endblock %}

{# ASIDE BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block aside %}

{% endblock %}
