<div class="nav enseigne ">
    <ul>{#<?php#}
        <li class="food"><a href="https://drive.be/">{{ __('Drive') }}</a></li>
        <li class="hypermarket"><a href="https://hyper.carrefour.eu/">{{ __('Hypermarket') }}</a></li>
        <li class="market"><a href="https://market.carrefour.eu/">{{ __('Market') }}</a></li>
        <li class="express"><a href="https://express.carrefour.eu/">{{ __('Express') }}</a></li>
        {#
        <li class="online hasSub">
            <a href="#">{{ __('Online shopping') }}</a>
            <div class="nav sub">
                <ul>
                    <li class="food"><a href="https://drive.be/">{{ __('Drive') }}</a></li>
                    <li class="nonfood"><a href="#">{{ __('non-food') }}</a></li>
                </ul>
            </div>
        </li>
        #}
    </ul>
</div>