{#<?php#}
<nav class="nav main">
    <ul>
        <li class="mainHome {% if bodyClass == 'pgHome' %}active{% endif %}"><a href="/{{ locale }}">{{ __('Home') }}</a></li>
        {% set recipeURL = (locale == 'nl') ? "recepten" : "recettes" %}
        <li {% if bodyClass == 'pgRecipeOverview' or bodyClass == 'pgRecipe' %}class="active"{% endif %}><a href="/{{ locale }}/{{ recipeURL }}">{{ __('Recipes') }}</a></li>

        {% for siloItem in silos %}
            {% set hasSub = (siloItem.chapters is not empty) ? true : false %}
            <li class="{{ siloItem.field_icon|default('') }} {% if hasSub %}hasSub{% endif %}" data-id="{{ siloItem.nid }}">
                <a href="#{{ siloItem.title }}">{{ siloItem.title }}</a>
                {% if hasSub %}
                    <ul>
                        {% for chapter in siloItem.chapters|castToArray %}
                            <li><a class="icon-{{ chapter.field_icon|default('') }}" href="{{ chapter.path }}">{{ chapter.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}

        <li><a href="https://simplyyou.carrefour.eu/{{ locale }}" target="_blank">Simply You</a></li>

    </ul>

</nav>