<div class="nav social">
    <ul>
        <li class="facebook"><a href="https://www.facebook.com/Carrefourbe/?fref=ts">Facebook</a></li>
        <li class="twitter"><a href="https://twitter.com/Carrefour_bnews">Twitter</a></li>
        <li class="pinterest"><a href="https://www.pinterest.com/carrefourBEL/">Pintrest</a></li>
        {% set youTubeLink = (locale == nl) ? 'https://www.youtube.com/user/CarrefourBelgie' : 'https://www.youtube.com/user/CarrefourBelgique' %}
        <li class="youtube"><a href="{{ youTubeLink }}">Youtube</a></li>
    </ul>
</div>