{#<?php#}
<div class="nav skip">
    <ul>
        <li class="siteNav"><a href="#siteNav">{{ __('navigation') }}</a></li>
        <li class="search"><a href="#siteSearch">{{ __('search') }}</a></li>
        <li class="pageContent"><a href="#page">{{ __('page content') }}</a></li>
    </ul>
</div>