{#<?php#}
{% set nlHeading = {'text':__('Newsletter')} %}
{% set headingLevel = (data.headingLevel != '') ? data.headingLevel : '2' %}
{% set nlTextblock = {'body':__('[newslettter block text]')} %}
{% set nlLink = {'label':__('[newsletter subscribe text]')} %}
{% set nlLinkURL = __('[newsletter URL]') %}

{% embed 'generic/sctContainer' with {'data':{'class':'newsletter'}} %}
	{% block header %}
		{% include 'generic/cntHeading' with {'data':{'content':nlHeading, 'level':headingLevel}} %}
	{% endblock %}
	{% block main %}
		{% include 'generic/cntTextblock' with {'data':{'content':nlTextblock}} %}
	{% endblock %}
	{% block footer %}
		{% include 'generic/lnkTyped' with {'data':{'content':nlLink, 'url':nlLinkURL, 'variant':'more'}} %}
	{% endblock %}
{% endembed %}
