{% extends "generic/hcpModule.twig" %}


{# DEFAULT VALUES FOR VARIABLES #}
{% set image = false %}						{% set nodeLinked = false %}			{% set intro = false %}
{% set actions = false %}					{% set newsletter = false %}			{% set relatedTagged = false %}
{% set relatedRecipes = false %}			{% set columnized = false %}			{% set abstract = false %}
{% set meta = false %}						{% set schema = false %}				{% set instructions = false %}
{% set ingredients = false %}				{% set tags = false %}					{% set wine = true %}
{% set detailImage = false %}               {% set contentBlocks = false %}         {% set allergensMeta = false %}


{# SET VIEWS #}
{% if data.view == 'tView' %}{% endif %}
{% if data.view == 'aView' %}{% endif %}
{% if data.view == 'vView' %}
	{% set nodeLinked = true %}
	{% set image = true %}
{% endif %}
{% if data.view == 'vaView' %}
	{% set nodeLinked = true %}
	{% set image = true %}
	{% set abstract = true %}
{% endif %}
{% if data.view == 'dView' %}
	{% set detailImage = true %}
	{% set intro = true %}
	{% set instructions = true %}
	{% set meta = true %}
	{% set actions = true %}
	{% set newsletter = true %}
	{% set relatedRecipes = true %}
	{% set relatedTagged = true %}
	{% set schema = true %}
	{% set columnized = true %}
	{% set ingredients = true %}
	{# set tags = true #} {# removed for v1 #}
	{% set wine = true %}
    {% set contentBlocks = true %}
    {% set allergensMeta = true %}
{% endif %}


{# SET VARIABLES  #}
{#<?php#}
{% set cId = data.content.nid %}
{% set cHeading = {'text':data.content.title|default('')} %}
{% set cRecipeYield = {'label':__('Number of people'), 'value':data.content.field_amount_of_persons.name|default('')} %}
{% set cPrepTime = {'label':__('Time to prepare'), 'value':data.content.field_preparation_time.name|default('')} %}
{% set cCookTime = {'label':__('Time to cook'), 'value':data.content.field_worktime.name|default('')} %}
{% set cDifficulty = {'label':__('Difficulty'), 'value':data.content.field_difficulty.name|default('')} %}
{% set cDifficultyClass = 'icon-' ~ data.content.field_difficulty.field_html_class[0].value|default('') %}
{% set cCost = {'label':__('Cost'), 'value':data.content.field_budget.name|default('')} %}
{% set cCostClass = data.content.field_budget.field_html_class[0].value|default('') %}
{% set cIntro = {'body':data.content.field_intro|default('')} %}
{% set cVideo = data.content.field_main_video.field_media_video_embed_field|default('') %}
{% set cAbstract = {'body':data.content.field_teaser_text|default('')} %}
{% set cIngredientsHeading = {'text':__('ingredients')} %}
{% set cIngredientsToggle = {'items':[{'label':__('2p.'), 'url':'#2p'},{'label':__('4p.'), 'url':'#4p'}]}%}
{% set cIngredientGroups = data.content.field_ingredient_groups|default('') %}
{% set cInstructionsHeading = {'text':__('instructions')} %}
{% set cInstructions = data.content.field_steps|default('') %}
{% set cTagsHeading = {'text':__('tags')} %}
{% set cTags = data.content.field_tags|default('') %}
{% set cWineID = data.content.field_wine_drive_id|default('')%}
{% set cWineHeading = {'text':__('Wine recommendation')} %}
{% set cWineName = data.content.field_wine_title|default('') %}
{% set cWineByline = data.content.field_wine_subtitle|default('') %}
{% set cWineImage = {'src':data.content.field_wine_image.field_image.styles.smallest_square|default('')} %}
{% set cWineWarning = {'body':__('<em>Enjoy alcohol responsibly. </em>')} %}
{% if cWineID matches '/^\\d+$/' %}
	{% set cWineURL = 'https://www.drive.be/' ~ locale ~ '/landingproduct/' ~ cWineID ~ '?store_ref=D0615' %}
{% else %}
	{% set cWineURL = cWineID %}
{% endif %}

{% set cContentBlocks = data.content.field_components|default('') %}
{% set cAllergenIncl = data.content.field_contains_allergens|default('') %}
{% set cAllergenExcl = data.content.field_excluded_allergens|default('') %}

{# NEEDED FOR SCHEMA.ORG DATA - PROBABLY NEEDS MORE STABLE SOLUTION #}
{% set cPrepTimeCleanedUp = data.content.field_preparation_time.name|replace({'.':'', ' ':'', 'min':'M', 'h':'H', 'u':'H'})|upper %}
{% set cCookTimeCleanedUp = data.content.field_worktime.name|replace({'.':'', ' ':'', 'min':'M', 'h':'H', 'u':'H'})|upper %}

{% set cURL = data.content.path %}
{% set headingLevel = (data.view == 'dView') ? '1' : '3' %}

{# SET IMAGE #}
{% if data.content.field_1x1_thumbnail|default('') != '' %}
    {% set imageStyles = data.content.field_1x1_thumbnail.field_image.styles %}
{% else %}
    {% set imageStyles = data.content.field_2x1_thumbnail.field_image.styles %}
{% endif %}
{% if data.content.field_2x1_thumbnail|default('') != '' %}
    {% set imageStylesAlt = data.content.field_2x1_thumbnail.field_image.styles %}
{% else %}
    {% set imageStylesAlt = data.content.field_1x1_thumbnail.field_image.styles %}
{% endif %}
{% set imageStylesCover = data.content.field_cover_image.field_image.styles %}

{% if data.context == 'teaserGrid' %}
    {% if data.view == 'vView' %}
        {% set cImage = {'src':imageStyles.smallest_square} %}
        {% set breakpoints = [{'max':'360','src':imageStyles.small_square},{'max':'767','src':imageStyles.medium_square}] %}
    {% elseif data.view == 'vaView' %}
        {% set cImage = {'src':imageStylesAlt.small_2x1} %}
        {% set breakpoints = [{'max':'360','src':imageStyles.small_square},{'max':'767','src':imageStyles.medium_square}] %}
    {% endif %}
{% else %}
    {% if data.view == 'dView' %}
        {% set cImageMain = {'src':imageStylesCover.largest_cover} %}
        {% set cImageMainBreakpoints = [{'max':'360', 'src':imageStylesCover.small_cover}, {'max':'600', 'src':imageStylesCover.medium_cover},{'max':'850', 'src':imageStylesCover.large_cover}] %}
    {% else %}
        {% if data.context == 'related' %}
            {% set cImage = {'src':imageStylesAlt.medium} %}
            {% set breakpoints = [{'max':'360','src':imageStylesAlt.medium},{'max':'720','src':imageStylesAlt.large}] %}
        {% else %}
            {% set cImage = {'src':imageStyles.small_square} %}
            {% set breakpoints = [{'max':'360','src':imageStyles.small_square},{'max':'480','src':imageStyles.medium_square}] %}
        {% endif %}
    {% endif %}
{% endif %}

{# set base classes #}
{% set hasVideo = (data.content.field_contains_video == 1 or data.content.field_main_video|default('') != '') ? 'hasVideo' : '' %}
{% set moduleType = 'recipeItem' %}
{% set containerClass = moduleType ~ ' ' ~ data.view ~ ' ' ~ data.variant ~ ' ' ~ hasVideo %}

{# SCHEMA BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block schema %}
	{% if schema %}
		{
			"@context": "http://schema.org",
			"@type": "Recipe",
			"datePublished": "{{ data.content.created|date('Y-m-d') }}",
            "name": "{{ data.content.title  }}",
			"description": "{{ data.content.teaser_text|striptags|default('') }}",
			"image": "{{ data.content.field_cover_image.field_image.url }}",
			"recipeInstructions": [
				{% set instructionCounter = 1 %}
				{% for instruction in cInstructions %}
					{% if instruction.type == 'recipe_step'%}
						{% if instructionCounter != 1 %},{% endif %}"{{ instructionCounter }}: {{ instruction.field_text|striptags }}"
						{% set instructionCounter = instructionCounter + 1 %}
					{% endif %}
				{% endfor %}
			],
			"recipeIngredient": [
				{% for ingredientGroup in cIngredientGroups %}
					{% for ingredient in ingredientGroup.field_ingredients %}
						{% if loop.index != 1 or loop.parent.loop.index != 1%},{% endif %}"{{ ingredient.field_title }}"
					{% endfor %}
				{% endfor %}
			],
            "description": "{{ data.content.field_intro|default('')|striptags }}",
            "prepTime": "PT{{ cPrepTimeCleanedUp }}",
            "cookTime": "PT{{ cCookTimeCleanedUp }}",
			"recipeYield": "{{ data.content.field_amount_of_persons.name|default('')}} people",
            "nutrition": {
                "@type": "NutritionInformation",
                "description": "{{ data.content.field_nutritional_info|default('')|striptags }}"
            },
			"author": {
				"@type": "Organization",
				"name": "Carrefour"
			}
        }
	{% endif %}
{% endblock %}

{# PREARTICLE BLOCK ------------------------------------------------------------------------------------------------- #}
{% block preArticle %}
	{# @TODO: Technical debt: duplication of image to ease styling headaches and reduce chance of bugs #}
	{% if detailImage %}
		<figure>
            {% include 'generic/cntImage' with {'data':{'content':cImageMain, 'variant':'main', 'breakpoints':cImageMainBreakpoints}} %}
			{% if hasVideo != '' %}
				<div class="video youtube">
					<div id="recipeVideo" data-video="{{ cVideo }}"></div>
				</div>
			{% endif %}
		</figure>
	{% endif %}
{% endblock %}

{# HEADER BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block header %}
	{# heading #}
	{% include 'generic/cntHeading' with {'data':{'content':cHeading, 'level':headingLevel}} %}

	{# header meta data #}
	{% if meta %}
		<div class="meta">
			{% include 'generic/cmpLabelValue' with {'data':{'content':cRecipeYield, 'class':'recipeYield'}} %}
			{% include 'generic/cmpLabelValue' with {'data':{'content':cPrepTime, 'class':'prepTime'}} %}
			{% include 'generic/cmpLabelValue' with {'data':{'content':cCookTime, 'class':'cookTime'}} %}
			{% include 'generic/cmpLabelValue' with {'data':{'content':cDifficulty, 'class':'difficulty ' ~ cDifficultyClass}} %}
			{% include 'generic/cmpLabelValue' with {'data':{'content':cCost, 'class':'cost ' ~ cCostClass}} %}
		</div>
	{% endif %}

	{# abstract #}
	{% if abstract %}{% include 'generic/cntTextblock' with {'data':{'content':cAbstract,'variant':'abstract','pWrapped':true}} %}{% endif %}
{% endblock %}


{# FIGURE BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block figure %}
	{# image #}
	{% if image %}{% include 'generic/cntImage' with {'data':{'content':cImage, 'breakpoints':breakpoints}} %}{% endif %}
{% endblock %}


{# MAIN BLOCK ------------------------------------------------------------------------------------------------------- #}
{% block main %}
	{# intro #}
	{% if intro %}{% include 'generic/cntTextblock' with {'data':{'content':cIntro,'variant':'intro'}} %}{% endif %}

	{# ingredients #}
	{% if ingredients %}
		{% set cSkipIngredients = {'label':'Ingredients'} %}
		{% include 'generic/lnkTyped' with {'data':{'content':cSkipIngredients, 'url':'#ingredients', 'variant':'ingredients'}}  %}
	{% endif %}

	{# instructions #}{#<?php#}
	{% if instructions %}
		{% embed 'generic/sctContainer' with {'data':{'class':'instructions'}} %}
			{% block header %}
				{% include 'generic/cntHeading' with {'data':{'content':cInstructionsHeading, 'level':'2'}} %}
			{% endblock %}
			{% block main %}
				{% set instructionCounter = 1 %}
				{% for instruction in cInstructions %}
					{% if instruction.type == 'recipe_step'%}
						{% set instructionBody = {'body':'<div class="step">'~instructionCounter~'</div>'~instruction.field_text} %}
						{% include 'generic/cntTextblock' with {'data':{'content':instructionBody}} %}
						{% set instructionCounter = instructionCounter + 1 %}
					{% else %}
						{% set notificationClass = (instruction.type == 'recipe_tip') ? 'tip' : 'hint' %}
						{% embed 'generic/sctNotification' with {'data':{'variant':notificationClass}} %}
							{% block header %}
								{% set notificationHeading = {'text': (instruction.type == 'recipe_tip') ? __('tip') : __('hint') } %}
								{% include 'generic/cntHeading' with {'data':{'content':notificationHeading, 'level':'3'}} %}
							{% endblock %}
							{% block main %}
								{% set notificationBody = {'body':instruction.field_text} %}
								{% include 'generic/cntTextblock' with {'data':{'content':notificationBody}} %}
							{% endblock %}
						{% endembed %}
					{% endif %}
				{% endfor %}
			{% endblock %}
		{% endembed %}
	{% endif %}
    {% if contentBlocks %}
        {% for index, block in cContentBlocks %}
            {% if block.type == 'full_text' or block.type == 'image_left' or block.type == 'image_right' %}
                {% include 'carrefour/contentFree' with {'data':{'content':block, 'type':block.type}} %}
            {% elseif block.type == 'images' %}
                {% include 'carrefour/contentBlock' with {'data':{'content':block}} %}
            {% elseif block.type == 'slider' %}
                {% include 'carrefour/contentSlider' with {'data':{'content':block}} %}
            {% elseif block.type == 'image_gallery' %}
                {% include 'carrefour/contentGallery' with {'data':{'content':block, 'galleryName': 'gallery_' ~ index}} %}
            {% elseif block.type == 'cta' %}
                {% include 'carrefour/contentCta' with {'data':{'content':block}} %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}

{# FOOTER BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block footer %}
    {% if actions %}
        <div class="share">
            <!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_inline_share_toolbox"></div>
        </div>
    {% endif %}
{% endblock %}

{# ASIDE BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block aside %}

	{% if ingredients %}
		<div class="shadowContent">
            {# nutritional info #}{#<?php#}
            {% if data.content.field_nutritional_info|default('') != '' %}
                <section class="nutritionalInfo">
                    <header><h2 class="heading">{{ __('Nutritional info') }}</h2></header>
                    <div class="main">
                        <div class="textblock">{{ data.content.field_nutritional_info|raw }}</div>
                    </div>
                </section>
            {% endif %}

			{# ingredients #}
			{% if ingredients %}
				{% embed 'generic/sctContainer' with {'data':{'class':'ingredients', 'id':'ingredients'}} %}
					{% block header %}
						{% include 'generic/cntHeading' with {'data':{'content':cIngredientsHeading, 'level':'2'}} %}
						{% include 'generic/navBasic' with {'data':{'content':cIngredientsToggle, 'class':'portionToggle'}} %}
					{% endblock %}
					{% block main %}
						{% for ingredientGroup in cIngredientGroups %}
							{% embed 'generic/sctContainer' with {'data':{'class':'ingredientGroup'}} %}
								{% block header %}
									{% set ingredientGroupHeading = {'text': ingredientGroup.field_group_label.name} %}
									{% include 'generic/cntHeading' with {'data':{'content':ingredientGroupHeading, 'level':'3'}} %}
								{% endblock %}
								{% block main %}
									<table>
										<thead>
											<tr>{#<?php#}
                                                <th>{{ __('ingredient') }}</th>
												<th>{{ __('portion for 2 people') }}</th>
												<th>{{ __('portion for 4 people') }}</th>
											</tr>
										</thead>
										<tbody>
											{% for ingredient in ingredientGroup.field_ingredients %}
												<tr class="ingredient">
													{% set ingredientName = ingredient.field_title %}
													{% set ingredientAmount2p = ingredient.field_amount_2_persons|default('') %}
													{% set ingredientAmount4p = ingredient.field_amount_4_persons|default('') %}
													{% set ingredientUnit = ingredient.field_unit_type.name|default('') %}

                                                    {% set ingredientLinkId = ingredient.field_drive_id|default('') %}
                                                    {% if ingredientLinkId != '' %}
                                                        {% set ingredientLinkURL = 'https://www.drive.be/' ~ locale ~ '/landingproduct/' ~ ingredientLinkId ~ '?store_ref=D0615' %}
                                                    {% else %}
                                                        {% set ingredientLinkURL = (ingredient.field_drive_link.uri|default('') != '') ? ingredient.field_drive_link.uri : '' %}
                                                    {% endif %}

                                                    <td class="name">
                                                        {% if ingredientLinkURL != '' %}<a href="{{ ingredientLinkURL }}">{% endif %}
                                                            {{ ingredientName }}
                                                        {% if ingredientLinkURL != '' %}</a>{% endif %}
                                                    </td>
													<td class="amount p2">{{ ingredientAmount2p ~ ' ' ~ ingredientUnit}}</td>
													<td class="amount p4">{{ ingredientAmount4p ~ ' ' ~ ingredientUnit }}</td>
												</tr>
											{% endfor %}
										</tbody>
									</table>
								{% endblock %}
							{% endembed %}
						{% endfor %}
					{% endblock %}
				{% endembed %}
			{% endif %}

			{# tags #}
			{% if tags and cTags|default('') != '' %}
				{% embed 'generic/sctContainer' with {'data':{'class':'tags'}} %}
					{% block header %}
						{% include 'generic/cntHeading' with {'data':{'content':cTagsHeading, 'level':'2'}} %}
					{% endblock %}
					{% block main %}
						<ul>
							{% for tag in cTags %}
								<li class="tag">{{ tag.name }}</li>
							{% endfor %}
						</ul>
					{% endblock %}
				{% endembed %}
			{% endif %}

			{# wine recommendation #}
			{% if wine and data.content.field_wine_title|default('') != '' %}
				{% embed 'generic/sctContainer' with {'data':{'class':'wineRecommendation'}} %}
					{% block header %}
						{% include 'generic/cntHeading' with {'data':{'content':cWineHeading, 'level':'2'}} %}
					{% endblock %}
					{% block main %}
						{% include 'generic/cntImage' with {'data':{'content':cWineImage}} %}
						<div class="wine">
                            {% if cWineID != '' %}<a href="{{ cWineURL }}">{% endif %}
                                {{ cWineName }}
                            {% if cWineID != '' %}</a>{% endif %}
                        </div>
						<div class="byline">{{ cWineByline }}</div>
						{% include 'generic/cntTextblock' with {'data':{'content':cWineWarning, 'pWrapped':true}} %}
					{% endblock %}
				{% endembed %}
			{% endif %}
		</div>
	{% endif %}

	{# newsletter block #}
	{% if newsletter %}
		{% include 'carrefour/newsletterBlock' %}
	{% endif %}
{% endblock %}
