{% extends "generic/hcpModule.twig" %}

{# AVAILABLE VARIABLES #}
{#
- silo
	- langcode
	- type
	- title
	- status
	- created
	- changed
	- field_chapters
		- langcode
		- type
		- title
		- status
		- created
		- changed
		- field_banners
		- field_icon
		- field_tags
		- url
	- field_icon
	- url
#}

{# DEFAULT VALUES FOR VARIABLES #}
{% set containerClass = 'siloItem ' ~ data.view ~ ' ' ~ data.variant %}

{% set image = false %}						{% set nodeLinked = false %}			{% set grid = false %}

{# SET VIEWS #}
{% if data.view == 'tView' %}{% endif %}
{% if data.view == 'aView' %}{% endif %}
{% if data.view == 'vView' %}
	{% set image = true %}
	{% set nodeLinked = true %}
{% endif %}
{% if data.view == 'vaView' %}
	{% set image = true %}
	{% set nodeLinked = true %}
	{% set abstract = true %}
{% endif %}
{% if data.view == 'dView' %}
	{% set grid = true %}
{% endif %}


{# SET VARIABLES  #}
{% set cHeading = {'text':data.content.heading} %}
{% set cImage = {'src':data.content.imageSrc} %}
{% set cAbstract = {'body':data.content.abstract} %}
{% set cGrid = {'teasers':data.content.grid} %}


{# HEADER BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block header %}
	{% include 'generic/cntHeading' with {'data':{'content':cHeading}} %}

	{# abstract #}
	{% if abstract %}{% include 'generic/cntTextblock' with {'data':{'content':cAbstract,'variant':'abstract'}} %}{% endif %}
{% endblock %}


{# FIGURE BLOCK ----------------------------------------------------------------------------------------------------- #}
{% block figure %}
	{% if image %}{% include 'generic/cntImage' with {'data':{'content':cImage}} %}{% endif %}
{% endblock %}


{# MAIN BLOCK ------------------------------------------------------------------------------------------------------- #}
{% block main %}
	{% if grid %}
		{% embed 'carrefour/teaserGrid' with {'data':{'content':cGrid}} %}
		{% endembed %}
	{% endif %}
{% endblock %}

{# FOOTER BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block footer %}

{% endblock %}

{# ASIDE BLOCK ------------------------------------------------------------------------------------------------------ #}
{% block aside %}

{% endblock %}
