{% set gridFilters = data.content.filters|default('') %}
{% set gridTabs = data.content.tabs|default('') %}
{% set gridTeasers = data.content.teasers|default('') %}

<section class="teaserGrid" {{ macro.printAttr('data-pattern', data.dataPattern) }} data-pattern="tabpane">
	{% if gridFilters != '' or gridTabs != '' %}
		<header>
            <div class="nav gridFilter">
                {% if gridFilters.heading %}{% include 'generic/cntHeading' with {'data':{'content':gridFilters.heading, 'level':2}} %}{% endif %}
                <ul>
                    {# @TODO: basic structure instead of difference between home and QFC for filters #}
                    {% if gridFilters != '' %}
                        {% for gridFilter in gridFilters.items %}
                            {% set hasSub = (gridFilter.chapters is not empty) ? true : false %}

                            {# @TODO: quick hack to add recipes as a direct link, not a tab #}
                            {% if loop.index == 1 %}
                                <li class="icon-recette-chef ignoreTab"><a href="{{ route('recipes') }}">{{ (locale == 'nl') ? "Recepten" : "Recettes" }}</a></li>
                            {% endif %}

                            <li class="icon-{{ gridFilter.field_icon|default('') }} {% if hasSub %}hasSub{% endif %}">
                                <a href="#teaserTab-{{ loop.index + 1 }}">{{ gridFilter.title }}</a>
                                {% if hasSub %}
                                    <ul>
                                        {% for gridFilterSub in gridFilter.chapters|castToArray %}
                                            <li class="{{ gridFilterSub.field_icon|default('') }}"><a href="{{ gridFilterSub.path|default('') }}">{{ gridFilterSub.title|default('') }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                        {% endfor %}
                    {% else %}
                        {% for gridTab in gridTabs %}
                            <li class="icon-{{ gridTab.field_icon|default('') }}" data-id="{{ gridTab.nid }}">
                                <a href="#teaserTab-{{ loop.index + 1 }}">{{ gridTab.name }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            {% if gridFilters != '' %}<div id="subFilter"></div>{% endif %}
		</header>
	{% endif %}
	<div class="main">
        <script>var teaserOffset = {}, teaserHasMore = {};</script>
        {% for teaserBlock in gridTeasers %}
            <div id="teaserTab-{{ loop.index }}" class="teaserTab" data-index="{{ loop.index }}" data-resource="{{ teaserBlock.resource }}" data-id="{{ teaserBlock.id }}" data-limit="{{ teaserBlock.limit }}" data-template="{{ teaserBlock.template }}">
                {# teasergrid items #}
                {% include 'helpers/teaserGridContent' with {'data': {'content': teaserBlock.content, 'limit': (teaserBlock.limit ? teaserBlock.limit : 0), index: loop.index, 'emptyNotification': data.emptyNotification }} %}
                {% if teaserBlock.limit %}
                    {#teasergrid load more link#}{#<?php#}
                    {% set cLoadLink = {'label':__('load more')} %}
                    {% include 'generic/lnkTyped' with {'data':{'content':cLoadLink, 'url':'#', 'variant':'loadMore'}}  %}
                {% endif %}
            </div>
        {% endfor %}

	</div>
</section>
