<a
  ng-init="hover = false" ng-mouseover="hover = true" ng-mouseout="hover = false"
  href="{{member.link || '#'}}"
  ng-class="{'dropdown-toggle': !!member.subtree}"
  data-toggle="{{member.subtree ? 'dropdown' : ''}}"
  class="cfrtopbar--link">
    <span class="cfrtopbar--linkbg">
      <span ng-if="member.icon">
        <span ng-if="(!hover) || (!member.icon_hover && hover)">
          <img ng-src="{{member.icon}}" />
        </span>
        <span ng-if="member.icon_hover && hover">
          <img ng-src="{{member.icon_hover}}" />
        </span>
      </span>
      <span ng-if="!member.icon && member.icon_font_class">
        <span ng-if="(!hover) || (!member.icon_font_class_hover && hover)">
          <span style="color: #{{member.icon_font_color}}" class="icon-font {{member.icon_font_class}}"></span>
        </span>
        <span ng-if="member.icon_font_class_hover && hover">
          <span style="color: #{{member.icon_font_color}}" class="icon-font {{member.icon_font_class_hover}}"></span>
        </span>
      </span>
      {{member.label}}
      <span ng-class="{'cf-caret': !!member.subtree}"></span>
    </span>
</a>
