.nav.enseigne {
	li a {color:transparent; display:block; padding-left:100%; overflow:hidden; width:0; height:88px; background-position:50% 17px; background-size:60px auto; background-repeat:no-repeat; transition: transform 0.2s linear;}
	li a:hover {transform: scale(1.2, 1.2);}
	li.hypermarket a {background-image:url(img/logo-hyper-nl.png);}
	li.market a {background-image:url(img/logo-market.png);}
	li.express a {background-image:url(img/logo-express.png);}
	li.online a {background-image:url(img/logo-online.png);}
	li.food a {background-image:url(img/logo-drive.png);}
	li.nonfood a {background-image:url(img/logo-express.png);}
	// context: fr site
	html[lang='fr'] & li.hypermarket a {background-image:url(img/logo-hyper-fr.png);}

	// context: in header
	#site > header & {
		> ul {padding:6px; padding-bottom:0;}
		li {padding:2px;}

		@media (max-width: 767px) {
			width:210px; display:inline-block; margin-top:5px; position:relative;
			&:after {content:""; position:absolute; left:1px; top:7px; bottom:6px; border-left:1px solid #eee;}
			ul {display:flex; flex-direction:row; flex-wrap:wrap; justify-content: center; padding:0 6px;}
			li {flex-basis:25%; padding:0;}
			li a {height:40px; background-position:50% 5px; background-size:36px auto;}
			li.hasSub {flex-basis:100%; padding:0;}
			li.hasSub > a {display:none;}
		}
		@media (min-width: 768px) {
			margin:0px 180px; height:75px;
			> ul {margin:0 auto; padding:3px 0px; max-width:510px; text-align:center;}
			li {position:relative; display:inline-block; width:24%;}
			li a {height:69px; background-position:50% 7px; width:100%;}
			> ul > li + li:after {content:""; display:block; width:1px; height:40px; position:absolute; top:14px; left:0; background:#dfdfdf; z-index:2;}

			li.hasSub > a {outline:none;}
			li.hasSub .sub {@include hide(); z-index:10;}
			li.hasSub.jShow {background:#eee;}
			> ul > li.hasSub.jShow:after {display:none;}
			li.hasSub.jShow .sub {background:#eee; position:absolute; right:0; top:100%; left:0; width:auto; height:auto;}
			li.hasSub .sub ul {display:block;}
			li.hasSub .sub ul li {padding-top:0;}
			li.hasSub .sub ul li a {background-position:center center;}
		}
		@media (min-width: 960px) {
			li a {width:110px;}
		}
	}
	// on 404 page
	.sct404 & {
		> ul {width:296px; margin:0 auto; text-align:center;}
		> ul > li {display:inline-block; width:96px;}
		> ul > li a {border-radius:6px; height:96px; background-position:50% 22px;}
		> ul > li.hasSub {position:relative;}
		> ul > li.hasSub > a {outline:none;}
		> ul > li.hasSub .sub {@include hide(); z-index:10;}
		> ul > li.hasSub.jShow:after {display:none;}
		> ul > li.hasSub.jShow .sub {position:absolute; right:0; top:100%; left:0; width:auto; height:auto;}
		> ul > li.hasSub .sub li {margin-top:4px;}
		// variant: home tile
		> ul li.home a {background:#005aa9; padding:0; padding-top:66px; width:96px; color:#fff; text-decoration:none; font-weight:700; position:relative;}
		> ul li.home a:after {@include icon($icon-home); position:absolute; left:0; right:0; text-align:center; top:20px; font-size:36px;}

		@media (min-width:524px) {
			> ul {width:500px;}
		}
		@media (min-width:724px) {
			> ul {width:700px;}
			> ul > li {width:110px;}
			> ul > li.home a {width:110px;}
		}
	}
}



