<div class="navbar-collapse collapse cfrtopbar--menuwrap cfrtopbar--menuwrap-user-menu">
  <ul class="cfrtopbar--nav nav navbar-nav">
    <li ng-class="{open: menuShown}" click-out="hideMenu()">
      <a ng-click="toggleMenu($event)" href="#" class="cfrtopbar--link">
        {{ 'LOGIN_MENU_LINK'  | translate }}
        <span class="cf-caret"></span>
      </a>
      <ul class="cfrtopbar--menu">
        <li class="cfrtopbar--menuitem">
          <a href="#" class="cfrtopbar--link dropdown-toggle">
          <span class="cfrtopbar--linkbg"><span class="topbar-icon-login"></span>{{ 'LOGIN_TITLE' | translate }}</span>
          </a>
          <div>
            <p class="cfrtopbar--login-text">{{ 'LOGIN_TEXT_FIRST' | translate }}<br/>{{ 'LOGIN_TEXT_SECOND' | translate }}</p>
            <a class="cfrtopbar--button" href="{{ loginUrl | cfrbarsLanguageUrl }}" translate="LOGIN_BUTTON"></a>
          </div>
        </li><li class="cfrtopbar--menuitem">
          <a href="#" class="cfrtopbar--link dropdown-toggle">
          <span class="cfrtopbar--linkbg"><span class="topbar-icon-register"></span>{{ 'REGISTER_TITLE' | translate }}</span>
          </a>
          <div>
            <p class="cfrtopbar--register-text">{{ 'REGISTER_TEXT_FIRST' | translate }}<br/>{{ 'REGISTER_TEXT_SECOND' | translate }}</p>
            <a class="cfrtopbar--button" href="{{ registrationUrl | cfrbarsLanguageUrl }}" translate="REGISTER_BUTTON"></a>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>
